// Container 1170px
$sectionContainer: 1580;

$mainColor: #000;
$fontFamily: RobotoMono;

// Брейк-поинты без единиц измерения
// Up to
$mbpFullHdNu: 1920; // FullHd
$mbpPCNu: 1440; // PC
$mbpTNu: 1024; // Tablets, laptops
$mbpMNu: 768; // Mobile
$mbpMMNu: 520; // Medium Mobile
$mbpSMNu: 360; // Small Mobile
$mbpESMNu: 320; // Extra Small Mobile
$mbpNanoNu: 280; // Nano (половинка Samsung Galaxy Fold)

// Брейк-поинты
// Up to
$mbpFullHd: px($mbpFullHdNu);
$mbpPC: px($mbpPCNu); // PC
$mbpT: px($mbpTNu); // Tablets, laptops
$mbpM: px($mbpMNu); // Mobile
$mbpMM: px($mbpMMNu); // Medium Mobile
$mbpSM: px($mbpSMNu); // Small Mobile
$mbpESM: px($mbpESMNu); // Extra Small Mobile
$mbpNano: px($mbpNanoNu); // Extra Small Mobile