<!DOCTYPE html>
<html lang="en">
	{{> ../../shared/partials/head
		title='Index page'
	}}
	<body>
		<style>
			* {
				cursor: default!important;
			}

			a {
				cursor: pointer!important;
			}
		</style>
		<div class="container">
			<div class="pages">
				<h3>Страницы</h3>
				<ul>
					<li><a href="./home.html" class="link">Home</a></li>
					<li><a href="./home-v2.html" class="link">Home V2</a></li>
					<li><a href="./brand-archetypes.html" class="link">Brand archetypes</a></li>
					<li><a href="./works.html" class="link">Works</a></li>
					<li><a href="./single-work.html" class="link">Single Work</a></li>
					<li><a href="./news.html" class="link">News</a></li>
					<li><a href="./single-post.html" class="link">Single post</a></li>
					<li><a href="./ideas.html" class="link">Ideas</a></li>
					<li><a href="./contact.html" class="link">Contact</a></li>
					<li><a href="./competencies.html" class="link">Competencies</a></li>
					<li><a href="./competencies-mob.html" class="link">Competencies mob</a></li>
					<li><a href="./about-us.html" class="link">About us</a></li>
					<li><a href="./cookies.html" class="link">Cookies</a></li>
					<li><a href="./brief.html" class="link">Brief</a></li>
					{{!-- <li><a href="./request.html" class="link">Request</a></li> --}}
					<li><a href="./team.html" class="link">Team</a></li>
					<li><a href="./careers.html" class="link">Careers</a></li>
					<li><a href="./designer-application.html" class="link">Designer application</a></li>
					<li><a href="./feedback.html" class="link">Feedback</a></li>
					<li><a href="./privacy-policy.html" class="link">Privacy policy</a></li>
					<li><a href="./version-select.html" class="link">Version select</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>