@import "../../../shared/styles/mixins.scss";
@import "../../../shared/styles/config.scss";

.hero {
	& h1 {
		margin-bottom: 100px;
		@media (max-width: $mbpM) {
			margin-bottom: 80px;
		}
	}
}
.idea-card {
	display: inline-block;
	max-width: 790px;
	pointer-events: none;
	@media (hover: hover) {
		&:hover {
			opacity: 1;
			//z-index: 2;
		}
	}
	@keyframes idea-card-hidding {
		from { transform: translateY(); opacity: 1; }
		to { transform: translateY(-30px); opacity: 0; }
	}
	@keyframes idea-card-showing {
		from { transform: translateY(-30px); opacity: 0; }
		to { transform: translateY(0); opacity: 1; }
	}
	&.hidding {
		animation: 0.2s ease-out forwards idea-card-hidding;
	}
	&.showing {
		animation: 0.2s ease-in forwards idea-card-showing;
	}
	&.hidden {
		display: none;
	}
	&__img img {
		position: fixed;
		left: var(--img-shift-left, 0);
		top: var(--img-shift-top, 0);
		width: 100%;
		height: 100%;
		z-index: 3;
		object-fit: contain;
		visibility: hidden;
		opacity: 0;
		//transition: visibility 0.4s, opacity 0.4s;
	}
	
	&__category {
		font-size: 24px;
		font-weight: 500;
		line-height: 110%;
		letter-spacing: -0.012em;
		text-transform: uppercase;
		margin-bottom: 50px;
		pointer-events: all;
		@include aval(font-size, 16, 24, "both", 360, 768);
		@media (max-width: $mbpM) {
			margin-bottom: 24px;
		}
	}
	&__title {
		font-size: 60px;
		font-weight: 500;
		line-height: 120%;
		letter-spacing: -0.048em;
		pointer-events: all;
		@include aval(font-size, 32, 60, "both", 360, 768);
	}
	@media (hover: hover) {
		&:hover &__img img {
			visibility: visible;
			opacity: 1;
		}
		&:hover &__body {
			position: relative;
			z-index: 4;
		}
	}
}

.ideas-grid {
	overflow: hidden;
	&__card {
		transition: opacity 0.4s;
	}
	@media (min-width: ($mbpT + 1px)) {
		&__card[data-column="1"] {
			margin-left: 5%;
		}
		&__card[data-column="2"] {
			margin-left: 10%;
		}
		&__card[data-column="3"] {
			margin-left: 15%;
		}
		&__card[data-column="4"] {
			margin-left: 20%;
		}
		&__card[data-column="5"] {
			margin-left: 25%;
		}
		&__card[data-column="6"] {
			margin-left: 30%;
		}
	}
	&__container {
		padding-bottom: 240px;
		@media (max-width: $mbpM) {
			padding-bottom: 120px;
		}
		@media (max-width: $mbpMM) {
			padding-bottom: 88px;
		}
	}
	&__body {
		display: grid;
		gap: 150px;
		align-items: start;
		justify-items: start;
		@media (max-width: $mbpM) {
			gap: 88px;
		}
	}
	@media (hover: hover) {
		&.has-hovered-item &__card:not(:hover) {
			opacity: 0.2;
		}
	}
}
