@import "../../../shared/styles/mixins.scss";
@import "../../../shared/styles/config.scss";
@import "./zoomer-keyframes.scss";

// .toast-msg {
// 	position: fixed;
// 	left: 0;
// 	top: 0;
// 	height: 20px;
// 	color: red;
// }
.home {
	&__top-cases .top-cases__container {
		padding-bottom: 62px;
	}
}
.hero {
	position: sticky;
	left: 0;
	top: 0;
	z-index: 0;
	&__slider {
		position: relative;
		//z-index: 1;
		height: 100vh;
		margin: 0 calc((100vw - 100% - var(--scrollbar-width)) / -2);
	}
	&__logo-layer {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		pointer-events: none;
		//transition: transform ease-in-out 0.6s;
	}
	.header_hidden ~ main & &__logo-layer {
		transform: translateY(-100%);
	}
	&__logo-container {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		padding-top: var(--header-padding-top);
	}
	&__logo {
		flex: 0 0 auto;
		position: relative;
		z-index: 2;
		left: 0;
		height: auto;
		width: var(--logo-width);
		mix-blend-mode: exclusion;
		&.with-transition {
			transition: opacity 0.6s;
		}
		&.hidden {
			opacity: 0;
		}
		.logo-animation-completed {
			display: none;
		}
	}
	html.is-mobile &__animated-logo {
		display: none;
	}
	html:not(.is-mobile) &__mob-logo {
		display: none;
	}
}
#RGBLogo {
	margin: 0 -0.6%;
}
.about {
	z-index: 1;
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100vh;
		padding: 250px 0;
		@media (max-width: $mbpT) {
			min-height: auto;
			padding-top: 180px;
		}
		@media (max-width: $mbpM) {
			padding: 93px 0 88px;
		}
	}
	&__desc {
		@media (max-width: $mbpT) {
			display: none;
		}
	}
	&__mob {
		position: relative;
		left: 0;
		top: 0;
		pointer-events: none;
		overflow: hidden;
		@media (min-width: ($mbpT + 1px)) {
			display: none;
		}
	}
	&__inner {
		&_mob {
			position: relative;
			left: 0;
			top: 0;
			padding-top: 74%;
			@media (max-width: $mbpM) {
				padding-top: 88%;
			}
		}
	}
	&__player {
		position: absolute;
		left: -0.4%;
		top: 0;
		height: 100%;
		width: calc(var(--container-margin) + 108%);
		@media (max-width: 985px) {
			width: calc(var(--container-margin) + 107.5%);
		}
		@media (max-width: 850px) {
			width: calc(var(--container-margin) + 106.5%);
		}
		@media (max-width: 800px) {
			left: -0.4%;
			width: calc(var(--container-margin) + 106%);
		}
		@media (max-width: 750px) {
			width: calc(var(--container-margin) + 105%);
		}
		@media (max-width: 700px) {
			left: 0;
			width: calc(var(--container-margin) + 103%);
		}
		@media (max-width: 600px) {
			left: -0.4%;
			width: calc(var(--container-margin) + 103%);
		}
		@media (max-width: $mbpMM) {
			left: -0.3%;
			width: calc(var(--container-margin) + 104%);
		}
		@media (max-width: 440px) {
			left: -0.3%;
			width: calc(var(--container-margin) + 103%);
		}
		@media (max-width: $mbpSM) {
			left: -0.6%;
			width: calc(var(--container-margin) + 104%);
		}
		html[data-theme="dark"] &_light,
		html[data-theme="light"] &_dark {
			visibility: hidden;
		}
		@media (min-width: ($mbpM + 1px)) {
			&_m {
				visibility: hidden;
			}
		}
		@media (max-width: $mbpM), (min-width: ($mbpT + 1px)) {
			&_t {
				visibility: hidden;
			}
		}
	}
	&__overlay {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
	}
	h1 {
		color: var(--light-black, #0B0B0B);
		font-weight: 500;
		max-width: 1490px;
		margin-bottom: 127px;
		--save-space: 0.2em;
		--hidding-shift: 1.4em;
		letter-spacing: -0.08em;
		@include aval(font-size, 40, 110, "both", 360,  1680);
		@media (max-width: $mbpT) {
			margin-bottom: 80px;
		}
		@media (max-width: $mbpM) {
			margin-bottom: 40px;
		}
	}
	&__decor {
		width: 50%;
		align-self: flex-end;
		mix-blend-mode: exclusion;
		@media (max-width: $mbpM) {
			width: 100%;
		}
	}
	&__rgb-set {
		width: 100%;
	}
}
#logo-animation-spacer {
	height: 100vh;
}
.about-text-wrap {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
	opacity: 0;
	.sliding-text_active & {
		align-items: flex-start;
		text-align: left;
	}
	&.splitted {
		opacity: 1;
	}
}
.zoom-slider-control {
	display: inline-block;
	font-size: 16px;
	margin: 0 auto;
	$transitionTime: 0.25s;
	user-select: none;
	&__label {
		// color: var(--light-black, #0B0B0B);
		// font-weight: 500;
		// line-height: 110%;
		// letter-spacing: -0.048em;
		// text-transform: uppercase;
		// margin-bottom: 25px;
		display: none;
	}
	&__body {
		display: flex;
		align-items: end;
		position: relative;
		left: 0;
		top: 0;
		width: 417px;
		justify-content: space-between;
		&::after {
			content: "";
			display: block;
			position: absolute;
			left: calc(-50vw + 50%);
			bottom: 0;
			width: 100vw;
			height: 0.5px;
			background-color: var(--container-border, rgba($color: #0B0B0B, $alpha: 0.2));
			transition: background-color 0.4s;
		}
	}
	&__zoom-out-btn, &__zoom-in-btn {
		display: inline-flex;
		flex: 0 0 24px;
		width: 24px;
		height: 16px;
		align-items: center;
		justify-content: center;
		transform-origin: bottom center;
		transition: opacity 0.4s, transform 0.4s;
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.6;
				transform: scaleY(1.16);
			}
		}
	}
	&__zoom-out-btn {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 2px;
		& > span {
			display: inline-block;
			height: 100%;
			border: 1px solid var(--white, white);
		}
		margin-right: 52px;
	}
	&__zoom-in-btn {
		border: 1px solid var(--white, white);
		margin-left: 52px;
	}
	&__bar {
		--bar-width: 265px;
		flex: 1 1 auto;
		display: flex;
		justify-content: space-between;
		position: relative;
		left: 0;
		top: 0;
		cursor: pointer;
		&::before, &::after {
			content: "";
			display: inline-block;
			position: relative;
			top: 0;
			width: var(--width);
			background: var(--white, white);
		}
		&::before {
			--width: 4.0318px;
			left: calc(var(--width) / 2);
			margin-left: calc(var(--width) / -2);
		}
		&::after {
			--width: 0.504px;
			left: calc(var(--width) / -2);
			margin-right: calc(var(--width) / -2);
		}
		& > * {
			--width: 0.7115px;
			position: relative;
			left: 0;
			top: 0;
			height: 16px;
			width: 0;
			will-change: height;
			transition: height 0.4s;
			transform-origin: bottom center;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: calc(var(--width) / -2);
				width: var(--width);
				height: 100%;
				background: var(--white, white);
				will-change: width, transform, left;
			}
		}
		@media (any-hover: hover) {
			&:hover > * {
				height: calc(16px * 1.16);
			}
		}
		& > *:before {
			transition: transform 0.4s;
		}
		& > *:nth-child(16) {
			--width: 0.7115px;
		}
		& > *:nth-child(15) {
			--width: 0.919px;
		}
		& > *:nth-child(14) {
			--width: 1.1265px;
		}
		& > *:nth-child(13) {
			--width: 1.334px;
		}
		& > *:nth-child(12) {
			--width: 1.5416px;
		}
		& > *:nth-child(11) {
			--width: 1.7491px;
		}
		& > *:nth-child(10) {
			--width: 1.9566px;
		}
		& > *:nth-child(9) {
			--width: 2.1641px;
		}
		& > *:nth-child(8) {
			--width: 2.3716px;
		}
		& > *:nth-child(7) {
			--width: 2.5792px;
		}
		& > *:nth-child(6) {
			--width: 2.7867px;
		}
		& > *:nth-child(5) {
			--width: 2.9942px;
		}
		& > *:nth-child(4) {
			--width: 3.2017px;
		}
		& > *:nth-child(3) {
			--width: 3.4192px;
		}
		& > *:nth-child(2) {
			--width: 3.6167px;
		}
		& > *:nth-child(1) {
			--width: 3.8243px;
		}
	}
	
	// x3 -> x2
	&[data-prev-zoom=x3][data-current-zoom=x2] &__bar > *:nth-child(1)::before {
		animation: $transitionTime linear 0s 1 forwards x3-x2-1;
	}
	&[data-prev-zoom=x3][data-current-zoom=x2] &__bar > *:nth-child(2)::before {
		animation: $transitionTime linear 0s 1 forwards x3-x2-2;
	}
	&[data-prev-zoom=x3][data-current-zoom=x2] &__bar > *:nth-child(3)::before {
		$sectionTransition: calc($transitionTime / 1.78);
		animation: $sectionTransition * 0.78 linear $sectionTransition 1 forwards x3-x2-3;
	}
	&[data-prev-zoom=x3][data-current-zoom=x2] &__bar > *:nth-child(4)::before {
		animation: $transitionTime linear 0s 1 forwards x3-x2-4;
	}
	&[data-prev-zoom=x3][data-current-zoom=x2] &__bar > *:nth-child(5)::before {
		$sectionTransition: calc($transitionTime / 1.66);
		animation: $sectionTransition * 0.66 linear $sectionTransition 1 forwards x3-x2-5;
	}
	&[data-prev-zoom=x3][data-current-zoom=x2] &__bar > *:nth-child(6)::before {
		animation: $transitionTime linear 0s 1 forwards x3-x2-6;
	}
	&[data-prev-zoom=x3][data-current-zoom=x2] &__bar > *:nth-child(7)::before {
		$sectionTransition: calc($transitionTime / 1.56);
		animation: $sectionTransition * 0.56 linear $sectionTransition 1 forwards x3-x2-7;
	}
	&[data-prev-zoom=x3][data-current-zoom=x2] &__bar > *:nth-child(8)::before {
		animation: $transitionTime linear 0s 1 forwards x3-x2-8;
	}
	&[data-prev-zoom=x3][data-current-zoom=x2] &__bar > *:nth-child(9)::before {
		$sectionTransition: calc($transitionTime / 1.44);
		animation: $sectionTransition * 0.44 linear $sectionTransition 1 forwards x3-x2-9;
	}
	&[data-prev-zoom=x3][data-current-zoom=x2] &__bar > *:nth-child(10)::before {
		animation: $transitionTime linear 0s 1 forwards x3-x2-10;
	}
	&[data-prev-zoom=x3][data-current-zoom=x2] &__bar > *:nth-child(11)::before {
		$sectionTransition: calc($transitionTime / 1.33);
		animation: $sectionTransition * 0.33 linear $sectionTransition 1 forwards x3-x2-11;
	}
	&[data-prev-zoom=x3][data-current-zoom=x2] &__bar > *:nth-child(12)::before {
		animation: $transitionTime linear 0s 1 forwards x3-x2-12;
	}
	&[data-prev-zoom=x3][data-current-zoom=x2] &__bar > *:nth-child(13)::before {
		$sectionTransition: calc($transitionTime / 1.22);
		animation: $sectionTransition * 0.22 linear $sectionTransition 1 forwards x3-x2-13;
	}
	&[data-prev-zoom=x3][data-current-zoom=x2] &__bar > *:nth-child(14)::before {
		animation: $transitionTime linear 0s 1 forwards x3-x2-14;
	}
	&[data-prev-zoom=x3][data-current-zoom=x2] &__bar > *:nth-child(15)::before {
		$sectionTransition: calc($transitionTime / 1.11);
		animation: $sectionTransition * 0.11 linear $sectionTransition 1 forwards x3-x2-15;
	}
	&[data-prev-zoom=x3][data-current-zoom=x2] &__bar > *:nth-child(16)::before {
		animation: $transitionTime linear 0s 1 forwards x3-x2-16;
	}
	// x2 -> x3
	&[data-prev-zoom=x2][data-current-zoom=x3] &__bar > *:nth-child(1)::before {
		animation: $transitionTime linear 0s 1 forwards x2-x3-1;
	}
	&[data-prev-zoom=x2][data-current-zoom=x3] &__bar > *:nth-child(2)::before {
		animation: $transitionTime linear 1 forwards x2-x3-2;
	}
	&[data-prev-zoom=x2][data-current-zoom=x3] &__bar > *:nth-child(3)::before {
		$sectionTransition: calc($transitionTime / 1.78);
		animation: $sectionTransition * 0.78 linear forwards x2-x3-3;
	}
	&[data-prev-zoom=x2][data-current-zoom=x3] &__bar > *:nth-child(4)::before {
		animation: $transitionTime linear 0s 1 forwards x2-x3-4;
	}
	&[data-prev-zoom=x2][data-current-zoom=x3] &__bar > *:nth-child(5)::before {
		$sectionTransition: calc($transitionTime / 1.66);
		animation: $sectionTransition * 0.66 linear 1 forwards x2-x3-5;
	}
	&[data-prev-zoom=x2][data-current-zoom=x3] &__bar > *:nth-child(6)::before {
		animation: $transitionTime linear 0s 1 forwards x2-x3-6;
	}
	&[data-prev-zoom=x2][data-current-zoom=x3] &__bar > *:nth-child(7)::before {
		$sectionTransition: calc($transitionTime / 1.56);
		animation: $sectionTransition * 0.56 linear 1 forwards x2-x3-7;
	}
	&[data-prev-zoom=x2][data-current-zoom=x3] &__bar > *:nth-child(8)::before {
		animation: $transitionTime linear 0s 1 forwards x2-x3-8;
	}
	&[data-prev-zoom=x2][data-current-zoom=x3] &__bar > *:nth-child(9)::before {
		$sectionTransition: calc($transitionTime / 1.44);
		animation: $sectionTransition * 0.44 linear 1 forwards x2-x3-9;
	}
	&[data-prev-zoom=x2][data-current-zoom=x3] &__bar > *:nth-child(10)::before {
		animation: $transitionTime linear 0s 1 forwards x2-x3-10;
	}
	&[data-prev-zoom=x2][data-current-zoom=x3] &__bar > *:nth-child(11)::before {
		$sectionTransition: calc($transitionTime / 1.33);
		animation: $sectionTransition * 0.33 linear 1 forwards x2-x3-11;
	}
	&[data-prev-zoom=x2][data-current-zoom=x3] &__bar > *:nth-child(12)::before {
		animation: $transitionTime linear 0s 1 forwards x2-x3-12;
	}
	&[data-prev-zoom=x2][data-current-zoom=x3] &__bar > *:nth-child(13)::before {
		$sectionTransition: calc($transitionTime / 1.22);
		animation: $sectionTransition * 0.22 linear 1 forwards x2-x3-13;
	}
	&[data-prev-zoom=x2][data-current-zoom=x3] &__bar > *:nth-child(14)::before {
		animation: $transitionTime linear 0s 1 forwards x2-x3-14;
	}
	&[data-prev-zoom=x2][data-current-zoom=x3] &__bar > *:nth-child(15)::before {
		$sectionTransition: calc($transitionTime / 1.11);
		animation: $sectionTransition * 0.11 linear 1 forwards x2-x3-15;
	}
	&[data-prev-zoom=x2][data-current-zoom=x3] &__bar > *:nth-child(16)::before {
		animation: $transitionTime linear 0s 1 forwards x2-x3-16;
	}
	// x2 -> x1
	&[data-prev-zoom=x2][data-current-zoom=x1] &__bar > *:nth-child(1)::before {
		animation: $transitionTime linear 0s 1 forwards x2-x1-1;
	}
	&[data-prev-zoom=x2][data-current-zoom=x1] &__bar > *:nth-child(2)::before {
		visibility: hidden;
	}
	&[data-prev-zoom=x2][data-current-zoom=x1] &__bar > *:nth-child(3)::before {
		animation: $transitionTime linear 0s 1 forwards x2-x1-3;
	}
	&[data-prev-zoom=x2][data-current-zoom=x1] &__bar > *:nth-child(4)::before {
		visibility: hidden;
	}
	&[data-prev-zoom=x2][data-current-zoom=x1] &__bar > *:nth-child(5)::before {
		$sectionTransition: calc($transitionTime / 1.60);
		animation: $sectionTransition linear 0s 1 forwards x2-x1-5;
	}
	&[data-prev-zoom=x2][data-current-zoom=x1] &__bar > *:nth-child(6)::before {
		visibility: hidden;
	}
	&[data-prev-zoom=x2][data-current-zoom=x1] &__bar > *:nth-child(7)::before {
		animation: $transitionTime linear 1 forwards x2-x1-7;
	}
	&[data-prev-zoom=x2][data-current-zoom=x1] &__bar > *:nth-child(8)::before {
		visibility: hidden;
	}
	&[data-prev-zoom=x2][data-current-zoom=x1] &__bar > *:nth-child(9)::before {
		$sectionTransition: calc($transitionTime / 1.4);
		animation: $sectionTransition linear 1 forwards x2-x1-9;
	}
	&[data-prev-zoom=x2][data-current-zoom=x1] &__bar > *:nth-child(10)::before {
		visibility: hidden;
	}
	&[data-prev-zoom=x2][data-current-zoom=x1] &__bar > *:nth-child(11)::before {
		animation: $transitionTime linear 1 forwards x2-x1-11;
	}
	&[data-prev-zoom=x2][data-current-zoom=x1] &__bar > *:nth-child(12)::before {
		visibility: hidden;
	}
	&[data-prev-zoom=x2][data-current-zoom=x1] &__bar > *:nth-child(13)::before {
		$sectionTransition: calc($transitionTime / 1.2);
		animation: $sectionTransition linear 1 forwards x2-x1-13;
	}
	&[data-prev-zoom=x2][data-current-zoom=x1] &__bar > *:nth-child(14)::before {
		visibility: hidden;
	}
	&[data-prev-zoom=x2][data-current-zoom=x1] &__bar > *:nth-child(15)::before {
		animation: $transitionTime linear 1 forwards x2-x1-15;
	}
	&[data-prev-zoom=x2][data-current-zoom=x1] &__bar > *:nth-child(16)::before {
		visibility: hidden;
	}
	// x1 -> x2
	&[data-prev-zoom=x1][data-current-zoom=x2] &__bar > *:nth-child(1)::before {
		visibility: hidden;
	}
	&[data-prev-zoom=x1][data-current-zoom=x2] &__bar > *:nth-child(2)::before {
		animation: $transitionTime linear 0s 1 forwards x1-x2-2;
	}
	&[data-prev-zoom=x1][data-current-zoom=x2] &__bar > *:nth-child(3)::before {
		$sectionTransition: calc($transitionTime / 1.60);
		visibility: hidden;
		animation: $sectionTransition linear $sectionTransition * 0.6 1 forwards x1-x2-3;
	}
	&[data-prev-zoom=x1][data-current-zoom=x2] &__bar > *:nth-child(4)::before {
		visibility: hidden;
	}
	&[data-prev-zoom=x1][data-current-zoom=x2] &__bar > *:nth-child(5)::before {
		$sectionTransition: calc($transitionTime / 1.60);
		animation: $sectionTransition * 0.6 linear forwards x1-x2-5;
	}
	&[data-prev-zoom=x1][data-current-zoom=x2] &__bar > *:nth-child(6)::before {
		visibility: hidden;
	}
	&[data-prev-zoom=x1][data-current-zoom=x2] &__bar > *:nth-child(7)::before {
		animation: $transitionTime linear 1 forwards x1-x2-7;
	}
	&[data-prev-zoom=x1][data-current-zoom=x2] &__bar > *:nth-child(8)::before {
		visibility: hidden;
	}
	&[data-prev-zoom=x1][data-current-zoom=x2] &__bar > *:nth-child(9)::before {
		$sectionTransition: calc($transitionTime / 1.4);
		visibility: hidden;
		animation: $sectionTransition linear $sectionTransition * 0.4 1 forwards x1-x2-9;
	}
	&[data-prev-zoom=x1][data-current-zoom=x2] &__bar > *:nth-child(10)::before {
		visibility: hidden;
	}
	&[data-prev-zoom=x1][data-current-zoom=x2] &__bar > *:nth-child(11)::before {
		animation: $transitionTime linear 1 forwards x1-x2-11;
	}
	&[data-prev-zoom=x1][data-current-zoom=x2] &__bar > *:nth-child(12)::before {
		visibility: hidden;
	}
	&[data-prev-zoom=x1][data-current-zoom=x2] &__bar > *:nth-child(13)::before {
		$sectionTransition: calc($transitionTime / 1.2);
		visibility: hidden;
		animation: $sectionTransition linear $sectionTransition * 0.2 1 forwards x1-x2-13;
	}
	&[data-prev-zoom=x1][data-current-zoom=x2] &__bar > *:nth-child(14)::before {
		visibility: hidden;
	}
	&[data-prev-zoom=x1][data-current-zoom=x2] &__bar > *:nth-child(15)::before {
		animation: $transitionTime linear 1 forwards x1-x2-15;
	}
	&[data-prev-zoom=x1][data-current-zoom=x2] &__bar > *:nth-child(16)::before {
		visibility: hidden;
	}

	// x3 -> x1
	&[data-prev-zoom=x3][data-current-zoom=x1] &__bar > *:nth-child(1)::before,
	&[data-prev-zoom=""][data-current-zoom=x1] &__bar > *:nth-child(1)::before {
		animation: $transitionTime linear 0s 1 forwards x3-x1-1;
	}
	&[data-prev-zoom=x3][data-current-zoom=x1] &__bar > *:nth-child(2)::before,
	&[data-prev-zoom=""][data-current-zoom=x1] &__bar > *:nth-child(2)::before {
		$sectionTransition: calc($transitionTime / 2.4);
		animation: $sectionTransition * 1.4 linear $sectionTransition 1 forwards x3-x1-2;
	}
	&[data-prev-zoom=x3][data-current-zoom=x1] &__bar > *:nth-child(3)::before,
	&[data-prev-zoom=""][data-current-zoom=x1] &__bar > *:nth-child(3)::before {
		$sectionTransition: calc($transitionTime / 2.4);
		animation: $sectionTransition * 0.4 linear $sectionTransition * 2 1 forwards x3-x1-3;
	}
	&[data-prev-zoom=x3][data-current-zoom=x1] &__bar > *:nth-child(4)::before,
	&[data-prev-zoom=""][data-current-zoom=x1] &__bar > *:nth-child(4)::before {
		animation: $transitionTime linear 0s 1 forwards x3-x1-4;
	}
	&[data-prev-zoom=x3][data-current-zoom=x1] &__bar > *:nth-child(5)::before,
	&[data-prev-zoom=""][data-current-zoom=x1] &__bar > *:nth-child(5)::before {
		$sectionTransition: calc($transitionTime / 2.8);
		animation: $sectionTransition * 1.8 linear $sectionTransition 1 forwards x3-x1-5;
	}
	&[data-prev-zoom=x3][data-current-zoom=x1] &__bar > *:nth-child(6)::before,
	&[data-prev-zoom=""][data-current-zoom=x1] &__bar > *:nth-child(6)::before {
		$sectionTransition: calc($transitionTime / 2.8);
		animation: $sectionTransition * 0.8 linear $sectionTransition * 2 1 forwards x3-x1-6;
	}
	&[data-prev-zoom=x3][data-current-zoom=x1] &__bar > *:nth-child(7)::before,
	&[data-prev-zoom=""][data-current-zoom=x1] &__bar > *:nth-child(7)::before {
		animation: $transitionTime linear 1 forwards x3-x1-7;
	}
	&[data-prev-zoom=x3][data-current-zoom=x1] &__bar > *:nth-child(8)::before,
	&[data-prev-zoom=""][data-current-zoom=x1] &__bar > *:nth-child(8)::before {
		$sectionTransition: calc($transitionTime / 3.2);
		animation: $sectionTransition * 2.2 linear $sectionTransition 1 forwards x3-x1-8;
	}
	&[data-prev-zoom=x3][data-current-zoom=x1] &__bar > *:nth-child(9)::before,
	&[data-prev-zoom=""][data-current-zoom=x1] &__bar > *:nth-child(9)::before {
		$sectionTransition: calc($transitionTime / 3.2);
		animation: $sectionTransition * 1.2 linear $sectionTransition * 2 1 forwards x3-x1-9;
	}
	&[data-prev-zoom=x3][data-current-zoom=x1] &__bar > *:nth-child(10)::before,
	&[data-prev-zoom=""][data-current-zoom=x1] &__bar > *:nth-child(10)::before {
		$sectionTransition: calc($transitionTime / 3.2);
		animation: $sectionTransition * 0.2 linear $sectionTransition * 3 1 forwards x3-x1-10;
	}
	&[data-prev-zoom=x3][data-current-zoom=x1] &__bar > *:nth-child(11)::before,
	&[data-prev-zoom=""][data-current-zoom=x1] &__bar > *:nth-child(11)::before {
		animation: $transitionTime linear 1 forwards x3-x1-11;
	}
	&[data-prev-zoom=x3][data-current-zoom=x1] &__bar > *:nth-child(12)::before,
	&[data-prev-zoom=""][data-current-zoom=x1] &__bar > *:nth-child(12)::before {
		$sectionTransition: calc($transitionTime / 2.6);
		animation: $sectionTransition * 1.6 linear $sectionTransition 1 forwards x3-x1-12;
	}
	&[data-prev-zoom=x3][data-current-zoom=x1] &__bar > *:nth-child(13)::before,
	&[data-prev-zoom=""][data-current-zoom=x1] &__bar > *:nth-child(13)::before {
		$sectionTransition: calc($transitionTime / 3.2);
		animation: $sectionTransition * 0.6 linear $sectionTransition * 2 1 forwards x3-x1-13;
	}
	&[data-prev-zoom=x3][data-current-zoom=x1] &__bar > *:nth-child(14)::before,
	&[data-prev-zoom=""][data-current-zoom=x1] &__bar > *:nth-child(14)::before {
		animation: $transitionTime linear 1 forwards x3-x1-14;
	}
	&[data-prev-zoom=x3][data-current-zoom=x1] &__bar > *:nth-child(15)::before,
	&[data-prev-zoom=""][data-current-zoom=x1] &__bar > *:nth-child(15)::before {
		$sectionTransition: calc($transitionTime / 3);
		animation: $sectionTransition * 2 linear $sectionTransition 1 forwards x3-x1-15;
	}
	&[data-prev-zoom=x3][data-current-zoom=x1] &__bar > *:nth-child(16)::before,
	&[data-prev-zoom=""][data-current-zoom=x1] &__bar > *:nth-child(16)::before {
		$sectionTransition: calc($transitionTime / 3.2);
		animation: $sectionTransition linear $sectionTransition * 2 1 forwards x3-x1-16;
	}
	// x1 -> x3
	&[data-prev-zoom=x1][data-current-zoom=x3] &__bar > *:nth-child(1)::before,
	&[data-prev-zoom=""][data-current-zoom=x3] &__bar > *:nth-child(1)::before {
		animation: $transitionTime linear 0s 1 forwards x1-x3-1;
	}
	&[data-prev-zoom=x1][data-current-zoom=x3] &__bar > *:nth-child(2)::before,
	&[data-prev-zoom=""][data-current-zoom=x3] &__bar > *:nth-child(2)::before {
		$sectionTransition: calc($transitionTime / 2.4);
		animation: $sectionTransition * 1.4 linear 1 forwards x1-x3-2;
	}
	&[data-prev-zoom=x1][data-current-zoom=x3] &__bar > *:nth-child(3)::before,
	&[data-prev-zoom=""][data-current-zoom=x3] &__bar > *:nth-child(3)::before {
		$sectionTransition: calc($transitionTime / 2.4);
		animation: $sectionTransition * 0.4 linear 1 forwards x1-x3-3;
	}
	&[data-prev-zoom=x1][data-current-zoom=x3] &__bar > *:nth-child(4)::before,
	&[data-prev-zoom=""][data-current-zoom=x3] &__bar > *:nth-child(4)::before {
		animation: $transitionTime linear 0s 1 forwards x1-x3-4;
	}
	&[data-prev-zoom=x1][data-current-zoom=x3] &__bar > *:nth-child(5)::before,
	&[data-prev-zoom=""][data-current-zoom=x3] &__bar > *:nth-child(5)::before {
		$sectionTransition: calc($transitionTime / 2.8);
		animation: $sectionTransition * 1.8 linear 1 forwards x1-x3-5;
	}
	&[data-prev-zoom=x1][data-current-zoom=x3] &__bar > *:nth-child(6)::before,
	&[data-prev-zoom=""][data-current-zoom=x3] &__bar > *:nth-child(6)::before {
		$sectionTransition: calc($transitionTime / 2.8);
		animation: $sectionTransition * 0.8 linear 1 forwards x1-x3-6;
	}
	&[data-prev-zoom=x1][data-current-zoom=x3] &__bar > *:nth-child(7)::before,
	&[data-prev-zoom=""][data-current-zoom=x3] &__bar > *:nth-child(7)::before {
		animation: $transitionTime linear 1 forwards x1-x3-7;
	}
	&[data-prev-zoom=x1][data-current-zoom=x3] &__bar > *:nth-child(8)::before,
	&[data-prev-zoom=""][data-current-zoom=x3] &__bar > *:nth-child(8)::before {
		$sectionTransition: calc($transitionTime / 3.2);
		animation: $sectionTransition * 2.2 linear 1 forwards x1-x3-8;
	}
	&[data-prev-zoom=x1][data-current-zoom=x3] &__bar > *:nth-child(9)::before,
	&[data-prev-zoom=""][data-current-zoom=x3] &__bar > *:nth-child(9)::before {
		$sectionTransition: calc($transitionTime / 3.2);
		animation: $sectionTransition * 1.2 linear 1 forwards x1-x3-9;
	}
	&[data-prev-zoom=x1][data-current-zoom=x3] &__bar > *:nth-child(10)::before,
	&[data-prev-zoom=""][data-current-zoom=x3] &__bar > *:nth-child(10)::before {
		$sectionTransition: calc($transitionTime / 3.2);
		animation: $sectionTransition * 0.2 linear 1 forwards x1-x3-10;
	}
	&[data-prev-zoom=x1][data-current-zoom=x3] &__bar > *:nth-child(11)::before,
	&[data-prev-zoom=""][data-current-zoom=x3] &__bar > *:nth-child(11)::before {
		animation: $transitionTime linear 1 forwards x1-x3-11;
	}
	&[data-prev-zoom=x1][data-current-zoom=x3] &__bar > *:nth-child(12)::before,
	&[data-prev-zoom=""][data-current-zoom=x3] &__bar > *:nth-child(12)::before {
		$sectionTransition: calc($transitionTime / 2.6);
		animation: $sectionTransition * 1.6 linear 1 forwards x1-x3-12;
	}
	&[data-prev-zoom=x1][data-current-zoom=x3] &__bar > *:nth-child(13)::before,
	&[data-prev-zoom=""][data-current-zoom=x3] &__bar > *:nth-child(13)::before {
		$sectionTransition: calc($transitionTime / 3.2);
		animation: $sectionTransition * 0.6 linear 1 forwards x1-x3-13;
	}
	&[data-prev-zoom=x1][data-current-zoom=x3] &__bar > *:nth-child(14)::before,
	&[data-prev-zoom=""][data-current-zoom=x3] &__bar > *:nth-child(14)::before {
		animation: $transitionTime linear 1 forwards x1-x3-14;
	}
	&[data-prev-zoom=x1][data-current-zoom=x3] &__bar > *:nth-child(15)::before,
	&[data-prev-zoom=""][data-current-zoom=x3] &__bar > *:nth-child(15)::before {
		$sectionTransition: calc($transitionTime / 3);
		animation: $sectionTransition * 2 linear forwards x1-x3-15;
	}
	&[data-prev-zoom=x1][data-current-zoom=x3] &__bar > *:nth-child(16)::before,
	&[data-prev-zoom=""][data-current-zoom=x3] &__bar > *:nth-child(16)::before {
		$sectionTransition: calc($transitionTime / 3.2);
		animation: $sectionTransition linear 1 forwards x1-x3-16;
	}
}
.zoom-slider {
	display: flex;
	align-items: flex-start;
	text-align: center;
	overflow: hidden;
	padding-top: 92px;
	@media (max-width: 600px) {
		padding-top: 64px;
	}
	&__body {
		--slide-size-l: 450px;
		--slide-size-m: 300px;
		--slide-size-s: 150px;
		--slide-size-mm: 150px;
		position: relative;
		top: 0;
		left: var(--translate-x, 0);
		will-change: left;
		display: flex;
		touch-action: pan-y;
		user-select: none;
		height: calc(100vh - 50px - 91px);
		cursor: grab;
		@media (max-width: 600px) {
			height: calc(100vh - 50px - 64px);
		}
	}
	&__wrapper, &__wrapper-replica {
		display: inline-grid;
		grid-auto-flow: column;
		align-items: center;
		touch-action: pan-y;
		user-select: none;
		cursor: grab;
		scroll-behavior: auto;
	}
	&__control {
		position: absolute;
		left: 50%;
		bottom: 50px;
		z-index: 10;
		transform: translateX(-50%);
		mix-blend-mode: difference;
		@media (max-width: $mbpT) {
			display: none;
		}
	}
	&__slide {
		--height-ratio: 100%;
		display: inline-block;
		width: var(--slide-size-l);
		margin-right: var(--slide-size-s);
		cursor: pointer;
	}
	&:not(.initialized) &__slide picture {
		display: none;
	}
	&[data-current-zoom=x2] &__wrapper, &[data-current-zoom=x2] &__wrapper-replica,
	&[data-current-zoom=x1] &__wrapper, &[data-current-zoom=x1] &__wrapper-replica {
		grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr;
	}
	&[data-current-zoom=x1] &__slide, &[data-current-zoom=x2] &__slide {
		transform-origin: top left;
	}
	&[data-current-zoom=x2] &__slide {
		margin-right: 0;
	}
	&[data-current-zoom=x2] &__slide:last-child {
		margin-right: var(--size-m);
	}
	&[data-current-zoom=x2] &__slide:nth-child(5n + 1) {
		grid-row: 1 / 5;
		align-self: start;
		width: var(--slide-size-l);
	}
	&[data-current-zoom=x2] &__slide:nth-child(5n + 2) {
		grid-row: 1 / 5;
		align-self: end;
		width: var(--slide-size-m);
	}
	&[data-current-zoom=x2] &__slide:nth-child(5n + 3) {
		grid-row: 2 / 5;
		align-self: start;
		width: var(--slide-size-m);
		margin-right: var(--slide-size-m);
	}
	&[data-current-zoom=x2] &__slide:nth-child(5n + 4) {
		grid-row: 3 / 5;
		width: var(--slide-size-l);
	}
	&[data-current-zoom=x2] &__slide:nth-child(5n + 5) {
		grid-row: 1 / 5;
		align-self: start;
		width: var(--slide-size-m);
		margin-right: var(--slide-size-m);
	}
	&[data-current-zoom=x1] &__wrapper, &[data-current-zoom=x1] &__wrapper-replica {
		grid-template-rows: repeat(5, 0.5fr);
	}
	&[data-current-zoom=x1] &__slide {
		margin-right: 0;
	}
	&[data-current-zoom=x1] &__slide:last-child {
		margin-right: var(--slide-size-s);
	}
	&[data-current-zoom=x1] &__slide:nth-child(5n + 1) {
		grid-row: 1 / 6;
		align-self: start;
		width: var(--slide-size-m);
	}
	&[data-current-zoom=x1] &__slide:nth-child(5n + 2) {
		grid-row: 1 / 6;
		align-self: end;
		width: var(--slide-size-s);
	}
	&[data-current-zoom=x1] &__slide:nth-child(5n + 3) {
		grid-row: 3 / 6;
		align-self: start;
		width: var(--slide-size-s);
		
	}
	&[data-current-zoom=x1] &__slide:nth-child(5n + 4) {
		grid-row: 2 / 6;
		align-self: start;
		width: var(--slide-size-s);
		margin-right: var(--slide-size-s);
	}
	&[data-current-zoom=x1] &__slide:nth-child(5n + 5) {
		grid-row: 4 / 6;
		align-self: start;
		width: var(--slide-size-s);
	}
	&[data-current-zoom=x1] &__slide:nth-child(5n + 6) {
		grid-row: 1 / 5;
		align-self: start;
		width: var(--slide-size-m);
	}
	&[data-current-zoom=x1] &__slide:nth-child(5n + 7) {
		grid-row: 5 / 6;
		width: var(--slide-size-s);
	}
	&[data-current-zoom=x1] &__slide:nth-child(5n + 8) {
		grid-row: 3 / 6;
		align-self: start;
		width: var(--slide-size-s);
	}
	&[data-current-zoom=x1] &__slide:nth-child(5n + 9) {
		grid-row: 4 / 6;
		align-self: end;
		width: var(--slide-size-m);
	}
	@media (max-width: $mbpT) {
		&[data-current-zoom=x3] &__wrapper, &[data-current-zoom=x3] &__wrapper-replica {
			grid-template-rows: 0.333333fr 0.333333fr 0.333333fr;
		}
		&[data-current-zoom=x3] &__slide {
			width: var(--slide-size-mm);
			margin-right: 0;
		}
		&[data-current-zoom=x3] &__slide:nth-child(6n + 1) {
			grid-row: 1 / 2;
		}
		&[data-current-zoom=x3] &__slide:nth-child(6n + 2) {
			grid-row: 2 / 3;
		}
		&[data-current-zoom=x3] &__slide:nth-child(6n + 3) {
			grid-row: 3 / 4;
		}
		&[data-current-zoom=x3] &__slide:nth-child(6n + 4) {
			align-self: center;
			grid-row: 1 / 4;
		}
		&[data-current-zoom=x3] &__slide:nth-child(6n + 5) {
			grid-row: 1 / 2;
		}
		&[data-current-zoom=x3] &__slide:nth-child(6n + 6) {
			grid-row: 3 / 4;
		}
	}
}