<!DOCTYPE html>
<html lang="en">
	{{> ../../shared/partials/head
		title='Privacy policy'
	}}
	<body class="privacy-policy-page">
		{{> ../../shared/partials/header}}
		<div>
			<main>
				<section class="hero hero_privacy-policy">
					<div class="section-container section-container_decor hero__container">
						<div class="section-container__inner hero__inner">
							<h1 class="tg-h1 hero__title">Privacy policy</h1>
						</div>
					</div>
				</section>
				<div class="section-container section-container_decor">
					<div class="tg-regular section-container__inner article-body">
						<p>As required by U.S. Privacy Laws I give my consent to the branding agency «Linnikov» (Linnikov Agency LLC, registered address: 1431 E. McKinney St. #100 Denton, TX 76209) to personal data collection, record, filing, processing, storage, refinement, updating, change, extraction, usage, distribution, transmission, depersonalization, blocking and deletion with or without automatic means.</p>
						<p>I give my consent to personal data processing including a surname, name, place of work, contact information (cell number, email), and other information of personal nature which can be used for promoting the agency services, shared services and third parties.</p>
						<p>This consent is valid from the moment of submission of the application until the agency receives a written request to withdraw the consent to the personal data processing.</p>
						<p>Leaving the data in the application, I provide additional data and documents by phone, fax or e-mail. I confirm and admit that I have read the above agreement, and I give my unconditional consent without reservations and limitations.</p>
						<p>I am aware that this consent can be revoked by me by sending a statement in a simple written form to the <a href="mailto:info@linnikov.agency" class="simple-text-link">info@linnikov.agency</a> address.</p>
					</div>
				</div>
			</main>
		</div>
		<div class="drawers-group" data-drawers-group="system">
			{{> ../../shared/partials/common-drawers}}
		</div>
		{{> ../../shared/partials/common}}
		{{> ../../shared/partials/footer}}
	</body>
</html>