<!DOCTYPE html>
<html lang="en">
	{{> ../../shared/partials/head
		title='Iguana'
		scripts=(array '')
	}}
	<body class="single-work">
		{{> ../../shared/partials/header}}
		<main>
			<section class="hero">
				<a href="@img/single-work/iguana/01@2520.jpg"
					data-srcset="@img/single-work/iguana/01@2520.webp"
					data-fancybox="work-media">
					<picture>
						<source type="image/webp" srcset="@img/single-work/iguana/01@2520.webp">
						<img class="hero__bg-img" src="@img/single-work/iguana/01@2520.jpg" alt="Iguana energy drink">
					</picture>
					{{!-- <div data-component="object-fit" class="hero__bg-img">
						<iframe
							src="https://player.vimeo.com/video/311427118?fullscreen=1&title=0&byline=0&portrait=0&transparent=0&background=1&controls=0&muted=1"
							frameborder="0"
							allow="autoplay; fullscreen"
							responsive="true"
							allowfullscreen
							data-elem="object-fit.target"
							data-ratio="56.25"
						>
						</iframe>
					</div> --}}
				</a>
			</section>
			<section class="single-line-scroll-slider background" data-component="single-line-scroll-slider">
				<div class="section-container section-container_decor single-line-scroll-slider__container" data-elem="container">
					<div class="single-line-scroll-slider__wrap" data-elem="wrap">
						<div class="single-line-scroll-slider__inner" data-elem="inner">
							<div class="section-container">
								<div class="single-line-scroll-slider__body" data-elem="body">
									<div class="single-line-scroll-slide">
										<a href="@img/single-work/iguana/02@2560.jpg"
											data-fancybox="work-media"
											srcset="@img/home/the-moon@2x.webp"
											data-caption="Iguana energy drink"
											class="img-wrap img-wrap_cover single-line-scroll-slide__img">
											<div class="img-wrap__inner">
												<picture>
													<source type="image/webp" srcset="@img/single-work/iguana/02@2560.webp">
													<img src="@img/single-work/iguana/02@2560.jpg" alt="Iguana energy drink">
												</picture>
											</div>
										</a>
									</div>
									<div class="single-line-scroll-slide">
										<a href="@img/single-work/iguana/03@2560.jpg"
											data-fancybox="work-media"
											srcset="@img/single-work/iguana/03@2560.webp"
											data-caption="Iguana energy drink"
											class="img-wrap img-wrap_cover single-line-scroll-slide__img">
											<div class="img-wrap__inner">
												<picture>
													<source type="image/webp" srcset="@img/single-work/iguana/03@2560.webp">
													<img src="@img/single-work/iguana/03@2560.jpg" alt="Iguana energy drink">
												</picture>
											</div>
										</a>
									</div>
									<div class="single-line-scroll-slide">
										<a href="@img/single-work/iguana/04@2560.jpg"
											data-fancybox="work-media"
											srcset="@img/single-work/iguana/04@2560.webp"
											data-caption="Iguana energy drink"
											class="img-wrap img-wrap_cover single-line-scroll-slide__img">
											<div class="img-wrap__inner">
												<picture>
													<source type="image/webp" srcset="@img/single-work/iguana/04@2560.webp">
													<img src="@img/single-work/iguana/04@2560.jpg" alt="Iguana energy drink">
												</picture>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="work-pictures-tails background">
				<div class="section-container section-container_decor work-pictures-tails__container">
					<div class="work-pictures-tails__section">
						<a href="@img/single-work/iguana/02@2560.jpg"
							data-fancybox="work-media"
							srcset="@img/single-work/iguana/02@2560.webp"
							data-caption="Iguana energy drink"
							class="img-wrap img-wrap_cover work-pictures-tails__item">
							<div class="img-wrap__inner">
								<picture>
									<source type="image/webp" src="@img/single-work/iguana/02@2560.webp">
									<img src="@img/single-work/iguana/02@2560.jpg" alt="Iguana energy drink">
								</picture>
							</div>
						</a>
					</div>
					<div class="work-pictures-tails__section work-pictures-tails__section_double">
						<a href="@img/single-work/iguana/05@1560.jpg"
							data-fancybox="work-media"
							srcset="@img/single-work/iguana/05@1560.webp"
							data-caption="Iguana energy drink"
							class="img-wrap img-wrap_cover work-pictures-tails__item">
							<div class="img-wrap__inner">
								<picture>
									<source type="image/webp" src="@img/single-work/iguana/05@1560.webp">
									<img src="@img/single-work/iguana/05@1560.jpg" alt="Iguana energy drink">
								</picture>
							</div>
						</a>
						<a href="@img/single-work/iguana/06@1560.jpg"
							data-fancybox="work-media"
							srcset="@img/single-work/iguana/06@1560.webp"
							data-caption="Iguana energy drink"
							class="img-wrap img-wrap_cover work-pictures-tails__item">
							<div class="img-wrap__inner">
								<picture>
									<source type="image/webp" src="@img/single-work/iguana/06@1560.webp">
									<img src="@img/single-work/iguana/06@1560.jpg" alt="Iguana energy drink">
								</picture>
							</div>
						</a>
					</div>
					<div class="work-pictures-tails__section">
						<a href="https://player.vimeo.com/video/408991247?title=0&amp;byline=0&amp;portrait=0"
							data-cursor="none"
							data-fancybox="work-media"
							data-caption="Iguana energy drink"
							class="work-video work-pictures-tails__item work-pictures-tails__item_video" data-component="work-video">
							<div class="img-wrap img-wrap_cover work-video__poster">
								<div class="img-wrap__inner">
									<picture>
										<source type="image/webp" src="@img/single-work/iguana/07@2370.webp">
										<img src="@img/single-work/iguana/07@2370.jpg" alt="Iguana video poster">
									</picture>
								</div>
							</div>
							<div class="work-video__player-wrap">
								<iframe
									data-elem="work-video.video"
									src="https://player.vimeo.com/video/408991247?title=0&amp;byline=0&amp;portrait=0&background=1&autoplay=0"
									frameborder="0"
									allow="autoplay; fullscreen"
									allowfullscreen
									class=" work-video__player">
								</iframe>
							</div>
							<button data-elem="work-video.playback-btn" class="work-video-play-btn work-video__btn work-video__btn_playback">
								<div class="work-video-play-btn__title">Video play / pause</div>
								<div class="work-video-play-btn__inner">
									<span class="icon-play work-video-play-btn__icon work-video-play-btn__icon_play"></span>
									<span class="icon-pause work-video-play-btn__icon work-video-play-btn__icon_pause"></span>
								</div>
							</button>
						</a>
					</div>
				</div>
			</section>
			<section class="two-lines-scroll-slider single-work__two-lines-slider" data-component="two-lines-scroll-slider">
				<div class="section-container section-container_decor two-lines-scroll-slider__container" data-elem="container">
					<div class="two-lines-scroll-slider__wrap" data-elem="wrap">
						<div class="two-lines-scroll-slider__inner" data-elem="inner">
							<div class="two-lines-scroll-slider__body" data-elem="body">
								<a href="@img/single-work/iguana/09@1708.jpg"
									data-fancybox="work-media"
									data-srcset="@img/single-work/iguana/09@1708.webp"
									data-caption="Iguana energy drink"
									class="two-lines-scroll-slider-slide">
									<div class="img-wrap img-wrap_cover two-lines-scroll-slider-slide__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/single-work/iguana/09@1708.webp">
												<img
													src="@img/single-work/iguana/09@1708.jpg"
													alt="Iguana energy drink">
											</picture>
										</div>
									</div>
								</a>
								<a href="@img/single-work/iguana/03@2560.jpg"
									data-fancybox="work-media"
									data-srcset="@img/single-work/iguana/03@2560.webp"
									data-caption="Iguana energy drink"
									class="two-lines-scroll-slider-slide">
									<div class="img-wrap img-wrap_cover two-lines-scroll-slider-slide__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/single-work/iguana/03@2560.webp">
												<img
													src="@img/single-work/iguana/03@2560.jpg"
													alt="Iguana energy drink">
											</picture>
										</div>
									</div>
								</a>
								<a href="@img/single-work/iguana/10@1708.jpg"
									data-fancybox="work-media"
									data-srcset="@img/single-work/iguana/10@1708.webp"
									data-caption="Iguana energy drink"
									class="two-lines-scroll-slider-slide">
									<div class="img-wrap img-wrap_cover two-lines-scroll-slider-slide__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/single-work/iguana/10@1708.webp">
												<img
													src="@img/single-work/iguana/10@1708.jpg"
													alt="Iguana energy drink">
											</picture>
										</div>
									</div>
								</a>
								<a href="@img/single-work/iguana/05@1560.jpg"
									data-fancybox="work-media"
									data-srcset="@img/single-work/iguana/05@1560.webp"
									data-caption="Iguana energy drink"
									class="two-lines-scroll-slider-slide">
									<div class="img-wrap img-wrap_cover two-lines-scroll-slider-slide__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/single-work/iguana/05@1560.webp">
												<img
													src="@img/single-work/iguana/05@1560.jpg"
													alt="Iguana energy drink">
											</picture>
										</div>
									</div>
								</a>
								<a href="@img/single-work/iguana/06@1560.jpg"
									data-fancybox="work-media"
									data-srcset="@img/single-work/iguana/06@1560.webp"
									data-caption="Iguana energy drink"
									class="two-lines-scroll-slider-slide">
									<div class="img-wrap img-wrap_cover two-lines-scroll-slider-slide__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/single-work/iguana/06@1560.webp">
												<img
													src="@img/single-work/iguana/06@1560.jpg"
													alt="Iguana energy drink">
											</picture>
										</div>
									</div>
								</a>
								<a href="@img/single-work/iguana/01@2520.jpg"
									data-fancybox="work-media"
									data-srcset="@img/single-work/iguana/01@2520.webp"
									data-caption="Iguana energy drink"
									class="two-lines-scroll-slider-slide">
									<div class="img-wrap img-wrap_cover two-lines-scroll-slider-slide__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/single-work/iguana/01@2520.webp">
												<img
													src="@img/single-work/iguana/01@2520.jpg"
													alt="Iguana energy drink">
											</picture>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="before-after-slider single-work__before-after-slider" data-component="before-after-slider">
				<div class="before-after-slider__inner" data-elem="inner">
					<div class="before-after-slider__after" data-elem="after">
						<div class="img-wrap img-wrap_cover">
							<div class="img-wrap__inner">
								<picture>
									<source type="image/webp" srcset="@img/single-work/iguana/after.webp">
									<img
										src="@img/single-work/iguana/after.jpg"
										alt="Iguana energy drink">
								</picture>
							</div>
						</div>
					</div>
					<div class="before-after-slider__before" data-elem="before">
						<div class="img-wrap img-wrap_cover">
							<div class="img-wrap__inner">
								<picture>
									<source type="image/webp" srcset="@img/single-work/iguana/before.webp">
									<img
										src="@img/single-work/iguana/before.jpg"
										alt="Iguana energy drink">
								</picture>
							</div>
						</div>
					</div>
					<div class="before-after-slider__thumb" data-active="true" data-elem="thumb"></div>
				</div>
			</section>
			<section class="nine-tiles" data-component="nine-tiles">
				<div class="section-container section-container_decor nine-tiles__underlay"></div>
				<div class="nine-tiles__inner">
					<a href="@img/single-work/iguana/09@1708.jpg"
						data-srcset="@img/single-work/iguana/09@1708.jpg"
						data-fancybox="set_01" class="img-wrap img-wrap_cover">
						<div class="img-wrap__inner">
							<picture>
								<source type="image/webp" srcset="@img/single-work/iguana/09@1708.webp">
								<img
									src="@img/single-work/iguana/09@1708.jpg"
									alt="Iguana energy drink">
							</picture>
						</div>
					</a>
					<a href="https://player.vimeo.com/video/311427118?fullscreen=1&title=0&byline=0&portrait=0&transparent=0&background=1&controls=0&muted=1"
						data-srcset="https://player.vimeo.com/video/311427118?fullscreen=1&title=0&byline=0&portrait=0&transparent=0&background=1&controls=0&muted=1"
						data-fancybox="set_01" data-component="object-fit">
						<iframe
							src="https://player.vimeo.com/video/311427118?fullscreen=1&title=0&byline=0&portrait=0&transparent=0&background=1&controls=0&muted=1"
							frameborder="0"
							allow="autoplay; fullscreen"
							responsive="true"
							allowfullscreen
							data-elem="object-fit.target"
							data-ratio="56.25"
						>
						</iframe>
					</a>
					<a href="@img/single-work/iguana/01@2520.webp" data-fancybox="set_01" class="img-wrap img-wrap_cover">
						<div class="img-wrap__inner">
							<picture>
								<source type="image/webp" srcset="@img/single-work/iguana/01@2520.webp">
								<img
									src="@img/single-work/iguana/01@2520.jpg"
									alt="Iguana energy drink">
							</picture>
						</div>
					</a>
					<a href="@img/single-work/iguana/01@2520.webp" data-fancybox="set_01" class="img-wrap img-wrap_cover">
						<div class="img-wrap__inner">
							<picture>
								<source type="image/webp" srcset="@img/single-work/iguana/01@2520.webp">
								<img
									src="@img/single-work/iguana/01@2520.jpg"
									alt="Iguana energy drink">
							</picture>
						</div>
					</a>
					{{!-- "Центральный слайд" --}}
					{{!-- <div class="img-wrap img-wrap_cover">
						<div class="img-wrap__inner">
							<picture>
								<source type="image/webp" srcset="@img/single-work/iguana/09@1708.webp">
								<img
									src="@img/single-work/iguana/09@1708.jpg"
									alt="Iguana energy drink">
							</picture>
						</div>
					</div> --}}
					<a href="https://player.vimeo.com/video/311427118?fullscreen=1&title=0&byline=0&portrait=0&transparent=0&background=1&controls=0&muted=1"
						data-fancybox="set_01" data-component="object-fit">
						<iframe
							src="https://player.vimeo.com/video/311427118?fullscreen=1&title=0&byline=0&portrait=0&transparent=0&background=1&controls=0&muted=1"
							frameborder="0"
							allow="autoplay; fullscreen"
							responsive="true"
							allowfullscreen
							data-elem="object-fit.target"
							data-ratio="56.25"
						>
						</iframe>
					</a>
					{{!-- "Центральный слайд" --}}
					<a href="@img/single-work/iguana/10@1708.webp"
						data-fancybox="set_01" class="img-wrap img-wrap_cover">
						<div class="img-wrap__inner">
							<picture>
								<source type="image/webp" srcset="@img/single-work/iguana/10@1708.webp">
								<img
									src="@img/single-work/iguana/10@1708.jpg"
									alt="Iguana energy drink">
							</picture>
						</div>
					</a>
					<a href="@img/single-work/iguana/06@1560.webp"
						data-fancybox="set_01" class="img-wrap img-wrap_cover">
						<div class="img-wrap__inner">
							<picture>
								<source type="image/webp" srcset="@img/single-work/iguana/06@1560.webp">
								<img
									src="@img/single-work/iguana/06@1560.jpg"
									alt="Iguana energy drink">
							</picture>
						</div>
					</a>
					<a href="@img/single-work/iguana/05@1560.webp"
						data-fancybox="set_01" class="img-wrap img-wrap_cover">
						<div class="img-wrap__inner">
							<picture>
								<source type="image/webp" srcset="@img/single-work/iguana/05@1560.webp">
								<img
									src="@img/single-work/iguana/05@1560.jpg"
									alt="Iguana energy drink">
							</picture>
						</div>
					</a>
					<a href="@img/single-work/iguana/09@1708.webp"
						data-fancybox="set_01" class="img-wrap img-wrap_cover">
						<div class="img-wrap__inner">
							<picture>
								<source type="image/webp" srcset="@img/single-work/iguana/09@1708.webp">
								<img
									src="@img/single-work/iguana/09@1708.jpg"
									alt="Iguana energy drink">
							</picture>
						</div>
					</a>
				</div>
			</section>
			<section class="nine-tiles nine-tiles_slim" data-component="nine-tiles">
				<div class="section-container section-container_decor nine-tiles__underlay"></div>
				<div class="nine-tiles__inner">
					<a href="@img/single-work/iguana/09@1708.jpg"
						data-srcset="@img/single-work/iguana/09@1708.jpg"
						data-fancybox="set_01" class="img-wrap img-wrap_cover">
						<div class="img-wrap__inner">
							<picture>
								<source type="image/webp" srcset="@img/single-work/iguana/09@1708.webp">
								<img
									src="@img/single-work/iguana/09@1708.jpg"
									alt="Iguana energy drink">
							</picture>
						</div>
					</a>
					<a href="https://player.vimeo.com/video/311427118?fullscreen=1&title=0&byline=0&portrait=0&transparent=0&background=1&controls=0&muted=1"
						data-srcset="https://player.vimeo.com/video/311427118?fullscreen=1&title=0&byline=0&portrait=0&transparent=0&background=1&controls=0&muted=1"
						data-fancybox="set_01" data-component="object-fit">
						<iframe
							src="https://player.vimeo.com/video/311427118?fullscreen=1&title=0&byline=0&portrait=0&transparent=0&background=1&controls=0&muted=1"
							frameborder="0"
							allow="autoplay; fullscreen"
							responsive="true"
							allowfullscreen
							data-elem="object-fit.target"
							data-ratio="56.25"
						>
						</iframe>
					</a>
					<a href="@img/single-work/iguana/01@2520.webp" data-fancybox="set_01" class="img-wrap img-wrap_cover">
						<div class="img-wrap__inner">
							<picture>
								<source type="image/webp" srcset="@img/single-work/iguana/01@2520.webp">
								<img
									src="@img/single-work/iguana/01@2520.jpg"
									alt="Iguana energy drink">
							</picture>
						</div>
					</a>
					<a href="@img/single-work/iguana/01@2520.webp" data-fancybox="set_01" class="img-wrap img-wrap_cover">
						<div class="img-wrap__inner">
							<picture>
								<source type="image/webp" srcset="@img/single-work/iguana/01@2520.webp">
								<img
									src="@img/single-work/iguana/01@2520.jpg"
									alt="Iguana energy drink">
							</picture>
						</div>
					</a>
					{{!-- "Центральный слайд" --}}
					{{!-- <div class="img-wrap img-wrap_cover">
						<div class="img-wrap__inner">
							<picture>
								<source type="image/webp" srcset="@img/single-work/iguana/09@1708.webp">
								<img
									src="@img/single-work/iguana/09@1708.jpg"
									alt="Iguana energy drink">
							</picture>
						</div>
					</div> --}}
					<a href="https://player.vimeo.com/video/311427118?fullscreen=1&title=0&byline=0&portrait=0&transparent=0&background=1&controls=0&muted=1"
						data-fancybox="set_01" data-component="object-fit">
						<iframe
							src="https://player.vimeo.com/video/311427118?fullscreen=1&title=0&byline=0&portrait=0&transparent=0&background=1&controls=0&muted=1"
							frameborder="0"
							allow="autoplay; fullscreen"
							responsive="true"
							allowfullscreen
							data-elem="object-fit.target"
							data-ratio="56.25"
						>
						</iframe>
					</a>
					{{!-- "Центральный слайд" --}}
					<a href="@img/single-work/iguana/10@1708.webp"
						data-fancybox="set_01" class="img-wrap img-wrap_cover">
						<div class="img-wrap__inner">
							<picture>
								<source type="image/webp" srcset="@img/single-work/iguana/10@1708.webp">
								<img
									src="@img/single-work/iguana/10@1708.jpg"
									alt="Iguana energy drink">
							</picture>
						</div>
					</a>
					<a href="@img/single-work/iguana/06@1560.webp"
						data-fancybox="set_01" class="img-wrap img-wrap_cover">
						<div class="img-wrap__inner">
							<picture>
								<source type="image/webp" srcset="@img/single-work/iguana/06@1560.webp">
								<img
									src="@img/single-work/iguana/06@1560.jpg"
									alt="Iguana energy drink">
							</picture>
						</div>
					</a>
					<a href="@img/single-work/iguana/05@1560.webp"
						data-fancybox="set_01" class="img-wrap img-wrap_cover">
						<div class="img-wrap__inner">
							<picture>
								<source type="image/webp" srcset="@img/single-work/iguana/05@1560.webp">
								<img
									src="@img/single-work/iguana/05@1560.jpg"
									alt="Iguana energy drink">
							</picture>
						</div>
					</a>
					<a href="@img/single-work/iguana/09@1708.webp"
						data-fancybox="set_01" class="img-wrap img-wrap_cover">
						<div class="img-wrap__inner">
							<picture>
								<source type="image/webp" srcset="@img/single-work/iguana/09@1708.webp">
								<img
									src="@img/single-work/iguana/09@1708.jpg"
									alt="Iguana energy drink">
							</picture>
						</div>
					</a>
				</div>
			</section>
			<section class="more-works single-work__more-works" id="more-works">
				<div class="section-container section-container_decor more-works__container"></div>
				<h2>More works</h2>
				<div class="more-works__body" data-elem="works-slider.body">
					<a href="" data-title="Violmode berry" class="img-wrap img-wrap_cover case-poster case-poster_top more-works__item" data-elem="works-slider.slide">
						<div class="img-wrap__inner">
							<picture>
								<source type="image/webp" srcset="@img/home/violmode-berry@2x.webp">
								<img src="@img/home/violmode-berry@2x.jpg" alt="Violmode berry">
							</picture>
						</div>
					</a>
					<a href="" data-title="Tomatos" class="img-wrap img-wrap_cover case-poster case-poster_top  more-works__item" data-elem="works-slider.slide">
						<div class="img-wrap__inner">
							<picture>
								<source type="image/webp" srcset="@img/home/tomatos@2x.webp">
								<img src="@img/home/tomatos@2x.jpg" alt="Tomatos">
							</picture>
						</div>
					</a>
					<a href="" data-title="Khush" class="img-wrap img-wrap_cover case-poster case-poster_top  more-works__item" data-elem="works-slider.slide">
						<div class="img-wrap__inner">
							<picture>
								<source type="image/webp" srcset="@img/home/khush@2x.webp">
								<img src="@img/home/khush@2x.jpg" alt="Khush" loading="lazy">
							</picture>
						</div>
					</a>
					<a href="" data-title="Project name" class="img-wrap img-wrap_cover case-poster case-poster_top  more-works__item" data-elem="works-slider.slide">
						<div class="img-wrap__inner">
							<picture>
								<source type="image/webp" srcset="@img/home/the-moon@2x.webp">
									<img src="@img/home/the-moon@2x.jpg" alt="Project preview" loading="lazy">
							</picture>
						</div>
					</a>
					<a href="" data-title="Project name" class="img-wrap img-wrap_cover case-poster case-poster_top  more-works__item" data-elem="works-slider.slide">
						<div class="img-wrap__inner">
							<picture>
								<source type="image/webp" srcset="@img/home/rgb-pot@1.5x.webp">
									<img src="@img/home/rgb-pot@1.5x.jpg" alt="Project preview" loading="lazy">
							</picture>
						</div>
					</a>
					<a href="" data-title="Project name" class="img-wrap img-wrap_cover case-poster case-poster_top  more-works__item" data-elem="works-slider.slide">
						<div class="img-wrap__inner">
							<picture>
								<source type="image/webp" srcset="@img/home/aromanty@1.5x.webp">
								<img src="@img/home/aromanty@1.5x.jpg" alt="Aromanty" loading="lazy">
							</picture>
						</div>
					</a>
				</div>
				<div class="more-works__footer">
					<div class="section-container">
						<div class="double-cubic-decor more-works__decor"></div>
						<div class="tg-h3 more-works__nav">
							<button type="button" class="text-btn" data-elem="works-slider.prev">
								<div class="ref-arrow-icon ref-arrow-icon_horizontal ref-arrow-icon_flip">
									<span class="icon-cubic-nav-arrow-right"></span>
									<span class="icon-cubic-nav-arrow-right"></span>
								</div>
								Prev
							</button>
							<button type="button" class="text-btn" data-elem="works-slider.next">
								Next
								<div class="ref-arrow-icon ref-arrow-icon_horizontal">
									<span class="icon-cubic-nav-arrow-right"></span>
									<span class="icon-cubic-nav-arrow-right"></span>
								</div>
							</button>
						</div>
					</div>
				</div>
			</section>
			<section data-lenis-prevent class="drawer drawer_full work-details" data-drawer="work-details">
				<div id="detail-panel" class="drawer__panel work-details__panel" data-elem="drawer.panel" data-scrollable="true">
					<div class="section-container work-details__container">
						<div class="work-details__inner">
							<nav id="article-nav" class="article-nav work-details__nav">
								<div class="article-nav__inner">
									<div class="article-nav__body">
										<a href="#ap-challenge" class="article-nav-ref active">Challenge</a>
										<a href="#ap-strategy" class="article-nav-ref">Strategy</a>
										<a href="#ap-solution" class="article-nav-ref">Solution</a>
										<a href="#ap-results" class="article-nav-ref">Results</a>
										<a href="#ap-team" class="article-nav-ref">Team</a>
										<a href="#ap-awards" class="article-nav-ref">Awards</a>
									</div>
								</div>
							</nav>
							<article class="work-details-content work-details__content">
								<section class="work-details-content-section">
									<span id="ap-challenge" class="work-details-content-section__anchor"></span>
									<h3>Challenge</h3>
									<p>Lorem ipsum dolor sit amet consectetur. Aliquet rhoncus convallis etiam mauris pellentesque nunc purus purus. Pellentesque cursus elit cras imperdiet porta nulla gravida at condimentum. Tincidunt pharetra risus commodo enim pellentesque morbi velit. Ornare vel id nullam et.</p>
									<p>Lorem ipsum dolor sit amet consectetur. Aliquet rhoncus convallis etiam mauris pellentesque nunc purus purus. Pellentesque cursus elit cras imperdiet porta nulla gravida at condimentum. Tincidunt pharetra risus commodo enim pellentesque morbi velit. Ornare vel id nullam et.</p>
								</section>
								<section class="work-details-content-section">
									<span id="ap-strategy" class="work-details-content-section__anchor"></span>
									<h3>Strategy</h3>
									<p>Lorem ipsum dolor sit amet consectetur. Aliquet rhoncus convallis etiam mauris pellentesque nunc purus purus. Pellentesque cursus elit cras imperdiet porta nulla gravida at condimentum. Tincidunt pharetra risus commodo enim pellentesque morbi velit. Ornare vel id nullam et.</p>
									<p>Lorem ipsum dolor sit amet consectetur. Aliquet rhoncus convallis etiam mauris pellentesque nunc purus purus. Pellentesque cursus elit cras imperdiet porta nulla gravida at condimentum. Tincidunt pharetra risus commodo enim pellentesque morbi velit. Ornare vel id nullam et.</p>
									<div class="article-quote article-quote_always-light">
										<img src="@img/quotes.svg" alt="Quotes" class="article-quote__quotes-img">
										<p class="article-quote__body">Rooted at the intersection of comedy and culture, Hartbeat is the entertainment company founded by prolific comedian, actor, and entrepreneur Kevin Hart</p>
										<div class="article-quote__author">Yocasta LaChapelle,</div>
										<div class="article-quote__role">Director of Talent at COLLINS.</div>
									</div>
								</section>
								<section class="work-details-content-section">
									<span id="ap-solution" class="work-details-content-section__anchor"></span>
									<h3>Solution</h3>
									<p>Lorem ipsum dolor sit amet consectetur. Aliquet rhoncus convallis etiam mauris pellentesque nunc purus purus. Pellentesque cursus elit cras imperdiet porta nulla gravida at condimentum. Tincidunt pharetra risus commodo enim pellentesque morbi velit. Ornare vel id nullam et.</p>
								</section>
								<section class="work-details-content-section">
									<span id="ap-results" class="work-details-content-section__anchor"></span>
									<h3>Results</h3>
									<p>Lorem ipsum dolor sit amet consectetur. Aliquet rhoncus convallis etiam mauris pellentesque nunc purus purus. Pellentesque cursus elit cras imperdiet porta nulla gravida at condimentum. Tincidunt pharetra risus commodo enim pellentesque morbi velit. Ornare vel id nullam et.</p>
									<dl class="agency-rates">
										<div>
											<dd data-count-up class="tg-h0">9</dd>
											<dt class="tg-h3">years of <br>transformation</dt>
										</div>
										<div>
											<dd data-count-up class="tg-h0">77</dd>
											<dt class="tg-h3">transformations <br>completed</dt>
										</div>
										<div>
											<dd class="tg-h0"><span data-count-up class="count-up_spacing-sm">10</span>+</dd>
											<dt class="tg-h3">world <br>awards</dt>
										</div>
										<div>
											<dd data-count-up class="tg-h0">2</dd>
											<dt class="tg-h3">company of the <br>year awards</dt>
										</div>
									</dl>
								</section>
								<section class="work-details-content-section">
									<span id="ap-team" class="work-details-content-section__anchor"></span>
									<h3>Team</h3>
									<dl class="work-details-team">
										<div>
											<dd>
												<div class="work-details-team__separator"></div>
												Dmytro Lynnyk
											</dd>
											<dt>Creative director</dt>
										</div>
										<div>
											<dd>
												<div class="work-details-team__separator"></div>
												Iryna Lynnyk
											</dd>
											<dt>Project manager</dt>
										</div>
										<div>
											<dd>
												<div class="work-details-team__separator"></div>
												Lina Smiychik
											</dd>
											<dt>Designer</dt>
										</div>
									</dl>
								</section>
								<section class="work-details-content-section">
									<span id="ap-awards" class="work-details-content-section__anchor"></span>
									<h3>Awards</h3>
									<ul class="awards-showcase">
										<li class="award-card">
											<div class="award-card__top">
												<div class="award-card__year">‘23</div>
												<div class="img-wrap award-card__img">
													<img src="@img/awards/clutch.svg" alt="Clutch award">
												</div>
											</div>
											<div class="award-card__separator"></div>
											<div class="award-card__award-name">CLUTCH</div>
											<h4 class="award-card__project-name">Linnikov.agency</h4>
											<div class="award-card__place">Тор Packaging design company supply chain, logistics, and transport United States</div>
										</li>
										<li class="award-card">
											<div class="award-card__top">
												<div class="award-card__year">‘23</div>
												<div class="img-wrap award-card__img">
													<img src="@img/awards/clutch.svg" alt="Clutch award">
												</div>
											</div>
											<div class="award-card__separator"></div>
											<div class="award-card__award-name">CLUTCH</div>
											<h4 class="award-card__project-name">Burj Boutique</h4>
											<div class="award-card__place">Тор Packaging design<br>company Dallas</div>
										</li>
										<li class="award-card">
											<div class="award-card__top">
												<div class="award-card__year">‘23</div>
												<div class="img-wrap award-card__img">
													<img src="@img/awards/clutch.svg" alt="Clutch award">
												</div>
											</div>
											<div class="award-card__separator"></div>
											<div class="award-card__award-name">CLUTCH</div>
											<h4 class="award-card__project-name">Linnikov.agency</h4>
											<div class="award-card__place">Тор Packaging design<br>company supply chain,<br>logistics, and transport</div>
										</li>
										<li class="award-card">
											<div class="award-card__top">
												<div class="award-card__year">‘23</div>
												<div class="img-wrap award-card__img">
													<img src="@img/awards/clutch.svg" alt="Clutch award">
												</div>
											</div>
											<div class="award-card__separator"></div>
											<div class="award-card__award-name">CLUTCH</div>
											<h4 class="award-card__project-name">Linnikov.agency</h4>
											<div class="award-card__place">Top Logo design company<br>Fort Worth</div>
										</li>
										<li class="award-card">
											<div class="award-card__top">
												<div class="award-card__year">‘23</div>
												<div class="img-wrap award-card__img">
													<img src="@img/awards/clutch.svg" alt="Clutch award">
												</div>
											</div>
											<div class="award-card__separator"></div>
											<div class="award-card__award-name">CLUTCH</div>
											<h4 class="award-card__project-name">Linnikov.agency</h4>
											<div class="award-card__place">Top Print design company<br>Fort Worth</div>
										</li>
										<li class="award-card">
											<div class="award-card__top">
												<div class="award-card__year">‘23</div>
												<div class="img-wrap award-card__img">
													<img src="@img/awards/ida-design.svg" alt="IDA Design">
												</div>
											</div>
											<div class="award-card__separator"></div>
											<div class="award-card__award-name">IDA Design Awards</div>
											<h4 class="award-card__project-name">Burj Boutique</h4>
											<div class="award-card__place">Gold in Print / Stationery</div>
										</li>
										<li class="award-card">
											<div class="award-card__top">
												<div class="award-card__year">‘22</div>
												<div class="img-wrap award-card__img">
													<img src="@img/awards/top-ukraine-2022.svg" alt="Top Ukrain Award 2022">
												</div>
											</div>
											<div class="award-card__separator"></div>
											<div class="award-card__award-name">Choice of the country</div>
											<h4 class="award-card__project-name">Linnikov.agency</h4>
											<div class="award-card__place">The Best Branding Agency of<br>Lviv in 2022</div>
										</li>
										<li class="award-card">
											<div class="award-card__top">
												<div class="award-card__year">‘22</div>
												<div class="img-wrap award-card__img">
													<img src="@img/awards/epica-awards.svg" alt="Epica Awards">
												</div>
											</div>
											<div class="award-card__separator"></div>
											<div class="award-card__award-name">Epica Awards</div>
											<h4 class="award-card__project-name">Burj Boutique</h4>
											<div class="award-card__place">Shortlist</div>
										</li>
										<li class="award-card">
											<div class="award-card__top">
												<div class="award-card__year">‘22</div>
												<div class="img-wrap award-card__img">
													<img src="@img/awards/pentawards.svg" alt="Pentawards">
												</div>
											</div>
											<div class="award-card__separator"></div>
											<div class="award-card__award-name">Pentawards</div>
											<h4 class="award-card__project-name">Khush</h4>
											<div class="award-card__place">Shortlist, Luxury body and<br>skin care 2022</div>
										</li>
										<li class="award-card">
											<div class="award-card__top">
												<div class="award-card__year">‘22</div>
												<div class="img-wrap award-card__img">
													<img src="@img/awards/a-design.svg" alt="A’Design Award">
												</div>
											</div>
											<div class="award-card__separator"></div>
											<div class="award-card__award-name">A’Design Award</div>
											<h4 class="award-card__project-name">Iguana</h4>
											<div class="award-card__place">Silver</div>
										</li>
										<li class="award-card">
											<div class="award-card__top">
												<div class="award-card__year">‘22</div>
												<div class="img-wrap award-card__img">
													<img src="@img/awards/favourite-design.svg" alt="Favourite Design">
												</div>
											</div>
											<div class="award-card__separator"></div>
											<div class="award-card__award-name">Favourite Design</div>
											<h4 class="award-card__project-name">blueberry wine</h4>
											<div class="award-card__place">Winner</div>
										</li>
										<li class="award-card">
											<div class="award-card__top">
												<div class="award-card__year">‘22</div>
												<div class="img-wrap award-card__img">
													<img src="@img/awards/favourite-design.svg" alt="Favourite Design">
												</div>
											</div>
											<div class="award-card__separator"></div>
											<div class="award-card__award-name">Favourite Design</div>
											<h4 class="award-card__project-name">Iguana</h4>
											<div class="award-card__place">Winner</div>
										</li>
									</ul>
								</section>
							</article>
						</div>
					</div>
				</div>
			</section>
			<section class="work-details-overlay">
				<div class="section-container work-details__container">
					<button id="details-open-close-btn" class="open-close-btn work-details__open-close-btn" data-drawer-toggle="work-details">
						<div class="open-close-btn__inner">
							<span class="icon-cubic-plus-big open-close-btn__icon"></span>
							Project Info
						</div>
					</button>
				</div>
			</section>
		</main>
		<div class="drawers-group" data-drawers-group="system">
			{{> ../../shared/partials/common-drawers}}
		</div>
		{{> ../../shared/partials/common}}
		{{> ../../shared/partials/footer}}
	</body>
</html>