@import "../../shared/styles/mixins.scss";
@import "../../shared/styles/config.scss";
@import "./null.scss";
@import "./fonts.scss";
@import "./layout.scss";
@import "./icon-fonts.scss";
@import "./framework.scss";
@import "../../shared/components/drawers/index.scss";
@import "./theme.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./cookies.scss";
@import "./rgb-logo.scss";
@import "./sign-up-drawer.scss";
@import "./chat.scss";
@import "./request.scss";

.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
	width: auto;
}

html {
	color: var(--light-black, #0B0B0B);
	line-height: 1;
	font-family: $fontFamily;
}