<!DOCTYPE html>
<html lang="en">
	{{> ../../shared/partials/head
		title='Single Post'
	}}
	<body class="archetypes">
		{{> ../../shared/partials/header}}
		<main>
			<article class="post">
				<div class="section-container section-container_decor post__container">
					<div class="post__inner">
						<h1 class="tg-h1 post__title">Design is not what we make. Design is what we make possible.</h1>
						<div class="post-content">
							<p>There is no single path into design. No single journey. No one experience. But no matter what road you take, there will be barriers and potholes. That is true for every designer, but is painfully true for young, Black designers.</p>
							<p>Thirty-seven years ago, designer Cheryl D. Miller talked about it in her landmark thesis, “Transcending the Problems of the Black Graphic Designer to Success in the Marketplace.” If anything, the “problems” have become even more difficult to overcome since it was published.</p>
							<div class="article-quote post-content__quote">
								{{!-- <img src="@img/quotes-rgb-bright.svg" alt="Quotes" class="article-quote__quotes-img article-quote__quotes-img_rgb-bright"> --}}
								<img src="@img/quotes-dark.svg" alt="Quotes" class="article-quote__quotes-img article-quote__quotes-img_rgb-dark">
								<p class="article-quote__body">We are trying to fix a system that is broken, one we as designers should re-imagine and build from the ground up</p>
								<div class="article-quote__author">Yocasta LaChapelle,</div>
								<div class="article-quote__role">Director of Talent at COLLINS.</div>
							</div>
							<div class="article-img-set post-content__img-set">
								<div class="img-wrap">
									<div class="img-wrap__inner">
										<picture>
											<source type="image/webp" srcset="@img/single-post/bug-01.webp">
											<img src="@img/single-post/bug-01.jpg" alt="News poster">
										</picture>
									</div>
								</div>
								<div class="img-wrap">
									<div class="img-wrap__inner">
										<picture>
											<source type="image/webp" srcset="@img/single-post/bug-02.webp">
											<img src="@img/single-post/bug-02.jpg" alt="News poster">
										</picture>
									</div>
								</div>
								<div class="img-wrap">
									<div class="img-wrap__inner">
										<picture>
											<source type="image/webp" srcset="@img/single-post/bug-03.webp">
											<img src="@img/single-post/bug-03.jpg" alt="News poster">
										</picture>
									</div>
								</div>
							</div>
							<p>“We are trying to fix a system that is broken, one we as designers should re-imagine and build from the ground up.” Share So now - let’s imagine a future that will take us to better place. And let’s stop rehashing the past that’s kept us all from thriving together.</p>
							<p>“What if we thought of the experiences of Black people beyond the traumatic, narrow narratives of slave ships and pyramids? What if instead we used metaphors of space travel and the narratives of technology? What if we started looking at futuristic metaphors to tell stories about Black people? Not only would that revise how we engage race, but it would also provide a map of the future in which Black people play a central and significant part.”</p>
							<span class="article-important">
								Throughout 2020 and 2021, the education team at COLLINS mapped out the next steps for what has now become an ongoing high-school-through-college intern and mentor program.
							</span>
							<p>“We are trying to fix a system that is broken, one we as designers should re-imagine and build from the ground up.” Share So now - let’s imagine a future that will take us to better place. And let’s stop rehashing the past that’s kept us all from thriving together.</p>
							<div class="article-composition post-content__composition">
								<div class="img-wrap">
									<div class="img-wrap__inner">
										<picture>
											<source type="image/webp" srcset="@img/single-post/fuck-around.webp">
											<img src="@img/single-post/fuck-around.jpg" alt="News poster">
										</picture>
									</div>
								</div>
								<p>“What if we thought of the experiences of Black people beyond the traumatic, narrow narratives of slave ships and pyramids? What if instead we used metaphors of space travel and the narratives of technology? What if we started looking at futuristic metaphors to tell stories about Black people? Not only would that revise how we engage race, but it would also provide a map of the future in which Black people play a central and significant part.”</p>
							</div>
							<div class="img-wrap article-img post-content__img">
								<div class="img-wrap__inner">
									<picture>
										<source type="image/webp" srcset="@img/single-post/bug-01.webp">
										<img src="@img/single-post/bug-01.jpg" alt="News poster">
									</picture>
								</div>
							</div>
						</div>
					</div>
					<section class="share-it">
						<div class="share-it__inner">
							<h2>Like idea? Share&nbsp;it</h2>
							<div class="share-it__links">
								<a href="Facebook">Facebook</a>
								<a href="Twitter">Twitter</a>
								<a href="Linkedin">Linkedin</a>
								<a href="Link">Link</a>
							</div>
						</div>
					</section>
				</div>
			</article>
		</main>
		<div class="drawers-group" data-drawers-group="system">
			{{> ../../shared/partials/common-drawers}}
		</div>
		{{> ../../shared/partials/common}}
		{{> ../../shared/partials/footer}}
	</body>
</html>