@import "../../../shared/styles/mixins.scss";
@import "../../../shared/styles/config.scss";

.materials-grid {
	&__content {
		position: relative;
		left: 0;
		top: 0;
	}
	&__category:not(.active) {
		display: none;
	}
}
.news-card {
	position: relative;
	left: 0;
	top: 0;
	display: grid;
	align-content: start;
	grid-template-rows: auto 1fr;
	&__img {
		--height-ratio: 60.8%;
		overflow: hidden;
	}
	@media (hover: hover) {
		&:hover &__img {
			--zoom-in: 5%;
		}
	}
	&__bottom {
		align-self: end;
		display: grid;
		grid-template-columns: repeat(2, auto);
		justify-content: space-between;
		gap: 50px;
		width: 100%;
		color: var(--light-black, #0B0B0B);
		padding-top: 50px;
	}
	&__title {
		max-width: 690px;
		font-size: 20px;
		font-weight: 700;
		line-height: 160%; /* 32px */
		word-break: break-all;
	}
	&__date {
		position: relative;
		top: 0.4em;
		font-size: 16px;
		font-weight: 500;
		line-height: 110%;
		letter-spacing: -0.048em;
		text-transform: uppercase;
		&::after {
			content: "â—";
			display: inline-block;
			margin-left: 16px;
		}
	}
}
.news-grid {
	overflow: hidden;
	&__category-grid {
		display: grid;
		align-items: start;
		grid-template-columns: 25fr 12.50fr 12.50fr 12.50fr 12.50fr 25fr;
		@media (max-width: $mbpPC) {
			grid-template-columns: 7.5fr 11.5fr 27fr 8fr 27fr 11.5fr 7.5fr;
		}
		@media (max-width: $mbpM) {
			grid-template-columns: 1fr;
		}
	}
	&__card {
		grid-row: auto;
		margin-bottom: 220px;
		@media (min-width: ($mbpPC + 1px)) {
			&:nth-child(8n + 1) {
				grid-column: 1 / span 5;
			}
			&:nth-child(8n + 2) {
				grid-column: 5 / span 2;
				margin-bottom: 0;
				& > .news-card__bottom {
					position: absolute;
					left: 0;
					top: 100%;
				}
			}
			&:nth-child(8n + 3) {
				grid-column: 1 / span 3;
			}
			&:nth-child(8n + 4) {
				grid-column: 2 / span 4;
			}
			&:nth-child(8n + 5) {
				grid-column: 2 / span 5;
			}
			&:nth-child(8n + 6) {
				grid-column: 1 / span 4;
				justify-self: start;
				width: 60%;
				margin-bottom: 0;
				& > .news-card__bottom {
					position: absolute;
					left: 0;
					top: 100%;
				}
			}
			&:nth-child(8n + 7) {
				grid-column: 4 / span 3;
			}
			&:nth-child(8n + 8) {
				grid-column: 2 / span 4;
			}
		}
		@media (min-width: ($mbpM + 1px)) and (max-width: $mbpPC) {
			&:nth-child(8n + 1) {
				grid-column: 1 / span 6;
			}
			&:nth-child(8n + 2) {
				grid-column: 1 / span 3;
			}
			&:nth-child(8n + 3) {
				grid-column: 5 / span 3;
			}
			&:nth-child(8n + 4) {
				grid-column: 3 / span 3;
			}
			&:nth-child(8n + 5) {
				grid-column: 2 / span 6;
			}
			&:nth-child(8n + 6) {
				grid-column: 1 / span 3;
			}
			&:nth-child(8n + 7) {
				grid-column: 5 / span 3;
			}
			&:nth-child(8n + 8) {
				grid-column: 3 / span 3;
			}
		}
		@media (min-width: ($mbpM + 1px)) and (max-width: $mbpT) {
			margin-bottom: 80px;
			&:nth-child(8n + 2) .news-card__bottom, &:nth-child(8n + 3) .news-card__bottom, &:nth-child(8n + 4) .news-card__bottom {
				grid-template-columns: 1fr;
				gap: 20px;
			}
			&:nth-child(8n + 2) .news-card__date, &:nth-child(8n + 3) .news-card__date, &:nth-child(8n + 4) .news-card__date {
				position: static;
			}
		}
		@media (max-width: $mbpM) {
			margin-bottom: 50px;
			& .news-card__bottom {
				padding-top: 24px;
			}
		}
		@media (max-width: $mbpMM) {
			& .news-card__bottom {
				grid-template-columns: 1fr;
				gap: 12px;
			}
			& .news-card__date {
				position: static;
			}
		}
	}
	&__load-more-btn-area {
		display: flex;
		justify-content: center;
		padding-bottom: 220px;
		@media (max-width: $mbpT) {
			padding-bottom: 80px;
		}
	}
	@keyframes news-hidding-odd {
		0% { transform: scale(1) translate(0); }
		20% { transform: scale(0.9) translate(0); }
		100% { transform: scale(0.9) translate(-200vw); }
	}
	@keyframes news-hidding-even {
		0% { transform: scale(1) translate(0); }
		20% { transform: scale(0.9) translate(0); }
		40% { transform: scale(0.9) translate(0); }
		100% { transform: scale(0.9) translate(200vw); }
	}
	@keyframes news-showing-odd {
		0% { transform: scale(0.9) translate(-200vw); }
		80% { transform: scale(0.9) translate(0); }
		100% { transform: scale(1) translate(0); }
	}
	@keyframes news-showing-even {
		0% { transform: scale(0.9) translate(200vw); }
		60% { transform: scale(0.9) translate(0); }
		80% { transform: scale(0.9) translate(0); }
		100% { transform: scale(1) translate(0); }
	}
	&__category.hidding &__card {
		&:nth-child(odd) {
			animation: calc(var(--transition, 0.4s) / 2) ease-out forwards news-hidding-odd;
		}
		&:nth-child(even) {
			animation: calc(var(--transition, 0.4s) / 2) ease-out forwards news-hidding-even;
		}
	}
	&__category.showing &__card {
		&:nth-child(odd) {
			animation: calc(var(--transition, 0.4s) / 2) ease-out forwards news-showing-odd;
		}
		&:nth-child(even) {
			animation: calc(var(--transition, 0.4s) / 2) ease-out forwards news-showing-even;
		}
	}
}
