<!DOCTYPE html>
<html lang="en">
	{{> ../../shared/partials/head
		title='News'
	}}
	<body class="news">
		{{> ../../shared/partials/header}}
		<main>
			<section class="hero">
				<div class="section-container section-container_decor hero__container">
					{{> ../../shared/partials/page-top-nav active="news"}}
					<h1 class="tg-h1">News</h1>
				</div>
			</section>
			<section class="materials-grid news-grid" id="news-grid" data-component="materials-grid">
				<div class="section-container section-container_decor news-grid__container">
					<div class="materials-grid__content news-grid__content" data-elem="materials-grid.body">
						<div class="materials-grid__category news-grid__category" data-category="all">
							<div class="news-grid__category-grid">
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_01.webp">
												<img src="@img/news/14-20_01.jpg" alt="News poster">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Linnikov Agency Wins Clutch Award For Top Ukranian Advertising & Marketing Firm</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_02.webp">
												<img src="@img/news/14-20_02.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Small and medium business</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_03.webp">
												<img src="@img/news/14-20_03.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Target Audience Portrait: A Step-by-Step Guide to Creating</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_04.webp">
												<img src="@img/news/14-20_04.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">How to create an integral brand?</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_05.webp">
												<img src="@img/news/14-20_05.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Brand creation in Linnikov.agency</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_06.webp">
												<img src="@img/news/14-20_06.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">The Story of a Manager, or a tale about how not to blow the deadline</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_07.webp">
												<img src="@img/news/14-20_07.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Linnikov Agency Wins Clutch Award For Top Ukranian Advertising & Marketing Firm</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_08.webp">
												<img src="@img/news/14-20_08.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Small and medium business</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_09.webp">
												<img src="@img/news/14-20_09.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Target Audience Portrait: A Step-by-Step Guide to Creating</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_10.webp">
												<img src="@img/news/14-20_10.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">How to create an integral brand?</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_11.webp">
												<img src="@img/news/14-20_11.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Brand creation in Linnikov.agency</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card" data-category="read, watch">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_12.webp">
												<img src="@img/news/14-20_12.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">The Story of a Manager, or a tale about how not to blow the deadline</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
							</div>
							<div class="news-grid__load-more-btn-area">
								{{!-- Should act like only forward pagination, for search engine spider --}}
								<a href="./news?page=2" type="button" class="btn" data-materials-grid-elem="load-more-btn" data-category="all">
									Load more
									<div class="ref-arrow-icon ref-arrow-icon_horizontal">
										<span class="icon-cubic-nav-arrow-right"></span>
										<span class="icon-cubic-nav-arrow-right"></span>
									</div>
								</a>
							</div>
						</div>
						<div class="materials-grid__category news-grid__category" data-category="read">
							<div class="news-grid__category-grid">
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_01.webp">
												<img src="@img/news/14-20_01.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Linnikov Agency Wins Clutch Award For Top Ukranian Advertising & Marketing Firm</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_02.webp">
												<img src="@img/news/14-20_02.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Small and medium business</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_03.webp">
												<img src="@img/news/14-20_03.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Target Audience Portrait: A Step-by-Step Guide to Creating</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_04.webp">
												<img src="@img/news/14-20_04.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">How to create an integral brand?</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_05.webp">
												<img src="@img/news/14-20_05.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Brand creation in Linnikov.agency</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_06.webp">
												<img src="@img/news/14-20_06.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">The Story of a Manager, or a tale about how not to blow the deadline</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_07.webp">
												<img src="@img/news/14-20_07.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Linnikov Agency Wins Clutch Award For Top Ukranian Advertising & Marketing Firm</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_08.webp">
												<img src="@img/news/14-20_08.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Small and medium business</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_09.webp">
												<img src="@img/news/14-20_09.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Target Audience Portrait: A Step-by-Step Guide to Creating</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_10.webp">
												<img src="@img/news/14-20_10.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">How to create an integral brand?</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_11.webp">
												<img src="@img/news/14-20_11.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Brand creation in Linnikov.agency</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card" data-category="read, watch">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_12.webp">
												<img src="@img/news/14-20_12.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">The Story of a Manager, or a tale about how not to blow the deadline</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
							</div>
							<div class="news-grid__load-more-btn-area">
								{{!-- Should act like only forward pagination, for search engine spider --}}
								<a href="./news?page=2" type="button" class="btn" data-materials-grid-elem="load-more-btn" data-category="read">
									Load more
									<div class="ref-arrow-icon ref-arrow-icon_horizontal">
										<span class="icon-cubic-nav-arrow-right"></span>
										<span class="icon-cubic-nav-arrow-right"></span>
									</div>
								</a>
							</div>
						</div>
						<div class="materials-grid__category news-grid__category" data-category="watch">
							<div class="news-grid__category-grid">
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_01.webp">
												<img src="@img/news/14-20_01.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Linnikov Agency Wins Clutch Award For Top Ukranian Advertising & Marketing Firm</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_02.webp">
												<img src="@img/news/14-20_02.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Small and medium business</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_03.webp">
												<img src="@img/news/14-20_03.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Target Audience Portrait: A Step-by-Step Guide to Creating</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_04.webp">
												<img src="@img/news/14-20_04.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">How to create an integral brand?</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_05.webp">
												<img src="@img/news/14-20_05.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Brand creation in Linnikov.agency</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_06.webp">
												<img src="@img/news/14-20_06.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">The Story of a Manager, or a tale about how not to blow the deadline</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_07.webp">
												<img src="@img/news/14-20_07.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Linnikov Agency Wins Clutch Award For Top Ukranian Advertising & Marketing Firm</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_08.webp">
												<img src="@img/news/14-20_08.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Small and medium business</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_09.webp">
												<img src="@img/news/14-20_09.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Target Audience Portrait: A Step-by-Step Guide to Creating</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_10.webp">
												<img src="@img/news/14-20_10.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">How to create an integral brand?</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_11.webp">
												<img src="@img/news/14-20_11.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Brand creation in Linnikov.agency</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card" data-category="read, watch">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_12.webp">
												<img src="@img/news/14-20_12.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">The Story of a Manager, or a tale about how not to blow the deadline</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
							</div>
							<div class="news-grid__load-more-btn-area">
								{{!-- Should act like only forward pagination, for search engine spider --}}
								<a href="./news?page=2" type="button" class="btn" data-materials-grid-elem="load-more-btn" data-category="watch">
									Load more
									<div class="ref-arrow-icon ref-arrow-icon_horizontal">
										<span class="icon-cubic-nav-arrow-right"></span>
										<span class="icon-cubic-nav-arrow-right"></span>
									</div>
								</a>
							</div>
						</div>
						<div class="materials-grid__category news-grid__category" data-category="listen">
							<div class="news-grid__category-grid">
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_01.webp">
												<img src="@img/news/14-20_01.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Linnikov Agency Wins Clutch Award For Top Ukranian Advertising & Marketing Firm</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_02.webp">
												<img src="@img/news/14-20_02.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Small and medium business</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_03.webp">
												<img src="@img/news/14-20_03.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Target Audience Portrait: A Step-by-Step Guide to Creating</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_04.webp">
												<img src="@img/news/14-20_04.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">How to create an integral brand?</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
								<a href="." class="news-card news-grid__card">
									<div class="img-wrap img-wrap_cover news-card__img">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/news/14-20_05.webp">
												<img src="@img/news/14-20_05.jpg" alt="News poster" loading="lazy">
											</picture>
										</div>
									</div>
									<div class="news-card__bottom">
										<h4 class="news-card__title">Brand creation in Linnikov.agency</h4>
										<div class="news-card__date">14/20</div>
									</div>
								</a>
							</div>
							<div class="news-grid__load-more-btn-area">
								{{!-- Should act like only forward pagination, for search engine spider --}}
								<a href="./news?page=2" type="button" class="btn" data-materials-grid-elem="load-more-btn" data-category="listen">
									Load more
									<div class="ref-arrow-icon ref-arrow-icon_horizontal">
										<span class="icon-cubic-nav-arrow-right"></span>
										<span class="icon-cubic-nav-arrow-right"></span>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="subscription">
				<div class="section-container section-container_decor subscription__container">
					<div class="subscription__separator"></div>
					<h2 class="tg-h1">Subscribe on our newsletter</h2>
					<button type="button" class="btn" data-drawer-open="sign-up">
						Subscribe
						<div class="ref-arrow-icon ref-arrow-icon_horizontal">
							<span class="icon-cubic-nav-arrow-right"></span>
							<span class="icon-cubic-nav-arrow-right"></span>
						</div>
					</button>
				</div>
			</section>
			<section class="fixed-materials-filter news-grid__filter" data-component="materials-filter" data-for="news-grid">
				<div class="fixed-materials-filter__panel">
					<div class="section-container fixed-materials-filter__container">
						<nav class="tg-control uppercase keen-slider fixed-materials-filter__slider" data-elem="slider">
							<a href="#all" class="text-btn keen-slider__slide" data-component="animated-link">
								{{> ../../shared/partials/animated-cubic-lightning id="news-filter__lightning_1" class="text-btn__lightning"}}
								</span><div class="text-btn__cap">All</div>
							</a>
							<a href="#read" class="text-btn keen-slider__slide" data-component="animated-link">
								{{> ../../shared/partials/animated-cubic-lightning id="news-filter__lightning_2" class="text-btn__lightning"}}
								</span><div class="text-btn__cap">Read</div>
							</a>
							<a href="#watch" class="text-btn keen-slider__slide" data-component="animated-link">
								{{> ../../shared/partials/animated-cubic-lightning id="news-filter__lightning_3" class="text-btn__lightning"}}
								</span><div class="text-btn__cap">Watch</div>
							</a>
							<a href="#listen" class="text-btn keen-slider__slide" data-component="animated-link">
								{{> ../../shared/partials/animated-cubic-lightning id="news-filter__lightning_4" class="text-btn__lightning"}}
								</span><div class="text-btn__cap">Listen</div>
							</a>
						</nav>
					</div>
					<div class="fixed-materials-filter__tips slider-tips" data-elem="tips">
						<button class="icon-cubic-nav-arrow-left slider-tips__arrow-left" data-elem="materials-filter.prev"></button>
						<div class="slider-tips__square"></div>
						<button class="icon-cubic-nav-arrow-right slider-tips__arrow-right" data-elem="materials-filter.next"></button>
					</div>
				</div>
			</section>
		</main>
		<button id="go-up" type="button" class="go-up-btn">
			<span class="icon-go-up"></span>
		</button>
		<div class="drawers-group" data-drawers-group="system">
			{{> ../../shared/partials/sign-up-drawer}}
			{{> ../../shared/partials/common-drawers}}
		</div>
		{{> ../../shared/partials/common no-cta-widget=true}}
		{{> ../../shared/partials/footer}}
	</body>
</html>