<!DOCTYPE html>
<html lang="en">
	{{> ../../shared/partials/head
		title='Designer application'
	}}
	<body class="designer-application">
		{{> ../../shared/partials/header}}
		<div>
			<main>
				<section class="hero hero_designer-application">
					<div class="section-container section-container_decor hero__container">
						<div class="section-container__inner hero__inner">
							<h1 class="tg-h1 hero__title">Designer application</h1>
							<div class="tg-regular hero__block">
								<h2 class="tg-h3 hero__block-title">We are looking for a good Brand-designer. We need a candidate who has experience in creating brands.</h2>
								<p>Creative and insightful. The one who has a desire to develop and create real brands. Our clients are companies from Ukraine and the whole world. If you can generate visual solutions with an individual approach, from idea to implementation - welcome to our agency!</p>
								<p>2-year experience.</p>
								<p>We only consider the candidates who have completed the test task.</p>
							</div>
						</div>
					</div>
				</section>
				<form id="designer-application-form" class="tg-regular application-form">
					<div class="section-container section-container_decor application-form__container">
						<div class="form__body application-form__body" data-elem="body">
							{{!-- <div class="animated-separator"></div>
							<div class="section-container__inner field-wrap_t field-wrap_b app-form-block">
								<div class="app-form-block__body">
									<a href="." class="text-btn tg-regular" target="_blank"><span class="icon-download"></span>Download the brief</a>
								</div>
							</div> --}}
							<div class="animated-separator"></div>
							<div class="section-container__inner contact-form__row contact-form__row_col2">
								<div class="field-wrap_t field-wrap_b field-wrap_save">
									<div class="form-field form-field_width-limit contact-form__field">
										<input name="contact--name" class="contact-form-input" type="text" placeholder="Name">
									</div>
								</div>
								<div class="animated-separator animated-separator_mobile"></div>
								<div class="field-wrap_t field-wrap_b field-wrap_save">
									<div class="form-field form-field_width-limit contact-form__field">
										<input name="contact--email" class="contact-form-input" required data-rule-custom-email data-msg-custom-email="Isn't valid email address" type="text" placeholder="E-mail" data-mask="email">
									</div>
								</div>
							</div>
							<div class="animated-separator"></div>
							<div class="section-container__inner field-wrap_t field-wrap_b app-form-block">
								<div class="tg-regular app-form-block__cap">Link to you Portfolio</div>
								<div class="app-form-block__body">
									<div class="form-field form-field_width-limit">
										<textarea name="link-to-portfolio" class="text-input text-input_p-0" rows="1" data-autoheight="true" placeholder="Your short answer"></textarea>
									</div>
								</div>
							</div>
							<div class="animated-separator"></div>
							<div class="section-container__inner field-wrap_t field-wrap_b app-form-block">
								<div class="app-form-block__cap">Which of the following reflects your experience? Choose whatever suits you.</div>
								<div class="app-form-block__body">
									<div class="inline-select">
										<fieldset class="inline-select__inner">
											<label class="text-checkbox" aria-role="button">
												<input type="radio" name="experience" value="creating-brands" aria-hidden="true">
												<div class="text-checkbox__body">Experience in creating brands of different scale</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="radio" name="experience" value="team-player" aria-hidden="true">
												<div class="text-checkbox__body">Ability to articulate thoughts and mix well with the team</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="radio" name="experience" value="self-confident" aria-hidden="true">
												<div class="text-checkbox__body">Ability to present and defend your idea</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="radio" name="experience" value="accuracy" aria-hidden="true">
												<div class="text-checkbox__body">Accuracy</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="radio" name="experience" value="initiative and creativity" aria-hidden="true">
												<div class="text-checkbox__body">Initiative and Creativity</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="radio" name="experience" value="positive and stress resistant" aria-hidden="true">
												<div class="text-checkbox__body">Stress-resistance, sense of humor and a positive attitude to life</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="radio" name="experience" value="play complex games" aria-hidden="true">
												<div class="text-checkbox__body">Implementation of projects of various complexity</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="radio" name="experience" value="passion for brand design" aria-hidden="true">
												<div class="text-checkbox__body">Passion for brand design</div>
											</label>
										</fieldset>
									</div>
									{{!-- <div class="disclosure field-disclosure">
										<div class="disclosure__body">
											<div class="disclosure__inner field-disclosure__inner form-field form-field_width-limit" data-elem="disclosure.inner">
												<textarea name="experience--other-desc" class="text-input text-input_p-0" rows="1" data-autoheight="true" placeholder="Your short answer"></textarea>
											</div>
										</div>
									</div> --}}
								</div>
							</div>
							<div class="animated-separator"></div>
							<div class="section-container__inner field-wrap_t field-wrap_b app-form-block">
								<div class="app-form-block__cap">What types of projects have you worked on previously? Choose whatever suits you.</div>
								<div class="app-form-block__body">
									<div class="inline-select">
										<fieldset class="inline-select__inner">
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="project-types" value="Graphic design" aria-hidden="true">
												<div class="text-checkbox__body">Graphic design</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="project-types" value="Infographic" aria-hidden="true">
												<div class="text-checkbox__body">Infographic</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="project-types" value="Packaging" aria-hidden="true">
												<div class="text-checkbox__body">Packaging</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="project-types" value="Presentations" aria-hidden="true">
												<div class="text-checkbox__body">Presentations</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="project-types" value="Illustration" aria-hidden="true">
												<div class="text-checkbox__body">Illustration</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="project-types" value="Typography" aria-hidden="true">
												<div class="text-checkbox__body">Typography</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="project-types" value="Webdesign" aria-hidden="true">
												<div class="text-checkbox__body">Webdesign</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="project-types" value="UI/UX" aria-hidden="true">
												<div class="text-checkbox__body">UI/UX</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="project-types" value="App design" aria-hidden="true">
												<div class="text-checkbox__body">App design</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="project-types" value="Photography" aria-hidden="true">
												<div class="text-checkbox__body">Photography</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="project-types" value="Webdesign" aria-hidden="true">
												<div class="text-checkbox__body">Webdesign</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="project-types" value="Animation" aria-hidden="true">
												<div class="text-checkbox__body">Animation</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="project-types" value="Motion" aria-hidden="true">
												<div class="text-checkbox__body">Motion</div>
											</label><label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="project-types" value="3D" aria-hidden="true">
												<div class="text-checkbox__body">3D</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="project-types" value="Brand design" aria-hidden="true">
												<div class="text-checkbox__body">Brand design</div>
											</label>
										</fieldset>
									</div>
									{{!-- <div class="disclosure field-disclosure">
										<div class="disclosure__body">
											<div class="disclosure__inner field-disclosure__inner form-field form-field_width-limit" data-elem="disclosure.inner">
												<textarea name="experience--other-desc" class="text-input text-input_p-0" rows="1" data-autoheight="true" placeholder="Your short answer"></textarea>
											</div>
										</div>
									</div> --}}
								</div>
							</div>
							<div class="animated-separator"></div>
							<div class="section-container__inner field-wrap_t field-wrap_b app-form-block">
								<div class="app-form-block__cap">Tools. Choose whatever suits you.</div>
								<div class="app-form-block__body">
									<div class="inline-select">
										<fieldset class="inline-select__inner">
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="tools" value="Illustrator" aria-hidden="true">
												<div class="text-checkbox__body">Illustrator</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="tools" value="Photoshop" aria-hidden="true">
												<div class="text-checkbox__body">Photoshop</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="tools" value="Indesign" aria-hidden="true">
												<div class="text-checkbox__body">Indesign</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="tools" value="3D Max" aria-hidden="true">
												<div class="text-checkbox__body">3D Max</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="tools" value="After Effects" aria-hidden="true">
												<div class="text-checkbox__body">After Effects</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="tools" value="Cinema 4D" aria-hidden="true">
												<div class="text-checkbox__body">Cinema 4D</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="tools" value="PowerPoint" aria-hidden="true">
												<div class="text-checkbox__body">PowerPoint</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="tools" value="Figma" aria-hidden="true">
												<div class="text-checkbox__body">Figma</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="tools" value="Keynote" aria-hidden="true">
												<div class="text-checkbox__body">Keynote</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="tools" value="Adobe XD" aria-hidden="true">
												<div class="text-checkbox__body">Adobe XD</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="tools" value="Sketch" aria-hidden="true">
												<div class="text-checkbox__body">Sketch</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="tools" value="Premiere Pro" aria-hidden="true">
												<div class="text-checkbox__body">Premiere Pro</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="tools" value="Blender" aria-hidden="true">
												<div class="text-checkbox__body">Blender</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="tools" value="Canva" aria-hidden="true">
												<div class="text-checkbox__body">Canva</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="tools" value="Chat GPT" aria-hidden="true">
												<div class="text-checkbox__body">Chat GPT</div>
											</label>
											<label class="text-checkbox" aria-role="button">
												<input type="checkbox" name="tools" value="Midjourney" aria-hidden="true">
												<div class="text-checkbox__body">Midjourney</div>
											</label>
										</fieldset>
									</div>
									{{!-- <div class="disclosure field-disclosure">
										<div class="disclosure__body">
											<div class="disclosure__inner field-disclosure__inner form-field form-field_width-limit" data-elem="disclosure.inner">
												<textarea name="experience--other-desc" class="text-input text-input_p-0" rows="1" data-autoheight="true" placeholder="Your short answer"></textarea>
											</div>
										</div>
									</div> --}}
								</div>
							</div>
							<div class="animated-separator"></div>
							<div class="section-container__inner field-wrap_t field-wrap_b app-form-block">
								<div class="tg-regular app-form-block__cap">Cover letter</div>
								<div class="app-form-block__body">
									<div class="form-field form-field_width-limit">
										<textarea name="cover-letter" class="text-input text-input_p-0" rows="1" data-autoheight="true" placeholder="Your short answer"></textarea>
									</div>
								</div>
							</div>
							<div class="animated-separator"></div>
							<div class="section-container__inner contact-form__row contact-form__row_col2">
								<div class="app-form-block field-wrap_t field-wrap_b">
									<div class="tg-regular app-form-block__cap">Desired Salary</div>
									<div class="app-form-block__body">
										<div class="tg-control tg-control_sm time-value">
											<select name="period" class="time-value__select" data-component="tom-select" data-no-clear-btn="true">
												<option value="Hourly" selected>Hourly</option>
												<option value="Yearly">Yearly</option>
											</select>
											<input type="text" name="salary" class="time-value__value" data-mask="currency">
										</div>
									</div>
								</div>
							</div>
							<div class="animated-separator"></div>
							<div class="section-container__inner app-form-block application-form__footer">
								<div class="app-form-block__body">
									<div class="field-with-title">
										<label for="attachments">Attachments</label>
										<div class="form-field form-field_width-limit">
											<div class="attachments" data-component="file-input">
												<label class="attachments__body">
													<input name="attachments" multiple="true" type="file">
													<span class="icon-attachment attachments__icon"></span>
													<div class="attachments__cap">Upload resume</div>
												</label>
												<ul class="attachments__list" data-elem="file-input.list"></ul>
											</div>
										</div>
									</div>
									<div class="form-field form-field_width-limit">
										<label class="checkbox option-field">
											<input type="checkbox" name="agreement" required="true">
											<div class="checkbox__body">
												<div class="checkbox__effect"></div>
												<div class="checkbox__inner">
													<div class="checkbox__decor"></div>
													<div class="checkbox__thumb"></div>
												</div>
												<div class="checkbox__right-border"><div class="checkbox__border-spacer"></div></div>
											</div>
											<span class="tg-regular checkbox__cap">Consent to <a href="https://linnikov.agency/policy/" class="simple-text-link">personal data processing</a></span>
										</label>
									</div>
								</div>
							</div>
							<div class="section-container__inner application-form__actions">
								<button type="submit" class="btn form__submit-btn" data-elem="submit-btn">
									Send
									<div class="ref-arrow-icon ref-arrow-icon_horizontal">
										<span class="icon-cubic-nav-arrow-right"></span>
										<span class="icon-cubic-nav-arrow-right"></span>
									</div>
								</button>
							</div>
						</div>
						<div class="tg-h3 form-messages form-messages_fixed form__messages application-form__messages" data-component="form-messages">
							<div class="section-container form-messages__inner">
								<div class="form-messages__panel">
									<div class="form-msg form-msg_success"
										data-elem="msg"
										data-type="success"
										data-default="Thank you for submitting. Check your email and enjoy!"></div>
									<div class="form-msg form-msg_error"
										data-elem="msg"
										data-type="error"
										data-default="Error."></div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</main>
		</div>
		<div class="drawers-group" data-drawers-group="system">
			{{> ../../shared/partials/common-drawers}}
		</div>
		{{> ../../shared/partials/common}}
		{{> ../../shared/partials/footer}}
	</body>
</html>