<section class="drawer drawer_right archetypes-list-drawer" data-drawer="brand-archetypes">
	<div data-lenis-prevent class="drawer__panel archetypes-list-drawer__panel" data-elem="drawer.panel" data-scrollable>
		<section class="section-container section-container_decor drawer__body">
			<div class="archetypes-list-drawer__body">
				<div class="archetypes-list-drawer__header">
					<button class="drawer-close-btn archetypes-list-drawer__close-btn" data-drawer-close="brand-archetypes"><div class="drawer-close-btn__inner">Close panel<span class="icon-cubic-plus"></span></div></button>
					<div class="archetypes-list-drawer__snowflake"><span class="icon-snowflake"></span></div>
					<h2 class="archetypes-list-drawer__title tg-drawer-h1">12 brand archetypes</h2>
					<div class="archetypes-list-drawer__sub-title tg-h4">In which cases which archetype is right for you</div>
					<a href="" class="text-btn text-btn_download archetypes-list-drawer__download-btn tg-h3">
						<div class="icon-cubic-download"></div>
						</span><div class="text-btn__cap"><b>Download</b></div>
					</a>
				</div>
				<div class="archetypes-list-drawer__list archetypes-list">
					<div class="archetypes-list__inner">
						<div class="archetypes-table">
							<div class="archetypes-table__th">
								<b>Archetypeаа</b>
							</div>
							<div class="archetypes-table__th">
								<b>Suitable If the Product…</b>
							</div>
							<div class="archetypes-table__th archetypes-table__th_second">
								<b>Archetypeаа</b>
							</div>
							<div class="archetypes-table__th archetypes-table__th_second">
								<b>Suitable If the Product…</b>
							</div>
							<div class="archetypes-table__td"><b>Innocent</b></div>
							<div class="archetypes-table__td">
								<ul class="la-article-ul">
									<li>Evokes a sense of kindness, optimism, and carefreeness</li>
									<li>Is related to children or family</li>
									<li>Uses natural ingredients</li>
								</ul>
							</div>
							<div class="archetypes-table__td"><b>Sage</b></div>
							<div class="archetypes-table__td">
								<ul class="la-article-ul">
									<li>Helps people become smarter and gain skills</li>
									<li>Helps in decision-making</li>
									<li>Is priced higher than the market average</li>
								</ul>
							</div>
							<div class="archetypes-table__td"><b>Explorer</b></div>
							<div class="archetypes-table__td">
								<ul class="la-article-ul">
									<li>Helps people better understand themselves</li>
									<li>Inspires</li>
									<li>Helps express individuality</li>
									<li>Creates an experience that takes one’s breath away</li>
								</ul>
							</div>
							<div class="archetypes-table__td"><b>Rebel</b></div>
							<div class="archetypes-table__td">
								<ul class="la-article-ul">
									<li>Supports an audience that feels alienated</li>
									<li>Goes against existing rules</li>
									<li>Competes with corporations</li>
								</ul>
							</div>
							<div class="archetypes-table__td"><b>Magician</b></div>
							<div class="archetypes-table__td">
								<ul class="la-article-ul">
									<li>Uses new technologies</li>
									<li>Helps change views and opinions</li>
									<li>Facilitates quick changes in the user’s life</li>
								</ul>
							</div>
							<div class="archetypes-table__td"><b>Hero</b></div>
							<div class="archetypes-table__td">
								<ul class="la-article-ul">
									<li>Brings change to the user through overcoming difficulties</li>
									<li>Solves social problems</li>
									<li>Helps complete tough tasks</li>
									<li>Helps people become stronger in every sense</li>
								</ul>
							</div>
							<div class="archetypes-table__td"><b>Lover</b></div>
							<div class="archetypes-table__td">
								<ul class="la-article-ul">
									<li>Brings pleasure</li>
									<li>Helps find a partner</li>
									<li>Helps maintain attractiveness</li>
									<li>Is related to aesthetics and sophistication</li>
								</ul>
							</div>
							<div class="archetypes-table__td"><b>Jester</b></div>
							<div class="archetypes-table__td">
								<ul class="la-article-ul">
									<li>Entertains the customer</li>
									<li>Allows them to feel young at heart</li>
									<li>Helps people have a good time</li>
								</ul>
							</div>
							<div class="archetypes-table__td"><b>Everyman</b></div>
							<div class="archetypes-table__td">
								<ul class="la-article-ul">
									<li>Helps the customer feel a sense of belonging</li>
									<li>Promotes simple human values: kindness, love, loyalty, honesty</li>
									<li>Lifts the mood</li>
								</ul>
							</div>
							<div class="archetypes-table__td"><b>Caregiver</b></div>
							<div class="archetypes-table__td">
								<ul class="la-article-ul">
									<li>Uses new technologies</li>
									<li>Helps change views and opinions</li>
									<li>Facilitates quick changes in the user’s life</li>
								</ul>
							</div>
							<div class="archetypes-table__td"><b>Ruler</b></div>
							<div class="archetypes-table__td">
								<ul class="la-article-ul">
									<li>Helps the customer feel status and influence</li>
									<li>Is related to earning money</li>
									<li>Simplifies business life</li>
								</ul>
							</div>
							<div class="archetypes-table__td"><b>Creator</b></div>
							<div class="archetypes-table__td">
								<ul class="la-article-ul">
									<li>Helps the customer feel like a creative individual</li>
									<li>Opposes mass-market products</li>
									<li>Allows the user to feel unique</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>