<section id="categories-grid" class="categories-grid">
	<div class="section-container section-container_decor categories-grid__container">
		<div class="categories-grid__inner">
			<div class="category-card" data-active="true">
				<div class="category-card__inner">
					<div class="category-card__border"><div></div><div></div></div>
					<div class="category-card__main" data-elem="main">
						<div data-component="animated-icon" data-id="1" class="animated-icon category-card__icon">
							<canvas></canvas>
							<div data-elem="overlay"></div>
						</div>
						<div class="category-card__title">
							Brand <br><span class="white-space-nowrap">Launch <span class="category-card__arrow ref-arrow-icon">
								<span class="icon-cubic-ref-arrow"></span>
								<span class="icon-cubic-ref-arrow"></span>
							</span></span>
						</div>
					</div>
					<div class="category-card__disclosure" data-elem="disclosure">
						<div class="category-card__disclosure-inner" data-elem="disclosure-inner">
							<div class="category-card__desc">
								Development of a new brand, turnkey business from scratch
							</div>
						</div>
					</div>
					<div class="double-cubic-decor category-card__decor"></div>
				</div>
			</div>
			<div class="category-card" data-active="true">
				<div class="category-card__inner">
					<div class="category-card__border"><div></div><div></div></div>
					<div class="category-card__main" data-elem="main">
						<div data-component="animated-icon" data-id="5" class="animated-icon category-card__icon">
							<canvas></canvas>
							<div data-elem="overlay"></div>
						</div>
						<div class="category-card__title">
							Brand <br><span class="white-space-nowrap">Update <span class="category-card__arrow ref-arrow-icon">
								<span class="icon-cubic-ref-arrow"></span>
								<span class="icon-cubic-ref-arrow"></span>
							</span>
							</span>
						</div>
					</div>
					<div class="category-card__disclosure" data-elem="disclosure">
						<div class="category-card__disclosure-inner" data-elem="disclosure-inner">
							<div class="category-card__desc">
								Brand change due to growth, reaching a new stage of maturity or changes in market conditions and trends
							</div>
						</div>
					</div>
					<div class="double-cubic-decor category-card__decor"></div>
				</div>
			</div>
			<div class="category-card" data-active="true">
				<div class="category-card__inner">
					<div class="category-card__border"><div></div><div></div></div>
					<div class="category-card__main" data-elem="main" data-elem="main">
						<div data-component="animated-icon" data-id="3" class="animated-icon category-card__icon">
							<canvas></canvas>
							<div data-elem="overlay"></div>
						</div>
						<div class="category-card__title">Creative <br><span class="white-space-nowrap">Vision <span class="category-card__arrow ref-arrow-icon"><span class="icon-cubic-ref-arrow"></span><span class="icon-cubic-ref-arrow"></span></span></span></div>
					</div>
					<div class="category-card__disclosure" data-elem="disclosure">
						<div class="category-card__disclosure-inner" data-elem="disclosure-inner">
							<div class="category-card__desc">
								Stay on trend and look modern with professional designs tailored to your brand platform
							</div>
						</div>
					</div>
					<div class="double-cubic-decor category-card__decor"></div>
				</div>
			</div>
			<div class="category-card" data-active="true">
				<div class="category-card__inner">
					<div class="category-card__border"><div></div><div></div></div>
					<div class="category-card__main" data-elem="main" data-elem="main">
						<div data-component="animated-icon" data-id="4" class="animated-icon category-card__icon">
							<canvas></canvas>
							<div data-elem="overlay"></div>
						</div>
						<div class="category-card__title">
							Brand <br><span class="white-space-nowrap">Platform <span class="category-card__arrow ref-arrow-icon">
									<span class="icon-cubic-ref-arrow"></span>
									<span class="icon-cubic-ref-arrow"></span>
								</span>
							</span>
						</div>
					</div>
					<div class="category-card__disclosure" data-elem="disclosure">
					<div class="category-card__disclosure-inner" data-elem="disclosure-inner">
						<div class="category-card__desc">
							Creation of a unique brand positioning, taking into account the target audience, market, product. A solid foundation for brand development.
						</div>
					</div>
				</div>
				<div class="double-cubic-decor category-card__decor"></div>
				</div>
			</div>
			<div class="category-card" data-active="true">
				<div class="category-card__inner">
					<div class="category-card__border"><div></div><div></div></div>
					<div class="category-card__main" data-elem="main" data-elem="main">
						<div data-component="animated-icon" data-id="6" class="animated-icon category-card__icon">
							<canvas></canvas>
							<div data-elem="overlay"></div>
						</div>
						<div class="category-card__title">
							Marketing <br><span class="white-space-nowrap">Strategy <span class="category-card__arrow ref-arrow-icon">
									<span class="icon-cubic-ref-arrow"></span>
									<span class="icon-cubic-ref-arrow"></span>
								</span>
							</span>
						</div>
					</div>
					<div class="category-card__disclosure" data-elem="disclosure">
						<div class="category-card__disclosure-inner" data-elem="disclosure-inner">
							<div class="category-card__desc">
								Developing and executing a long-term strategy to ensure consistent and impactful brand messaging to engage the target consumers.
							</div>
						</div>
					</div>
					<div class="double-cubic-decor category-card__decor"></div>
				</div>
			</div>
			<div class="category-card" data-active="true">
				<div class="category-card__inner">
					<div class="category-card__border"><div></div><div></div></div>
					<div class="category-card__main" data-elem="main" data-elem="main">
						<div data-component="animated-icon" data-id="2" class="animated-icon category-card__icon">
							<canvas></canvas>
							<div data-elem="overlay"></div>
						</div>
						<div class="category-card__title">
							Brand <br><span class="white-space-nowrap">Expansion <span class="category-card__arrow ref-arrow-icon">
									<span class="icon-cubic-ref-arrow"></span>
									<span class="icon-cubic-ref-arrow"></span>
								</span>
							</span>
						</div>
					</div>
					<div class="category-card__disclosure" data-elem="disclosure">
						<div class="category-card__disclosure-inner" data-elem="disclosure-inner">
							<div class="category-card__desc">
								Helping a brand expand into new categories, markets, audiences, or geographies
							</div>
						</div>
					</div>
					<div class="double-cubic-decor category-card__decor"></div>
				</div>
			</div>
			<div class="category-card" data-active="true">
				<div class="category-card__inner">
					<div class="category-card__border"><div></div><div></div></div>
					<div class="category-card__main" data-elem="main" data-elem="main">
						<div data-component="animated-icon" data-id="7" class="animated-icon category-card__icon">
							<canvas></canvas>
							<div data-elem="overlay"></div>
						</div>
						<div class="category-card__title">
							Websites <br>and <span class="white-space-nowrap">apps <span class="category-card__arrow ref-arrow-icon">
									<span class="icon-cubic-ref-arrow"></span>
									<span class="icon-cubic-ref-arrow"></span>
								</span>
							</span>
						</div>
					</div>
					<div class="category-card__disclosure" data-elem="disclosure">
						<div class="category-card__disclosure-inner" data-elem="disclosure-inner">
							<div class="category-card__desc">
								A professional website is an integral part of modern business, contributing to growth, strengthening the brand, and improving customer relationships.
							</div>
						</div>
					</div>
					<div class="double-cubic-decor category-card__decor"></div>
				</div>
			</div>
			<div class="category-card" data-active="true">
				<div class="category-card__inner">
					<div class="category-card__border"><div></div><div></div></div>
					<div class="category-card__main" data-elem="main" data-elem="main">
						<div data-component="animated-icon" data-id="8" class="animated-icon category-card__icon">
							<canvas></canvas>
							<div data-elem="overlay"></div>
						</div>
						<div class="category-card__title">
							Packaging <span class="category-card__arrow ref-arrow-icon">
								<span class="icon-cubic-ref-arrow"></span>
								<span class="icon-cubic-ref-arrow"></span>
							</span>
						</div>
					</div>
					<div class="category-card__disclosure" data-elem="disclosure">
							<div class="category-card__disclosure-inner" data-elem="disclosure-inner">
								<div class="category-card__desc">
									Involves the integration of aesthetics and functionality to reinforce brand identity and drive sales.
								</div>
							</div>
						</div>
						<div class="double-cubic-decor category-card__decor"></div>
				</div>
			</div>
		</div>
	</div>
</section>