<div class="faq-section">
	<div class="section-container section-container_decor" data-track-intersection>
		<div class="section-container__inner faq-section__hero">
			<h2 class="tg-h2 faq__title" data-component="in-view-text-reveal">We possess the ability to address the five fundamental questions that guide any transformative process.</h2>
		</div>
	</div>
	<div id="faq-items" class="tg-h2 faq-stack">
		<div class="section-container section-container_decor faq-stack__underlay"></div>
		<div class="faq-stack__inner" data-elem="faq-composit.inner">
			<div class="faq-item" data-component="faq-composit-item">
				<svg class="faq-item__decor faq-item__decor_d">
					<use href="@img/faq/decor.svg#faq-1"></use>
				</svg>
				<svg class="faq-item__decor faq-item__decor_m">
					<use href="@img/faq/decor.svg#faq-1m"></use>
				</svg>
				<div class="faq-item__wrap">
					<div class="section-container section-container_decor faq-item__container">
						<div class="faq-item__inner disclosure" data-elem="faq-composit-item.disclosure,disclosure.toggle-btn">
							<div class="faq-item__header" data-active="true">
								<div class="section-container__inner">
									<div class="tg-h3 faq-item__question">How should we run our transformation?</div>
									<button type="button" class="faq-item-btn faq-item__btn">
										<div class="icon-cubic-minus"></div>
										<div class="icon-cubic-minus"></div>
									</button>
								</div>
							</div>
							<div class="section-container__inner faq-item__body disclosure__body">
								<div class="faq-item__body-inner" data-elem="disclosure.inner">
									<div class="tg-h3 faq-item__answer">Crafting the Path for Transformation:</div>
									<ul class="faq-item__steps">
										<li>Identifying priority areas for action</li>
										<li>Setting measurable success indicators</li>
										<li>Charting internal stakeholder roles</li>
										<li>Constructing a model for assessing transformation progress</li>
										<li>Formulating a strategic rationale for change</li>
										<li>Outlining a comprehensive change plan</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="faq-item" data-component="faq-composit-item">
				<svg class="faq-item__decor faq-item__decor_d">
					<use href="@img/faq/decor.svg#faq-2"></use>
				</svg>
				<svg class="faq-item__decor faq-item__decor_m">
					<use href="@img/faq/decor.svg#faq-2m"></use>
				</svg>
				<div class="faq-item__wrap">
					<div class="section-container section-container_decor faq-item__container">
						<div class="faq-item__inner disclosure" data-elem="faq-composit-item.disclosure,disclosure.toggle-btn">
							<div class="faq-item__header" data-active="true">
								<div class="section-container__inner">
									<div class="tg-h3 faq-item__question">What new value can we create?</div>
									<button type="button" class="faq-item-btn faq-item__btn">
										<div class="icon-cubic-minus"></div>
										<div class="icon-cubic-minus"></div>
									</button>
								</div>
							</div>
							<div class="section-container__inner faq-item__body disclosure__body">
								<div class="faq-item__body-inner" data-elem="disclosure.inner">
									<ul class="faq-item__steps">
										<li>Crafting Strategic Narratives</li>
										<li>Designing Market Categories</li>
										<li>Analyzing Market Size</li>
										<li>Mapping out Value Propositions</li>
										<li>Redefining Business Strategies</li>
										<li>Innovating Business Models</li>
										<li>Developing Commercialization Tactics</li>
										<li>Evaluating Financial Impact of Innovations</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="faq-item" data-component="faq-composit-item">
				<svg class="faq-item__decor faq-item__decor_d">
					<use href="@img/faq/decor.svg#faq-3"></use>
				</svg>
				<svg class="faq-item__decor faq-item__decor_m">
					<use href="@img/faq/decor.svg#faq-3m"></use>
				</svg>
				<div class="faq-item__wrap">
					<div class="section-container section-container_decor faq-item__container">
						<div class="faq-item__inner disclosure" data-elem="faq-composit-item.disclosure,disclosure.toggle-btn">
							<div class="faq-item__header" data-active="true">
								<div class="section-container__inner">
									<div class="tg-h3 faq-item__question">How does it impact our brand?</div>
									<button type="button" class="faq-item-btn faq-item__btn">
										<div class="icon-cubic-minus"></div>
										<div class="icon-cubic-minus"></div>
									</button>
								</div>
							</div>
							<div class="section-container__inner faq-item__body disclosure__body">
								<div class="faq-item__body-inner" data-elem="disclosure.inner">
									<div class="tg-h3 faq-item__answer">Our expertise in brand evolution develops key assets that become your competitive edge:</div>
									<ul class="faq-item__steps">
										<li>Purpose Definition</li>
										<li>Values</li>
										<li>Brand Strategy</li>
										<li>Naming</li>
										<li>Brand Identity & Systems</li>
										<li>Verbal Branding</li>
										<li>Messaging Architecture</li>
										<li>Audience Segmentation</li>
										<li>Brand-led Innovation Strategy</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="faq-item" data-component="faq-composit-item">
				<svg class="faq-item__decor faq-item__decor_d">
					<use href="@img/faq/decor.svg#faq-4"></use>
				</svg>
				<svg class="faq-item__decor faq-item__decor_m">
					<use href="@img/faq/decor.svg#faq-4m"></use>
				</svg>
				<div class="faq-item__wrap">
					<div class="section-container section-container_decor faq-item__container">
						<div class="faq-item__inner disclosure" data-elem="faq-composit-item.disclosure,disclosure.toggle-btn">
							<div class="faq-item__header" data-active="true">
								<div class="section-container__inner">
									<div class="tg-h3 faq-item__question">How to drive company adoption?</div>
									<button type="button" class="faq-item-btn faq-item__btn">
										<div class="icon-cubic-minus"></div>
										<div class="icon-cubic-minus"></div>
									</button>
								</div>
							</div>
							<div class="section-container__inner faq-item__body disclosure__body">
								<div class="faq-item__body-inner" data-elem="disclosure.inner">
									<ul class="faq-item__steps">
										<li>Crafting Visionary Assets</li>
										<li>Strategizing Employee Engagement</li>
										<li>Conducting Brand Enhancement Workshops</li>
										<li>Developing Purpose-Driven Strategies</li>
										<li>Streamlining Process Architecture</li>
										<li>Mapping Out Implementation Tactics</li>
										<li>Enhancing Top-Level Communication</li>
										<li>Offering Leadership Transformation Coaching</li>
										<li>Establishing Brand Stewardship</li>
										<li>Innovating Creative Process Management</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="faq-item" data-component="faq-composit-item">
				<svg class="faq-item__decor faq-item__decor_d">
					<use href="@img/faq/decor.svg#faq-5"></use>
				</svg>
				<svg class="faq-item__decor faq-item__decor_m">
					<use href="@img/faq/decor.svg#faq-5m"></use>
				</svg>
				<div class="faq-item__wrap">
					<div class="section-container section-container_decor faq-item__container">
						<div class="faq-item__inner disclosure" data-elem="faq-composit-item.disclosure,disclosure.toggle-btn">
							<div class="faq-item__header" data-active="true">
								<div class="section-container__inner">
									<div class="tg-h3 faq-item__question">How do we roll it out to the world?</div>
									<button type="button" class="faq-item-btn faq-item__btn">
										<div class="icon-cubic-minus"></div>
										<div class="icon-cubic-minus"></div>
									</button>
								</div>
							</div>
							<div class="section-container__inner faq-item__body disclosure__body">
								<div class="faq-item__body-inner" data-elem="disclosure.inner">
									<ul class="faq-item__steps">
										<li>Communications Design</li>
										<li>Packaging Design</li>
										<li>Website Design</li>
										<li>UI Kit Development</li>
										<li>On-Product Branding</li>
										<li>Retail Experience Design</li>
										<li>Digital Product Visual Design</li>
										<li>Corporate Workspace Design</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="faq-item">
				<svg class="faq-item__decor faq-item__decor_d">
					<use href="@img/faq/decor.svg#faq-6"></use>
				</svg>
				<svg class="faq-item__decor faq-item__decor_m">
					<use href="@img/faq/decor.svg#faq-6m"></use>
				</svg>
				<div class="faq-item__wrap">
					<div class="section-container section-container_decor faq-item__container">
						<div class="section-container__inner faq-item__inner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>