<section class="tools competencies__tools">
	<div id="tools-frames" class="tg-h2 frames-stack frames-stack_tools">
		<div class="section-container section-container_decor frames-stack__underlay"></div>
		<div class="frames-stack__inner">
			<div class="fs-frame frames-stack__frame">
				<div class="fs-frame__wrap" data-elem="frames-stack.frame.wrap">
					<svg class="fs-frame__decor fs-frame__decor_d">
					<use href="@img/faq/decor.svg#1"></use>
					</svg>
					<svg class="fs-frame__decor fs-frame__decor_m">
						<use href="@img/faq/decor.svg#1m"></use>
					</svg>
					<div class="fs-frame__clip" data-elem="frames-stack.frame.clip">
						<div class="section-container section-container_decor fs-frame__container">
							<div class="section-container__inner fs-frame__inner" data-elem="frames-stack.frame.inner">
								<div class="fs-frame__header" data-elem="frames-stack.frame.header">
									Generational theory
								</div>
								<div class="tg-h3 fs-frame__body competencies-tools__item-body" data-elem="frames-stack.frame.body">
									Each generation is shaped by its unique experiences and influences, which determine their perspectives and consumption patterns.
									<a href="." class="tg-h4 competencies-tools__item-btn">
										<div class="ref-arrow-icon">
											<span class="icon-cubic-ref-arrow"></span>
											<span class="icon-cubic-ref-arrow"></span>
										</div>
										Learn more
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="fs-frame frames-stack__frame">
				<div class="fs-frame__wrap" data-elem="frames-stack.frame.wrap">
					<svg class="fs-frame__decor fs-frame__decor_d">
						<use href="@img/faq/decor.svg#2"></use>
					</svg>
					<svg class="fs-frame__decor fs-frame__decor_m">
						<use href="@img/faq/decor.svg#2m"></use>
					</svg>
					<div class="fs-frame__clip competencies-tools__item">
						<div class="section-container section-container_decor fs-frame__container">
							<div class="section-container__inner fs-frame__inner" data-elem="frames-stack.frame.inner">
									<div class="fs-frame__header" data-elem="frames-stack.frame.header">
										Psychotypes
									</div>
									<div class="tg-h3 fs-frame__body competencies-tools__item-body" data-elem="frames-stack.frame.body">
										A model that provides a set of clear metrics and rules, enabling in-depth analysis of the psychological and cultural profile of an individual or a group of people, and predicting their perception, reactions, and behavior
										<a href="." class="tg-h4 competencies-tools__item-btn">
											<div class="ref-arrow-icon">
												<span class="icon-cubic-ref-arrow"></span>
												<span class="icon-cubic-ref-arrow"></span>
											</div>
											Learn more
										</a>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="fs-frame frames-stack__frame">
				<div class="fs-frame__wrap" data-elem="frames-stack.frame.wrap">
					<svg class="fs-frame__decor fs-frame__decor_d">
						<use href="@img/faq/decor.svg#3"></use>
					</svg>
					<svg class="fs-frame__decor fs-frame__decor_m">
						<use href="@img/faq/decor.svg#3m"></use>
					</svg>
					<div class="fs-frame__clip">
						<div class="section-container section-container_decor fs-frame__container">
							<div class="section-container__inner fs-frame__inner" data-elem="frames-stack.frame.inner">
								<div class="fs-frame__header" data-elem="frames-stack.frame.header">
									Archetypes
								</div>
								<div class="tg-h3 fs-frame__body competencies-tools__item-body" data-elem="frames-stack.frame.body">
									Universal constructs of the human psyche that represent a genetically inherited structure of accumulated human experience, expressed as a predisposition to a certain type of perception, experience, action, and understanding.
									<a href="." class="tg-h4 competencies-tools__item-btn">
										<div class="ref-arrow-icon">
											<span class="icon-cubic-ref-arrow"></span>
											<span class="icon-cubic-ref-arrow"></span>
										</div>
										Learn more
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="fs-frame frames-stack__frame">
				<div class="fs-frame__wrap" data-elem="frames-stack.frame.wrap">
					<svg class="fs-frame__decor fs-frame__decor_d">
						<use href="@img/faq/decor.svg#4"></use>
					</svg>
					<svg class="fs-frame__decor fs-frame__decor_m">
						<use href="@img/faq/decor.svg#4m"></use>
					</svg>
					<div class="fs-frame__clip">
						<div class="section-container section-container_decor fs-frame__container">
							<div class="section-container__inner fs-frame__inner" data-elem="frames-stack.frame.inner"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>