<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" interactive-widget="resizes-visual">
	{{!-- <script defer src="libs/polyfills/cdn.jsdelivr.net_npm_pointer-events-polyfill@0.4.4-pre_dist_pep.js"></script> --}}
	<script defer src="libs/polyfills/ResizeObserver/ResizeObserver.global.js"></script>
	<script defer src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script defer src="libs/jqueryValidate/jquery.validate.min.js"></script>
	<script defer src="libs/inputmask.min.js"></script>
	<script defer src="libs/fancybox/jquery.fancybox.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>
	<script defer src="https://player.vimeo.com/api/player.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/vanilla-drawers@1.1.21/dist/drawers.umd.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Flip.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Observer.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/CustomEase.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollToPlugin.min.js"></script>
	<script defer src="libs/gsap-premium/SplitText.min.js"></script>
	<script defer src="libs/gsap-premium/PhysicsPropsPlugin.min.js"></script>
	<script defer src="libs/gsap-premium/MorphSVGPlugin.js"></script>
	<script defer src="https://unpkg.com/mobx@6.12.3/dist/mobx.umd.production.min.js"></script>
	
	
	<link rel="stylesheet" href="libs/fancybox/jquery.fancybox.min.css">
	{{!-- <script defer src="libs/tua-bsl.umd.js"></script> --}}
	{{#each scripts}}
		<script defer src="{{this}}"></script>
	{{/each}}
	<title>{{title}}</title>
</head>