<section class="drawer drawer_center popup popup_lite-ver lite-version-drawer" data-drawer="lite-version">
	<div data-lenis-prevent class="drawer__panel popup__panel" data-elem="drawer.panel" data-scrollable>
		<section class="tg-h3 popup__body">
			<div class="popup__close-btn">
				<button class="drawer-close-btn" data-drawer-close="lite-version"><div class="drawer-close-btn__inner">Close panel<span class="icon-cubic-plus"></span></div></button>
			</div>
			<div class="lite-version-drawer__star-wrap">{{> ../../shared/partials/animated-snowflake id="lite-version-drawer__star" class="lite-version-drawer__star"}}</div>
			
			<div class="reveal-wrap">
				<div class="reveal-wrap__inner">
					<div class="lite-version-drawer__msg reveal-wrap__item">To quickly load pages please switch to the</div>
				</div>
			</div>
			<div class="reveal-wrap">
				<div class="reveal-wrap__inner">
					<a href="" class="text-btn lite-version-drawer__link reveal-wrap__item" data-component="animated-link">
						{{> ../../shared/partials/animated-cubic-lightning id="lite-version-drawer-link__lightning_1" class="text-btn__lightning"}}
						<div class="text-btn__cap">Light Version</div>
						{{> ../../shared/partials/animated-cubic-lightning id="lite-version-drawer-link__lightning_2" class="text-btn__lightning"}}
					</a>
				</div>
			</div>
		</section>
	</div>
</section>