<nav id="nav" class="tg-control materials-filter_center hero__nav{{#if class}} {{class}}{{/if}}">
	<div class="tg-control uppercase materials-filter__inner">
		<a href="about-us.html" class="text-btn{{#if (eq active "about-us")}} _active{{/if}}" data-component="animated-link">
			{{> ../../shared/partials/animated-cubic-lightning id="page-nav__lightning_1" class="text-btn__lightning"}}
			</span><div class="text-btn__cap">About us</div>
		</a>
		<a href="team.html" class="text-btn{{#if (eq active "team")}} _active{{/if}}" data-component="animated-link">
			{{> ../../shared/partials/animated-cubic-lightning id="page-nav__lightning_2" class="text-btn__lightning"}}
			<div class="text-btn__cap">Team</div>
		</a>
		<a href="ideas.html" class="text-btn{{#if (eq active "ideas")}} _active{{/if}}" data-component="animated-link">
			{{> ../../shared/partials/animated-cubic-lightning id="page-nav__lightning_3" class="text-btn__lightning"}}
			</span><div class="text-btn__cap">Ideas</div>
		</a>
		<a href="news.html" class="text-btn{{#if (eq active "news")}} _active{{/if}}" data-component="animated-link">
			{{> ../../shared/partials/animated-cubic-lightning id="page-nav__lightning_4" class="text-btn__lightning"}}
			</span><div class="text-btn__cap">News</div>
		</a>
		<a href="careers.html" class="text-btn{{#if (eq active "careers")}} _active{{/if}}" data-component="animated-link">
			{{> ../../shared/partials/animated-cubic-lightning id="page-nav__lightning_5" class="text-btn__lightning"}}
			</span><div class="text-btn__cap">Careers</div>
		</a>
	</div>
</nav>