<section data-lenis-prevent class="drawer drawer_full sign-up-drawer" data-drawer="sign-up">
	<div id="sign-up-panel" class="drawer__panel sign-up-drawer__panel" data-elem="drawer.panel" data-scrollable="true">
		<div class="drawer__header">
			<button class="drawer-close-btn drawer__close-btn" data-drawer-close="sign-up"><div class="drawer-close-btn__inner">Close form<span class="icon-cubic-plus"></span></div></button>
		</div>
		<div class="section-container sign-up-drawer__container">
			<div class="sign-up-drawer__inner">
				<h2>Sign up for Linnikov' regular update.</h2>
				<p>Hey there,<br>Sending you updates with a newsletter is something we do not take lightly. We treat it like an invitation to your home, and we respect that wholeheartedly. We will never share your data or spam you with nonsense. The purpose of this newsletter is to send you stories about creativity, design, and business along with thoughtfully curated links that might be useful to you. We'll also invite you to an event every now and then.</p>
				<form id="sign-up-form" class="form form_dark sign-up-form" data-component="sign-up-form">
					<div class="sign-up-form__wrap">
						<div class="form__body sign-up-form__body" data-elem="body">
							<div class="form-field form-field_decor">
								<input required id="sign-up--email" class="text-input text-input_no-placeholder" name="email" type="email" placeholder="Email Address">
								<label for="sign-up--email" class="form-field form-field_width-limit form-field-title">Email Address</label>
							</div>
							<div class="form-field form-field_decor">
								<input id="sign-up--first-name" class="text-input text-input_no-placeholder" name="first-name" type="text" placeholder="First Name">
								<label for="sign-up--first-name" class="form-field form-field_width-limit form-field-title">First Name</label>
							</div>
							<div class="form-field form-field_decor">
								<input id="sign-up--last-name" class="text-input text-input_no-placeholder" name="last-name" type="text" placeholder="Last Name">
								<label for="sign-up--last-name" class="form-field form-field_width-limit form-field-title">Last Name</label>
							</div>
							<div class="form-field form-field_decor">
								<input id="sign-up--company" class="text-input text-input_no-placeholder" name="company" type="text" placeholder="Company">
								<label for="sign-up--company" class="form-field form-field_width-limit form-field-title">Company</label>
							</div>
							<div class="form-field form-field_decor">
								<input id="sign-up--title" class="text-input text-input_no-placeholder" name="title" type="text" placeholder="Title">
								<label for="sign-up--title" class="form-field form-field_width-limit form-field-title">Title</label>
							</div>
						</div>
						<div class="tg-h3 form-messages form__messages sign-up-form__messages" data-component="form-messages">
							<div class="form-messages__inner">
								<div class="form-messages__panel">
									<div class="form-msg form-msg_success"
										data-elem="msg"
										data-type="success"
										data-default="Thank you for submitting. Check your email and enjoy!"></div>
									<div class="form-msg form-msg_error"
										data-elem="msg"
										data-type="error"
										data-default="Error!"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="form__bottom form__bottom">
						<button type="submit" class="btn form__submit-btn" data-elem="submit-btn">
							Subscribe
							<div class="ref-arrow-icon ref-arrow-icon_horizontal">
								<span class="icon-cubic-nav-arrow-right"></span>
								<span class="icon-cubic-nav-arrow-right"></span>
							</div>
						</button>
						<button type="button" class="btn form__close-btn"  data-elem="close-btn" data-drawer-close="sign-up">
							Close
							<div class="ref-arrow-icon ref-arrow-icon_horizontal">
								<span class="icon-cubic-nav-arrow-right"></span>
								<span class="icon-cubic-nav-arrow-right"></span>
							</div>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>