#RGBLogo > g {
    display: none;
    pointer-events: none;
}

#RGBLogo > g#LINNIKOV_agency {
    display: block;
}

#RGBLogo > g#LINNIKOV_agency > g > * {
    pointer-events: none;
}

#RGBLogo > g#LINNIKOV_agency,
#RGBLogo > g#LINNIKOV_agency > g,
#RGBLogo .hoverEvt {
    pointer-events: inherit !important;
}