<!DOCTYPE html>
<html lang="en">
	{{> ../../shared/partials/head
		title='Select version'
	}}
	<body class="version-select-page">
		<div>
			<main>
				<section id="version-select" class="version-select">
					<div class="version-select__underlays">
						<div class="version-select__underlay version-select__underlay_left"></div>
						<div class="version-select__underlay version-select__underlay_right"></div>
					</div>
					<div class="section-container section-container_decor version-select__container">
						<div class="section-container__inner version-select__inner">
							<a href="index.html" data-active="true" class="version-select__block version-select__block_left">
								<div class="version-select__block-inner">
									<div class="version-select__star-wrap">{{> ../../shared/partials/animated-snowflake id="version-select__star_light" class="version-select__star version-select__star_light"}}</div>
									<div class="version-select__title">
										<div class="reveal-wrap">
											<div class="reveal-wrap__inner">
												<div class="reveal-wrap__item">Light Version</div>
											</div>
										</div>
										{{> ../../shared/partials/animated-cubic-lightning id="version-select__lightning_light" class="version-select__lightning"}}
									</div>
									<div class="version-select__desc">
										For swift page loading and data savings without compromising content quality
									</div>
									<div class="reveal-wrap version-select__arrow">
										<div class="reveal-wrap__inner">
											<div class="reveal-wrap__item">
												<div class="ref-arrow-icon ref-arrow-icon_horizontal ref-arrow-icon_flip">
													<span class="icon-cubic-nav-arrow-right"></span>
													<span class="icon-cubic-nav-arrow-right"></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>
							<a href="index.html" data-active="true" class="version-select__block version-select__block_right">
								<div class="version-select__block-inner">
									<div class="version-select__star-wrap">{{> ../../shared/partials/animated-snowflake id="version-select__star_full" class="version-select__star version-select__star_full"}}</div>
									<div class="version-select__title">
										{{> ../../shared/partials/animated-cubic-lightning id="version-select__lightning_light" class="version-select__lightning"}}
										<div class="reveal-wrap">
											<div class="reveal-wrap__inner">
												<div class="reveal-wrap__item">Full Version</div>
											</div>
										</div>
									</div>
									<div class="version-select__desc">
										Explore the full spectrum of visual possibilities with advanced WebGL graphic&nbsp;effects
									</div>
									<div class="reveal-wrap version-select__arrow">
										<div class="reveal-wrap__inner">
											<div class="ref-arrow-icon ref-arrow-icon_horizontal reveal-wrap__item">
												<span class="icon-cubic-nav-arrow-right"></span>
												<span class="icon-cubic-nav-arrow-right"></span>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</section>
			</main>
		</div>
		<div class="drawers-group" data-drawers-group="system">
			{{> ../../shared/partials/common-drawers}}
		</div>
		{{> ../../shared/partials/common}}
	</body>
</html>