<!DOCTYPE html>
<html lang="en">
	{{> ../../shared/partials/head
		title='Linnikov agency'
	}}
	<body class="home">
		{{> ../../shared/partials/header class='header_fixed home__header' logo-class='header__logo_home'}}
		<div>
			<main >
				<section class="hero background">
					<div class="section-container section-container_decor">
						<div id="cases-slider" class="zoom-slider hero__slider">
							<style data-zs-elem="style"></style>
							<div class="zoom-slider__body" data-zs-elem="body">
								{{!-- <script type="text/template" data-zs-elem="hover-template">
									<span>{title}</span>
								</script> --}}
								<div class="zoom-slider__wrapper" data-zs-elem="wrapper">
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/01.webp">
												<img src="@img/home/slider/01.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/02.webp">
												<img src="@img/home/slider/02.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/03.webp">
												<img src="@img/home/slider/03.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/04.webp">
												<img src="@img/home/slider/04.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/05.webp">
												<img src="@img/home/slider/05.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/06.webp">
												<img src="@img/home/slider/06.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/07.webp">
												<img src="@img/home/slider/07.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/08.webp">
												<img src="@img/home/slider/08.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/09.webp">
												<img src="@img/home/slider/09.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/10.webp">
												<img src="@img/home/slider/10.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/11.webp">
												<img src="@img/home/slider/11.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/12.webp">
												<img src="@img/home/slider/12.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/13.webp">
												<img src="@img/home/slider/13.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/14.webp">
												<img src="@img/home/slider/14.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/15.webp">
												<img src="@img/home/slider/15.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/16.webp">
												<img src="@img/home/slider/16.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/17.webp">
												<img src="@img/home/slider/17.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/18.webp">
												<img src="@img/home/slider/18.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/19.webp">
												<img src="@img/home/slider/19.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/20.webp">
												<img src="@img/home/slider/20.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/21.webp">
												<img src="@img/home/slider/21.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/22.webp">
												<img src="@img/home/slider/22.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/23.webp">
												<img src="@img/home/slider/23.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/24.webp">
												<img src="@img/home/slider/24.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/25.webp">
												<img src="@img/home/slider/25.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/26.webp">
												<img src="@img/home/slider/26.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/27.webp">
												<img src="@img/home/slider/27.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/28.webp">
												<img src="@img/home/slider/28.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/29.webp">
												<img src="@img/home/slider/29.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/30.webp">
												<img src="@img/home/slider/30.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/31.webp">
												<img src="@img/home/slider/31.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/32.webp">
												<img src="@img/home/slider/32.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/33.webp">
												<img src="@img/home/slider/33.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/34.webp">
												<img src="@img/home/slider/34.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/35.webp">
												<img src="@img/home/slider/35.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/36.webp">
												<img src="@img/home/slider/36.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/37.webp">
												<img src="@img/home/slider/37.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/38.webp">
												<img src="@img/home/slider/38.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/39.webp">
												<img src="@img/home/slider/39.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/40.webp">
												<img src="@img/home/slider/40.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/41.webp">
												<img src="@img/home/slider/41.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/42.webp">
												<img src="@img/home/slider/42.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/43.webp">
												<img src="@img/home/slider/43.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/44.webp">
												<img src="@img/home/slider/44.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/45.webp">
												<img src="@img/home/slider/45.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/46.webp">
												<img src="@img/home/slider/46.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/47.webp">
												<img src="@img/home/slider/47.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/48.webp">
												<img src="@img/home/slider/48.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/49.webp">
												<img src="@img/home/slider/49.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
									<a href="." class="img-wrap img-wrap_cover case-poster case-poster_home-slider zoom-slider__slide"  data-caption="Project name" data-zs-elem="slide">
										<div class="img-wrap__inner">
											<picture>
												<source type="image/webp" srcset="@img/home/slider/50.webp">
												<img src="@img/home/slider/50.jpg" alt="Project preview" loading="lazy">
											</picture>
										</div>
										<div class="reveal-wrap case-poster__title">
											<div class="reveal-wrap__inner">
												<div class="line">Project name</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div id="cases-slider-control" class="zoom-slider-control zoom-slider__control">
								<div class="zoom-slider-control__label">Move for scale photos</div>
								<div class="zoom-slider-control__body">
									<button class="zoom-slider-control__zoom-out-btn" data-zsc-zoom-out-btn>
										<span></span>
										<span></span>
										<span></span>
										<span></span>
									</button>
									<div class="zoom-slider-control__bar" data-active="true" data-zsc-bar>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
									</div>
									<button class="zoom-slider-control__zoom-in-btn" data-zsc-zoom-in-btn>
										<span></span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div id="animated-logo-layer" class="hero__logo-layer">
						<div class="section-container hero__logo-container">
							<div class="hero__logo">
								<div id="animated-logo" class="hero__animated-logo"></div>
								<div class="logo hero__mob-logo">
									<figure>
										<img src="@img/logo-bright.svg" class="logo__img" alt="Light Logo">
										<figcaption aria-hidden="true">Main page</figcaption>
									</figure>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section id="logo-animation-spacer">
				</section>
				<section id="about" class="about background" data-track-intersection>
					<div class="section-container section-container_decor about__container about__container_desc about__desc">
						<div class="section-container__inner" data-component="sliding-text">
							<h1 class="text-rgb-shake" data-elem="text">
								<div class="about-text-wrap" data-elem="main-text">Linnikov is a transformation branding agency specializing in business evolution</div>
								<div class="text-rgb-shake__set about__rgb-set" aria-hidden="true" data-elem="rgb-set">
									<div class="about-text-wrap">Linnikov is a transformation branding agency specializing in business evolution</div>
									<div class="about-text-wrap">Linnikov is a transformation branding agency specializing in business evolution</div>
									<div class="about-text-wrap">Linnikov is a transformation branding agency specializing in business evolution</div>
								</div>
							</h1>
							<div class="section-decor about__decor" data-elem="decor">
								<div class="section-decor__inner" data-elem="decor.inner">
									<div class="reveal-wrap section-decor__item">
										<div class="reveal-wrap__inner">
											<div class="section-decor__item-body"></div>
										</div>
									</div>
									<div class="reveal-wrap section-decor__item">
										<div class="reveal-wrap__inner">
											<div class="section-decor__item-body"></div>
										</div>
									</div>
									<div class="reveal-wrap section-decor__item">
										<div class="reveal-wrap__inner">
											<div class="section-decor__item-body"></div>
										</div>
									</div>
									<div class="reveal-wrap section-decor__item">
										<div class="reveal-wrap__inner">
											<div class="section-decor__item-body"></div>
										</div>
									</div>
								</div>
								<div class="section-decor__rgb-set">
										<div class="section-decor">
											<div class="section-decor__inner">
												<div class="reveal-wrap section-decor__item">
												<div class="reveal-wrap__inner">
													<div class="section-decor__item-body"></div>
												</div>
											</div>
											<div class="reveal-wrap section-decor__item">
												<div class="reveal-wrap__inner">
													<div class="section-decor__item-body"></div>
												</div>
											</div>
											<div class="reveal-wrap section-decor__item">
												<div class="reveal-wrap__inner">
													<div class="section-decor__item-body"></div>
												</div>
											</div>
											<div class="reveal-wrap section-decor__item">
												<div class="reveal-wrap__inner">
													<div class="section-decor__item-body"></div>
												</div>
											</div>
											</div>
										</div>
										<div class="section-decor">
											<div class="section-decor__inner">
												<div class="reveal-wrap section-decor__item">
													<div class="reveal-wrap__inner">
														<div class="section-decor__item-body"></div>
													</div>
												</div>
												<div class="reveal-wrap section-decor__item">
													<div class="reveal-wrap__inner">
														<div class="section-decor__item-body"></div>
													</div>
												</div>
												<div class="reveal-wrap section-decor__item">
													<div class="reveal-wrap__inner">
														<div class="section-decor__item-body"></div>
													</div>
												</div>
												<div class="reveal-wrap section-decor__item">
													<div class="reveal-wrap__inner">
														<div class="section-decor__item-body"></div>
													</div>
												</div>
											</div>
										</div>
										<div class="section-decor">
											<div class="section-decor__inner">
												<div class="reveal-wrap section-decor__item">
												<div class="reveal-wrap__inner">
													<div class="section-decor__item-body"></div>
												</div>
											</div>
											<div class="reveal-wrap section-decor__item">
												<div class="reveal-wrap__inner">
													<div class="section-decor__item-body"></div>
												</div>
											</div>
											<div class="reveal-wrap section-decor__item">
												<div class="reveal-wrap__inner">
													<div class="section-decor__item-body"></div>
												</div>
											</div>
											<div class="reveal-wrap section-decor__item">
												<div class="reveal-wrap__inner">
													<div class="section-decor__item-body"></div>
												</div>
											</div>
											</div>
										</div>
									</div>
							</div>
						</div>
					</div>
					<div class="about__mob">
						<div class="section-container about__container about__container_mob">
							<div class="section-container__inner about__inner about__inner_mob">
								<iframe
									class="about__player about__player_light about__player_m"
									src="https://player.vimeo.com/video/967022528?loop=1&background=1"
									frameborder="0"
									allow="autoplay; fullscreen;" allowfullscreen></iframe>
								<iframe
									class="about__player about__player_dark about__player_m"
									src="https://player.vimeo.com/video/967007739?h=e617bda1ec&loop=1&background=1"
									frameborder="0"
									allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
								<iframe
									class="about__player about__player_light about__player_t"
									src="https://player.vimeo.com/video/967014831?h=e617bda1ec&loop=1&background=1"
									frameborder="0"
									allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
								<iframe
									class="about__player about__player_dark about__player_t"
									src="https://player.vimeo.com/video/967017856?h=e617bda1ec&loop=1&background=1"
									frameborder="0"
									allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
						<div class="section-container section-container_decor about__overlay"></div>
					</div>
				</section>
				<section class="top-cases background home__top-cases" id="top-cases">
					<div class="section-container section-container_decor top-cases__container">
						<nav class="materials-filter top-cases__filter">
							<div class="tg-control uppercase materials-filter__inner">
								<a href="#all" class="text-btn" data-component="animated-link">
									{{> ../../shared/partials/animated-cubic-lightning id="works-filter__lightning_1" class="text-btn__lightning"}}
									</span><div class="text-btn__cap">All</div>
								</a>
								<a href="#branding" class="text-btn" data-component="animated-link">
									{{> ../../shared/partials/animated-cubic-lightning id="works-filter__lightning_2" class="text-btn__lightning"}}
									</span><div class="text-btn__cap">Branding</div>
								</a>
								<a href="#packaging" class="text-btn" data-component="animated-link">
									{{> ../../shared/partials/animated-cubic-lightning id="works-filter__lightning_3" class="text-btn__lightning"}}
									</span><div class="text-btn__cap">Packaging</div>
								</a>
								<a href="#digital" class="text-btn" data-component="animated-link">
									{{> ../../shared/partials/animated-cubic-lightning id="works-filter__lightning_4" class="text-btn__lightning"}}
									</span><div class="text-btn__cap">Digital</div>
								</a>
							</div>
						</nav>
						<div class="top-cases__body" data-top-cases-elem="body">
							<a href="." data-cursor="none" class="img-wrap img-wrap_cover case-poster case-poster_top"
								data-caption="Iguana"
								data-category="branding, packaging"
							>
								<div class="img-wrap__inner">
									<picture>
										<source type="image/webp" srcset="@img/home/iguana@2x.webp">
										<img src="@img/home/iguana@2x.jpg" alt="Iguana" loading="lazy">
									</picture>
								</div>
							</a>
							<a href="." data-cursor="none" class="img-wrap img-wrap_cover case-poster case-poster_top"
								data-caption="Khush"
								data-category="branding, digital">
								<div class="img-wrap__inner">
									<picture>
										<source type="image/webp" srcset="@img/home/khush@2x.webp">
										<img src="@img/home/khush@2x.jpg" alt="Khush" loading="lazy">
									</picture>
								</div>
							</a>
							<a href="." data-cursor="none" class="img-wrap img-wrap_cover case-poster case-poster_top"
								data-caption="Project name"
								data-category="branding, digital">
								<div class="img-wrap__inner">
									<picture>
										<source type="image/webp" srcset="@img/home/the-moon@2x.webp">
										<img src="@img/home/the-moon@2x.jpg" alt="Project preview" loading="lazy">
									</picture>
								</div>
							</a>
							<a href="." data-cursor="none" class="img-wrap img-wrap_cover case-poster case-poster_top"
								data-caption="Project name"
								data-category="branding">
								<div class="img-wrap__inner">
									<picture>
										<source type="image/webp" srcset="@img/home/rgb-pot@1.5x.webp">
										<img src="@img/home/rgb-pot@1.5x.jpg" alt="Project preview" loading="lazy">
									</picture>
								</div>
							</a>
							<a href="." data-cursor="none" class="img-wrap img-wrap_cover case-poster case-poster_top"
								data-caption="Project name"
								data-category="branding">
								<div class="img-wrap__inner">
									<picture>
										<source type="image/webp" srcset="@img/home/aromanty@1.5x.webp">
										<img src="@img/home/aromanty@1.5x.jpg" alt="Aromanty" loading="lazy">
									</picture>
								</div>
							</a>
							<a href="." data-cursor="none" class="img-wrap img-wrap_cover case-poster case-poster_top"
								data-caption="Project name" data-category="branding">
								<div class="img-wrap__inner">
									<picture>
										<source type="image/webp" srcset="@img/home/glass-letters@1.5x.webp">
										<img src="@img/home/glass-letters@1.5x.jpg" alt="Project preview" loading="lazy">
									</picture>
								</div>
							</a>
							<a href="." data-cursor="none" class="img-wrap img-wrap_cover case-poster case-poster_top"
								data-caption="Project name"
								data-category="branding, digital">
								<div class="img-wrap__inner">
									<picture>
										<source type="image/webp" srcset="@img/home/spf30@1.5x.webp">
										<img src="@img/home/spf30@1.5x.jpg" alt="Project preview" loading="lazy">
									</picture>
								</div>
							</a>
							<a href="." data-cursor="none" class="img-wrap img-wrap_cover case-poster case-poster_top"
								data-caption="Project name"
								data-category="branding, digital, packaging">
								<div class="img-wrap__inner">
									<picture>
										<source type="image/webp" srcset="@img/home/gusto-pastila@2x.webp">
										<img src="@img/home/gusto-pastila@2x.jpg" alt="Project preview" loading="lazy">
									</picture>
								</div>
							</a>
						</div>
						<div class="top-cases__all-works">
							<a href="works.html" class="tg-control text-btn" data-component="animated-link">
								{{> ../../shared/partials/animated-cubic-lightning id="lite-version-drawer-link__lightning_1" class="text-btn__lightning"}}
								<div class="text-btn__cap">All works</div>
								{{> ../../shared/partials/animated-cubic-lightning id="lite-version-drawer-link__lightning_2" class="text-btn__lightning"}}
							</a>
						</div>
					</div>
				</section>
			</main>
			<div class="drawers-group" data-drawers-group="system">
				{{> ../../shared/partials/common-drawers}}
			</div>
			{{> ../../shared/partials/scroll-indicator}}
			{{> ../../shared/partials/common}}
			{{> ../../shared/partials/footer}}
		</div>
	</body>
</html>