<!DOCTYPE html>
<html lang="en">
	{{> ../../shared/partials/head
		title='Brand archetypes'
		scripts=(array 'https://code.createjs.com/1.0.0/createjs.min.js, libs/animated-icons/10.js, libs/animated-icons/11.js, libs/animated-icons/12.js, libs/animated-icons/13.js, libs/animated-icons/15.js')
	}}
	<body class="archetypes">
		{{> ../../shared/partials/header }}
		<main>
			<section class="hero">
				<div class="section-container section-container_decor hero__container">
					<h1>Point the<br>arrow to the<br>archetype to<br>learn more</h1>
				</div>
			</section>
			<section class="archetypes-index archetypes__index">
				<div class="section-container section-container_decor archetypes-index__container">
					<h2>Brand archetypes</h2>
					<nav class="archetypes-index__categories">
						<a href="#blue" class="archetype-category-ref archetype-category-ref_structure">
							<span class="icon-cubic-zip"></span>
							Independence &<br>Self-knowledge
						</a>
						<a href="#yellow" class="archetype-category-ref archetype-category-ref_paradise">
							<span class="icon-cubic-zip"></span>
							Risk &<br>mastery
						</a>
						<a href="#green" class="archetype-category-ref archetype-category-ref_mark">
							<span class="icon-cubic-zip"></span>
							Belonging &<br>enjoyment
						</a>
						<a href="#red" class="archetype-category-ref archetype-category-ref_connection">
							<span class="icon-cubic-zip"></span>
							Stability &<br>control
						</a>
					</nav>
					<div class="archetypes-slider archetypes-index__slider">
						<div id="archetypes-slider" class="archetypes-slider__inner">
							
							<div class="archetype-card archetype-card_paradise keen-slider__slide archetypes-slider__slide" data-active="true" data-drawer-open="archetype-innocent" data-anchor="yellow">
								<h4 class="archetype-card__name">Innocent</h4>
								<div class="archetype-card__main-quality">Purity</div>
								<div class="img-wrap archetype-card__img archetype-card__img_purity">
									<div class="img-wrap__inner">
										<img src="@img/brand-archetypes/char-purity.png" alt="Brand archetype character">
									</div>
								</div>
								<div class="archetype-card__separator"></div>
								<div class="archetype-card__qualities">
									<span>Spontaneity</span><span>Trust</span><span>Unconditional love</span><span>Honesty</span>
								</div>
								<span class="icon-cubic-plus archetype-card__corner-icon"></span>
							</div>
							<div class="archetype-card archetype-card_paradise keen-slider__slide archetypes-slider__slide">
								<h4 class="archetype-card__name">Sage</h4>
								<div class="archetype-card__main-quality">Wisdom</div>
								<div class="img-wrap archetype-card__img archetype-card__img_wisdom">
									<div class="img-wrap__inner">
										<img src="@img/brand-archetypes/char-wisdom.png" alt="Brand archetype character">
									</div>
								</div>
								<div class="archetype-card__separator"></div>
								<div class="archetype-card__qualities">
									<span>Understanding</span><span>Intelligence</span><span>Truth-seeking</span><span>Clarity</span>
								</div>
								<span class="icon-cubic-plus archetype-card__corner-icon"></span>
							</div>
							<div class="archetype-card archetype-card_paradise keen-slider__slide archetypes-slider__slide">
								<h4 class="archetype-card__name">Explorer</h4>
								<div class="archetype-card__main-quality">Freedom</div>
								<div class="img-wrap archetype-card__img archetype-card__img_freedom">
									<div class="img-wrap__inner">
										<img src="@img/brand-archetypes/char-freedom.png" alt="Brand archetype character">
									</div>
								</div>
								<div class="archetype-card__separator"></div>
								<div class="archetype-card__qualities">
									<span>Independence</span><span>Bravery</span><span>Nonconformity</span><span>Autonomy</span>
								</div>
								<span class="icon-cubic-plus archetype-card__corner-icon"></span>
							</div>

							<div class="archetype-card archetype-card_mark keen-slider__slide archetypes-slider__slide" data-anchor="green">
								<h4 class="archetype-card__name">Rebel</h4>
								<div class="archetype-card__main-quality">Risk</div>
								<div class="img-wrap archetype-card__img archetype-card__img_risk">
									<div class="img-wrap__inner">
										<img src="@img/brand-archetypes/char-risk.png" alt="Brand archetype character">
									</div>
								</div>
								<div class="archetype-card__separator"></div>
								<div class="archetype-card__qualities">
									<span>Provocative thought</span><span>Brutal honesty</span><span>Leadership</span>
								</div>
								<span class="icon-cubic-plus archetype-card__corner-icon"></span>
							</div>
							<div class="archetype-card archetype-card_mark keen-slider__slide archetypes-slider__slide">
								<h4 class="archetype-card__name">Magican</h4>
								<div class="archetype-card__main-quality">Mysticism</div>
								<div class="img-wrap archetype-card__img archetype-card__img_mysticism">
									<div class="img-wrap__inner">
										<img src="@img/brand-archetypes/char-mysticism.png" alt="Brand archetype character">
									</div>
								</div>
								<div class="archetype-card__separator"></div>
								<div class="archetype-card__qualities">
									<span>Awe-inspiring intuition</span><span>Vision</span><span>Charisma</span>
								</div>
								<span class="icon-cubic-plus archetype-card__corner-icon"></span>
							</div>
							<div class="archetype-card archetype-card_mark keen-slider__slide archetypes-slider__slide">
								<h4 class="archetype-card__name">Hero</h4>
								<div class="archetype-card__main-quality">Leadership</div>
								<div class="img-wrap archetype-card__img archetype-card__img_leadership">
									<div class="img-wrap__inner">
										<img src="@img/brand-archetypes/char-leadership.png" alt="Brand archetype character">
									</div>
								</div>
								<div class="archetype-card__separator"></div>
								<div class="archetype-card__qualities">
									<span>Bravery</span><span>Determination</span><span>Integrity</span><span>Strenght</span>
								</div>
								<span class="icon-cubic-plus archetype-card__corner-icon"></span>
							</div>

							<div class="archetype-card archetype-card_connection keen-slider__slide archetypes-slider__slide" data-anchor="red">
								<h4 class="archetype-card__name">Lover</h4>
								<div class="archetype-card__main-quality">Romance</div>
								<div class="img-wrap archetype-card__img archetype-card__img_romance">
									<div class="img-wrap__inner">
										<img src="@img/brand-archetypes/char-romance.png" alt="Brand archetype character">
									</div>
								</div>
								<div class="archetype-card__separator"></div>
								<div class="archetype-card__qualities">
									<span>Beauty</span><span>Passion</span><span>Sensuality</span><span>Emotion</span>
								</div>
								<span class="icon-cubic-plus archetype-card__corner-icon"></span>
							</div>
							<div class="archetype-card archetype-card_connection keen-slider__slide archetypes-slider__slide">
								<h4 class="archetype-card__name">Jester</h4>
								<div class="archetype-card__main-quality">Humor</div>
								<div class="img-wrap archetype-card__img archetype-card__img_humor">
									<div class="img-wrap__inner">
										<img src="@img/brand-archetypes/char-humor.png" alt="Brand archetype character">
									</div>
								</div>
								<div class="archetype-card__separator"></div>
								<div class="archetype-card__qualities">
									<span>Joy</span><span>Entertainment</span><span>Light-heartedness</span><span>Fun</span>
								</div>
								<span class="icon-cubic-plus archetype-card__corner-icon"></span>
							</div>
							<div class="archetype-card archetype-card_connection keen-slider__slide archetypes-slider__slide">
								<h4 class="archetype-card__name">Everyman</h4>
								<div class="archetype-card__main-quality">Belonging</div>
								<div class="img-wrap archetype-card__img archetype-card__img_belonging">
									<div class="img-wrap__inner">
										<img src="@img/brand-archetypes/char-belonging.png" alt="Brand archetype character">
									</div>
								</div>
								<div class="archetype-card__separator"></div>
								<div class="archetype-card__qualities">
									<span>Cooperation</span><span>Relatability</span><span>Humility</span><span>Realism</span>
								</div>
								<span class="icon-cubic-plus archetype-card__corner-icon"></span>
							</div>

							<div class="archetype-card archetype-card_structure keen-slider__slide archetypes-slider__slide" data-anchor="blue">
								<h4 class="archetype-card__name">Caregiver</h4>
								<div class="archetype-card__main-quality">Compassion</div>
								<div class="img-wrap archetype-card__img archetype-card__img_compassion">
									<div class="img-wrap__inner">
										<img src="@img/brand-archetypes/char-compassion.png" alt="Brand archetype character">
									</div>
								</div>
								<div class="archetype-card__separator"></div>
								<div class="archetype-card__qualities">
									<span>Altruism</span><span>Nurturing</span><span>Empathy</span><span>Kindness</span>
								</div>
								<span class="icon-cubic-plus archetype-card__corner-icon"></span>
							</div>
							<div class="archetype-card archetype-card_structure keen-slider__slide archetypes-slider__slide">
								<h4 class="archetype-card__name">Ruler</h4>
								<div class="archetype-card__main-quality">Authority</div>
								<div class="img-wrap archetype-card__img archetype-card__img_authority">
									<div class="img-wrap__inner">
										<img src="@img/brand-archetypes/char-authority.png" alt="Brand archetype character">
									</div>
								</div>
								<div class="archetype-card__separator"></div>
								<div class="archetype-card__qualities">
									<span>Power</span><span>Governance</span><span>Confidence</span><span>Command</span>
								</div>
								<span class="icon-cubic-plus archetype-card__corner-icon"></span>
							</div>
							<div class="archetype-card archetype-card_structure keen-slider__slide archetypes-slider__slide">
								<h4 class="archetype-card__name">Creator</h4>
								<div class="archetype-card__main-quality">Creativity</div>
								<div class="img-wrap archetype-card__img archetype-card__img_creativity">
									<div class="img-wrap__inner">
										<img src="@img/brand-archetypes/char-creativity.png" alt="Brand archetype character">
									</div>
								</div>
								<div class="archetype-card__separator"></div>
								<div class="archetype-card__qualities">
									<span>Imagination</span><span>Passion</span><span>Uniqueness</span><span>Building</span>
								</div>
								<span class="icon-cubic-plus archetype-card__corner-icon"></span>
							</div>
						</div>
						<div class="archetypes-slider__controls">
							<button id="archetypes-slider-prev" type="button" class="archetypes-slider__prev-btn archetypes-slider-btn">
								<div class="ref-arrow-icon ref-arrow-icon_horizontal ref-arrow-icon_flip">
									<span class="icon-cubic-nav-arrow-right"></span>
									<span class="icon-cubic-nav-arrow-right"></span>
								</div>
							</button>
							<button id="archetypes-slider-next" type="button" class="archetypes-slider__next-btn archetypes-slider-btn">
								<div class="ref-arrow-icon ref-arrow-icon_horizontal">
									<span class="icon-cubic-nav-arrow-right"></span>
									<span class="icon-cubic-nav-arrow-right"></span>
								</div>
							</button>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="section-container section-container_decor">
					<div class="section-container__inner section-container__inner_bottom-space la-article tg-regular">
						<h2 class="tg-h1 la-article__title la-article__title_left">let's organize<br>the information</h2>
						<div class="la-article__section la-article__section_double">
							<div class="la-article__block la-article__block_even">
								<p>There was a time when the successful creation, construction, marketing, and promotion of brands did not require boundless inspiration or extensive capital. Demand exceeded supply, and markets were not yet saturated.</p>
								<p>Traditionally, physical products were distinct from one another, and brands were built upon these differences. This was the state of marketing and commerce for centuries. However, the day came when competition reached a certain level, and all businesses—whether it was a multinational cola company or a corner dry cleaner—encountered a new, complex challenge. Regardless of how efficient a company's production and distribution systems were, or how effectively it cleaned clothes, its methods could be imitated or replicated by competitors.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="ideas-animation" class="tg-regular la-archetypes-ideas">
				<div class="section-container section-container_decor la-archetypes-ideas__decor"></div>
				<div class="section-container la-archetypes-ideas__container">
					<div class="section-container__inner la-archetypes-ideas__inner">
						<div class="la-archetypes-ideas__body">
							<div class="la-archetypes-ideas__slider">
								<div class="la-archetypes-ideas__slide la-idea-frame">
									<div class="la-idea-frame__fig">
										<div data-component="animated-icon" data-id="10" class="la-animation">
											<canvas width="820" height="820"></canvas>
											<div data-elem="overlay"></div>
										</div>
									</div>
									<div class="la-idea-frame__text">
										<h2 class="tg-h2">The world is overloaded with advertising</h2>
										<p>Nowadays, an average American encounters 6,000 advertisements daily, while a European sees about 4,000. Given that we can barely remember one or two ads from the last day, week, or month, it's apparent that there's a disconnect. Our brains have adapted to cope with the information overload they encounter every second. They don't react to mere facts.</p>
									</div>
								</div>
								<div class="la-archetypes-ideas__slide la-idea-frame">
									<div class="la-idea-frame__fig">
										<div data-component="animated-icon" data-id="11" class="la-animation">
											<canvas width="980" height="680"></canvas>
											<div data-elem="overlay"></div>
										</div>
									</div>
									<div class="la-idea-frame__text">
										<h2 class="tg-h2">Filtration by the brain</h2>
										<p>In fact, we remember or consciously register less than 1% of what our eyes see. If we were to quantify the volume of information we encounter in 24 hours, it could fill 176 newspapers. In these circumstances, businesspeople have realized that they have only two main strategic paths for development: either to lower prices or to infuse their products with a unique sense of meaning.</p>
									</div>
								</div>
								<div class="la-archetypes-ideas__slide la-idea-frame">
									<div class="la-idea-frame__fig">
										<div data-component="animated-icon" data-id="12" class="la-animation">
											<canvas width="980" height="680"></canvas>
											<div data-elem="overlay"></div>
										</div>
									</div>
									<div class="la-idea-frame__text">
										<h2 class="tg-h2">The meaning as a brand asset</h2>
										<p>BRAND MEANING is the most precious and irreplaceable asset of your brand. The significance your brand holds for people is arguably as important, if not more so, than its functional aspects. This is because meaning resonates on an emotional level, conveying messages like "it feels the same as I do" or "this is for me." </p>
									</div>
								</div>
							</div>
						</div>
						<div class="la-archetypes-ideas__progress-bar slider-progress-bar">
							<div class="slider-progress-bar__thumb double-cubic-decor"></div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="section-container section-container_decor">
					<div class="section-container__inner section-container__inner_bottom-space tg-regular">
						<h2 class="tg-h2 la-article__title la-article__title_left">Polar star branding</h2>
						<div class="la-article__section la-article__section_double">
							<div class="la-article__block la-article__block_even">
								<p>Branding without a value management system is like sailors trying to find a port in a stormy sea on a starless night. All they need is a reliable and sturdy compass, a well-tuned mechanism that tells them where they are and where they should be heading. Similarly, for a brand manager, the theory of archetypes can serve as such a compass.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="la-dialog-case inverted-background">
				<div class="section-container section-container_decor section-container_inverted">
					<div class="section-container__inner la-dialog-case__inner">
						<div class="double-cubic-decor la-dialog-case__decor"></div>
						<div class="la-article la-article_big-gap la-article_bottom-space">
							<div class="tg-h2 la-article__title la-article__title_left">You're writing to Nicole to find out what to do next</div>
							<div class="la-article__section la-article__section_double">
								<p class="tg-regular p_short la-article__block la-article__block_even">If you want to delve deeper into their visual style, refer to mood boards and this guide. Also, make a note of when each archetype is more suitable. With this, you can return to the materials from the article at any time and choose the right archetype for the company.</p>
								<p class="tg-h3 p_short la-article__block la-article__block_even"><b>Let's examine each stage using MindPath as an example.</b></p>
							</div>
						</div>
						<div class="la-chat-reproduction la-dialog-case__chat" data-component="chat-reproduction">
							<div class="la-chat-reproduction__container">
								<div class="la-chat-reproduction__inner">
									<div class="la-chat-reproduction__body">
										<img src="@img/cellphone-sketch.svg" alt="cellphone sketch" class="la-chat-reproduction__bg">
										<div class="la-chat-reproduction__body-inner">
											<div class="disclosure disclosure_visible la-chat-reproduction-msg la-chat-reproduction-msg_user" data-component="disclosure">
												<div class="disclosure__body">
													<div class="disclosure__inner" data-elem="disclosure.inner">
														<div class="la-chat-reproduction-msg__container">
															<div class="la-chat-reproduction-msg__inner">
																<div class="la-chat-reproduction-msg__info">
																	<img src="@img/brand-archetypes/user-avatar.png" alt="User avatar" class="la-chat-reproduction-msg__avatar">
																	<div class="la-chat-reproduction-msg__name tg-regular">Me</div>
																</div>
																<div class="la-chat-reproduction-msg__body tg-small">
																	Nicole, I now understand how archetypes differ from each other. What should I do to choose the right one for MindPath?
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="disclosure disclosure_visible la-chat-reproduction-msg la-chat-reproduction-msg_set la-chat-reproduction-msg_contact" data-component="disclosure">
												<div class="disclosure__body">
													<div class="disclosure__inner" data-elem="disclosure.inner">
														<div class="la-chat-reproduction-msg__container">
															<div class="la-chat-reproduction-msg__inner">
																<div class="la-chat-reproduction-msg__set">
																	<div class="la-chat-reproduction-msg__body tg-small">
																		You're quick! Look, I always go through 4 stages to determine the archetype for a new product.
																	</div>
																	<div class="la-chat-reproduction-msg__adds">
																		<div class="disclosure la-chat-reproduction-msg__add" data-component="disclosure">
																			<div class="disclosure__body">
																				<div class="disclosure__inner" data-elem="disclosure.inner">
																					<div class="la-chat-reproduction-msg__add-spacer">
																						<div class="la-chat-reproduction-msg__body tg-small">
																							First, you need to understand what the target audience expects to see. If everyone expects care, and you offer romance, it won't work out.
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="disclosure la-chat-reproduction-msg__add" data-component="disclosure">
																			<div class="disclosure__body">
																				<div class="disclosure__inner" data-elem="disclosure.inner">
																					<div class="la-chat-reproduction-msg__add-spacer">
																						<div class="la-chat-reproduction-msg__body tg-small">
																							Next, analyze the archetypes of competitors. At this stage, it's important to understand how we're going to differentiate from 10 other brands.
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="disclosure la-chat-reproduction-msg__add" data-component="disclosure">
																			<div class="disclosure__body">
																				<div class="disclosure__inner" data-elem="disclosure.inner">
																					<div class="la-chat-reproduction-msg__add-spacer">
																						<div class="la-chat-reproduction-msg__body tg-small">
																							Finally, you need to figure out what drives the team. Otherwise, you'll choose an archetype that no one believes in.
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="disclosure la-chat-reproduction-msg__add" data-component="disclosure">
																			<div class="disclosure__body">
																				<div class="disclosure__inner" data-elem="disclosure.inner">
																					<div class="la-chat-reproduction-msg__add-spacer">
																						<div class="la-chat-reproduction-msg__body tg-small">
																							Once everything is ready, you can hypothesize and experiment.
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="la-chat-reproduction-msg__info">
																	<img src="@img/brand-archetypes/contact-avatar.png" alt="Contact avatar" class="la-chat-reproduction-msg__avatar">
																	<div class="la-chat-reproduction-msg__name tg-regular">Nicole!</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="la-article">
				<div class="section-container section-container_decor">
					<div class="section-container__inner section-container__inner_space tg-regular">
						<div class="la-article__section la-article__section_double">
							<div class="la-article__block la-article__block_doc">
								<div id="doc-animation" data-component="animated-icon" data-id="13" style="--v-ratio: 100%;" class="la-animation la-animation_doc">
									<canvas width="820" height="820"></canvas>
									<div data-elem="overlay"></div>
								</div>
							</div>
						</div>
						<div class="la-article__section la-article__section_double">
							<div class="la-article__block la-article__block_even">
								<div class="tg-article-quote la-article-quote">
									<div class="la-article-quote__inner">Archetypal images signal the fulfillment of basic human desires and motivations, and release deep emotions and yearnings.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="culture-lvls tg-regular">
				<div class="section-container section-container_decor">
					<div class="section-container__inner culture-lvls__layout">
						<div class="culture-lvls__fig culture-lvls-fig">
							<div class="culture-lvls-fig__inner">
								<div id="iceberg-animation" data-component="animated-icon" data-id="14" class="culture-lvls-fig__iceberg la-animation">
									<canvas width="3112" height="1280"></canvas>
									<div data-elem="overlay"></div>
								</div>
								<div id="iceberg-animation_small" data-component="animated-icon" data-id="15" class="culture-lvls-fig__iceberg culture-lvls-fig__iceberg_small la-animation">
									<canvas width="1600" height="1280"></canvas>
									<div data-elem="overlay"></div>
								</div>
							</div>
						</div>
						<div class="culture-lvls__info culture-lvls-info">
							<div class="culture-lvls-info__inner">
								<div class="culture-lvls-info__block" data-will-reveal="true">
									<h3 class="tg-h3">ARTIFACTS</h3>
									<div>Visible organizational structures and processes (hard to decipher)</div>
								</div>
								<div class="culture-lvls-info__arrows">
									<div class="culture-lvls-fig-arrow culture-lvls-fig-arrow_up reveal-wrap">
										<div class="reveal-wrap__inner">
											<span class="icon-cubic-nav-arrow-right reveal-wrap__item"></span>
										</div>
									</div>
									<div class="culture-lvls-fig-arrow culture-lvls-fig-arrow_down reveal-wrap">
										<div class="reveal-wrap__inner">
											<span class="icon-cubic-nav-arrow-right reveal-wrap__item"></span>
										</div>
									</div>
								</div>
								<div class="culture-lvls-info__block" data-will-reveal="true">
									<h3 class="tg-h3">ESPOUSED VALUES</h3>
									<div>Strategies, goals, philosophies (espoused justifications)</div>
								</div>
								<div class="culture-lvls-info__arrows">
									<div class="culture-lvls-fig-arrow culture-lvls-fig-arrow_up reveal-wrap">
										<div class="reveal-wrap__inner">
											<span class="icon-cubic-nav-arrow-right reveal-wrap__item"></span>
										</div>
									</div>
									<div class="culture-lvls-fig-arrow culture-lvls-fig-arrow_down reveal-wrap">
										<div class="reveal-wrap__inner">
											<span class="icon-cubic-nav-arrow-right reveal-wrap__item"></span>
										</div>
									</div>
								</div>
								<div class="culture-lvls-info__block" data-will-reveal="true">
									<h3 class="tg-h3">UNDERLYING ASSUMPTIONS</h3>
									<div>Uncoscious, taken-for- granted beliefs, perceptions,thoughts and feelings</div>
								</div>
							</div>
						</div>
						<div class="culture-lvls__fig-title"><big class="tg-h3">fig.1</big><br>Schein’s Three Levels of Culture</div>
						<div class="culture-lvls__text culture-lvls__text_prim tg-h3">
							<div class="culture-lvls__text-inner">
								Edgar Schein's simple yet powerful model (see fig.1) defines the 'Three Levels of Culture' that can help navigate where archetypes come alive. If you think of an organization as an iceberg, the basic assumptions are underwater, hidden from view.
							</div>
						</div>
						<div class="culture-lvls__text">
							<div class="culture-lvls__text-inner">
								<p>level, unseen and unconscious, but driving the values and the actions above. Archetypes are also active under the water level, and like other underlying assumptions, influence all that is above.</p>
								<p>The descriptions of each archetype are not intended to serve as precise definitions or labels. Rather, they aim to evoke imagery and narrative, sparking discussions about the significance and nuances of an archetype within the desired context.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="la-article">
				<div class="section-container section-container_decor">
					<div class="section-container__inner section-container__inner_space tg-regular">
						<div class="la-article__section la-article__section_double">
							<div class="la-article__block la-article__block_book">
								<div class="img-wrap la-article-img la-article-img_book">
									<div class="img-wrap__inner">
										<img src="@img/brand-archetypes/book.jpg" alt="The Hero and the Outlaw Book">
									</div>
								</div>
							</div>
							<div class="la-article__block la-article__block_even la-article__block_align-end">
								<p>For a deeper dive into archetype theory, you might want to explore the book <b>“The Hero and the Outlaw: Building Extraordinary Brands Through the Power of Archetypes”</b> by Margaret Mark and Carol Pearson.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="la-article-task">
				<div class="section-container section-container_decor">
					<div class="section-container__inner section-container__inner_space tg-regular">
						<div class="la-article-task__header">
							<div class="la-article-task__title tg-h2">Task</div>
							<div class="la-article-task__task">Let's practice. Determine the appropriate archetype for Midjourney.</div>
						</div>
						<div class="la-article-interactive la-article-task__interactive" data-component="article-interactive">
							<div class="tg-h3 la-article-interactive__prompt">Choose one of the options</div>
							<fieldset class="la-article-interactive__answers">
								<label class="la-article-interactive-answer">
									<input type="radio" name="article-interactive-01" value="a" class="la-article-interactive-answer__radio">
									<div class="la-article-interactive-answer__text">Ruler</div>
									<div class="disclosure la-article-interactive-answer__description" data-component="disclosure">
										<div class="disclosure__body">
											<div class="disclosure__inner" data-elem="disclosure.inner">
												<div class="la-article-interactive-answer__spacer">
													No. Midjourney allows users to immerse themselves in the creative process, explore new visual ideas, and bring them to life. The Ruler archetype is typically associated with power, control, and governance, which does not align with the nature of Midjourney. The correct answer is: Creator.
												</div>
											</div>
										</div>
									</div>
									<div class="icon-check-arrow la-article-interactive-answer__arrow"></div>
								</label>
								<label class="la-article-interactive-answer la-article-interactive-answer_correct">
									<input type="radio" name="article-interactive-01" value="b" class="la-article-interactive-answer__radio">
									<div class="la-article-interactive-answer__text">Creator</div>
									<div class="disclosure la-article-interactive-answer__description" data-component="disclosure">
										<div class="disclosure__body">
											<div class="disclosure__inner" data-elem="disclosure.inner">
												<div class="la-article-interactive-answer__spacer">
													Yes. Midjourney allows users to immerse themselves in the creative process, explore new visual ideas, and bring them to life. The Creator archetype strives to create and express uniqueness, which perfectly describes Midjourney.
												</div>
											</div>
										</div>
									</div>
									<div class="icon-check-arrow la-article-interactive-answer__arrow"></div>
								</label>
								<label class="la-article-interactive-answer">
									<input type="radio" name="article-interactive-01" value="c" class="la-article-interactive-answer__radio">
									<div class="la-article-interactive-answer__text">Lover</div>
									<div class="disclosure la-article-interactive-answer__description" data-component="disclosure">
										<div class="disclosure__body">
											<div class="disclosure__inner" data-elem="disclosure.inner">
												<div class="la-article-interactive-answer__spacer">
													No. Midjourney allows users to immerse themselves in the creative process, explore new visual ideas, and bring them to life. The Lover focuses on emotions, relationships, and aesthetics, which is less related to the process of creation compared to the Creator archetype. The correct answer is: Creator.
												</div>
											</div>
										</div>
									</div>
									<div class="icon-check-arrow la-article-interactive-answer__arrow"></div>
								</label>
								<label class="la-article-interactive-answer">
									<input type="radio" name="article-interactive-01" value="d" class="la-article-interactive-answer__radio">
									<div class="la-article-interactive-answer__text">Hero</div>
									<div class="disclosure la-article-interactive-answer__description" data-component="disclosure">
										<div class="disclosure__body">
											<div class="disclosure__inner" data-elem="disclosure.inner">
												<div class="la-article-interactive-answer__spacer">
													No. Midjourney allows users to immerse themselves in the creative process, explore new visual ideas, and bring them to life. The Hero is associated with overcoming obstacles and achieving great feats, which is not the primary characteristic of Midjourney. The correct answer is: Creator.
												</div>
											</div>
										</div>
									</div>
									<div class="icon-check-arrow la-article-interactive-answer__arrow"></div>
								</label>
							</fieldset>
							<div class="disclosure la-article-interactive__btn-area" data-component="disclosure">
								<div class="disclosure__body">
									<div class="disclosure__inner" data-elem="disclosure.inner">
										<button type="button" class="btn la-article-interactive__btn tg-service">
											Check
											<div class="ref-arrow-icon ref-arrow-icon_horizontal">
												<span class="icon-cubic-nav-arrow-right"></span>
												<span class="icon-cubic-nav-arrow-right"></span>
											</div>
										</button>
									</div>
								</div>
							</div>
						</div>
						<div class="la-article-task__tip">And also, keep a <button type="button" class="text-btn underline" data-drawer-open="brand-archetypes">note</button> for yourself on when each archetype is best suited. With it, you can return to the materials from the article at any time and choose the appropriate archetype for the company.</div>
					</div>
				</div>
			</section>
			<section class="la-dialog-case inverted-background">
				<div class="section-container section-container_decor section-container_inverted">
					<div class="section-container__inner la-dialog-case__inner">
						<div class="double-cubic-decor la-dialog-case__decor"></div>
						<div class="la-article la-article_big-gap la-article_bottom-space">
							<div class="tg-h2 la-article__title la-article__title_left">Now, imagine you are a marketer at the startup MindPath. </div>
							<div class="la-article__section la-article__section_double">
								<p class="tg-h3 la-article__block la-article__block_even">This innovative application analyzes and improves mental health using AI and psychological tests to assess users’ psycho-emotional state, offering meditation courses, breathing exercises, and mental hygiene recommendations.</p>
								<p class="tg-h3 la-article__block la-article__block_even">You are writing to your friend Nicole, who has been working with this framework for a long time</p>
							</div>
						</div>
						<div class="la-chat-reproduction la-dialog-case__chat" data-component="chat-reproduction">
							<div class="la-chat-reproduction__container">
								<div class="la-chat-reproduction__inner">
									<div class="la-chat-reproduction__body">
										<img src="@img/cellphone-sketch.svg" alt="cellphone sketch" class="la-chat-reproduction__bg">
										<div class="la-chat-reproduction__body-inner">
											<div class="disclosure disclosure_visible la-chat-reproduction-msg la-chat-reproduction-msg_user" data-component="disclosure">
												<div class="disclosure__body">
													<div class="disclosure__inner" data-elem="disclosure.inner">
														<div class="la-chat-reproduction-msg__container">
															<div class="la-chat-reproduction-msg__inner">
																<div class="la-chat-reproduction-msg__info">
																	<img src="@img/brand-archetypes/user-avatar.png" alt="User avatar" class="la-chat-reproduction-msg__avatar">
																	<div class="la-chat-reproduction-msg__name tg-regular">Me</div>
																</div>
																<div class="la-chat-reproduction-msg__body tg-small">
																	Hey Nicole! 😊 Remember when we chatted about the whole brand archetype thing? I'm thinking of diving in and choosing one for our startup. Any golden nuggets of advice?
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="disclosure disclosure_visible la-chat-reproduction-msg la-chat-reproduction-msg_contact" data-component="disclosure">
												<div class="disclosure__body">
													<div class="disclosure__inner" data-elem="disclosure.inner">
														<div class="la-chat-reproduction-msg__container">
															<div class="la-chat-reproduction-msg__inner">
																<div class="la-chat-reproduction-msg__body tg-small">
																	Hey there! Absolutely! Just curious, do you grasp the essence of why you'd want an archetype?
																</div>
																<div class="la-chat-reproduction-msg__info">
																	<img src="@img/brand-archetypes/contact-avatar.png" alt="Contact avatar" class="la-chat-reproduction-msg__avatar">
																	<div class="la-chat-reproduction-msg__name tg-regular">Nicole!</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="disclosure disclosure_visible la-chat-reproduction-msg la-chat-reproduction-msg_user" data-component="disclosure">
												<div class="disclosure__body">
													<div class="disclosure__inner" data-elem="disclosure.inner">
														<div class="la-chat-reproduction-msg__container">
															<div class="la-chat-reproduction-msg__inner">
																<div class="la-chat-reproduction-msg__info">
																	<img src="@img/brand-archetypes/user-avatar.png" alt="User avatar" class="la-chat-reproduction-msg__avatar">
																	<div class="la-chat-reproduction-msg__name tg-regular">Me</div>
																</div>
																<div class="la-chat-reproduction-msg__body tg-small">
																	It's to sharpen our product's positioning, right?
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="disclosure disclosure_visible la-chat-reproduction-msg la-chat-reproduction-msg_contact" data-component="disclosure">
												<div class="disclosure__body">
													<div class="disclosure__inner" data-elem="disclosure.inner">
														<div class="la-chat-reproduction-msg__container">
															<div class="la-chat-reproduction-msg__inner">
																<div class="la-chat-reproduction-msg__body tg-small">
																	Nailed it! Archetypes really add that zing. They help us connect deeper with our audience and give our brand a relatable face. It's like turning our brand into a familiar friend. When you get it right, people feel like they've been buddies with the brand for ages.
																</div>
																<div class="la-chat-reproduction-msg__info">
																	<img src="@img/brand-archetypes/contact-avatar.png" alt="Contact avatar" class="la-chat-reproduction-msg__avatar">
																	<div class="la-chat-reproduction-msg__name tg-regular">Nicole!</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="disclosure disclosure_visible la-chat-reproduction-msg la-chat-reproduction-msg_user" data-component="disclosure">
												<div class="disclosure__body">
													<div class="disclosure__inner" data-elem="disclosure.inner">
														<div class="la-chat-reproduction-msg__container">
															<div class="la-chat-reproduction-msg__inner">
																<div class="la-chat-reproduction-msg__info">
																	<img src="@img/brand-archetypes/user-avatar.png" alt="User avatar" class="la-chat-reproduction-msg__avatar">
																	<div class="la-chat-reproduction-msg__name tg-regular">Me</div>
																</div>
																<div class="la-chat-reproduction-msg__body tg-small">
																	That's exactly the kind of bond I'm aiming for!
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="disclosure disclosure_visible la-chat-reproduction-msg la-chat-reproduction-msg_contact" data-component="disclosure">
												<div class="disclosure__body">
													<div class="disclosure__inner" data-elem="disclosure.inner">
														<div class="la-chat-reproduction-msg__container">
															<div class="la-chat-reproduction-msg__inner">
																<div class="la-chat-reproduction-msg__body tg-small">
																	Who wouldn't? 😊 The trick is to find that archetype that truly vibes with your peeps. There are 12 to sift through. Dive deep into each, and then we can have a jam session on which might be 'the one.'
																</div>
																<div class="la-chat-reproduction-msg__info">
																	<img src="@img/brand-archetypes/contact-avatar.png" alt="Contact avatar" class="la-chat-reproduction-msg__avatar">
																	<div class="la-chat-reproduction-msg__name tg-regular">Nicole!</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="disclosure disclosure_visible la-chat-reproduction-msg la-chat-reproduction-msg_user" data-component="disclosure">
												<div class="disclosure__body">
													<div class="disclosure__inner" data-elem="disclosure.inner">
														<div class="la-chat-reproduction-msg__container">
															<div class="la-chat-reproduction-msg__inner">
																<div class="la-chat-reproduction-msg__info">
																	<img src="@img/brand-archetypes/user-avatar.png" alt="User avatar" class="la-chat-reproduction-msg__avatar">
																	<div class="la-chat-reproduction-msg__name tg-regular">Me</div>
																</div>
																<div class="la-chat-reproduction-msg__body tg-small">
																	Deal! I'll deep dive and circle back. Thanks for the inspo, Nicole! 🌟
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="overflow-hidden la-article">
				<div class="section-container section-container_decor">
					<div class="section-container__inner section-container__inner_space tg-regular">
						<h2 class="tg-h1 la-article__title la-article__title_left">How to Choose Your<br>Archetype</h2>
						<div class="la-article__section la-article__section_double la-article__section_bottom-space">
							<div class="la-article__block la-article_small-gap la-article__block_even">
								<h3 class="tg-h2 la-article__osh">What Your Target Audience Expects to See</h3>
								<p>You’re creating products for people, so your target audience should be your primary focus. To understand their values, you need to talk to them:</p>
								<ul class="la-article-ul">
									<li>Ask them to describe your brand in three words.</li>
									<li>Find out in what situations they use your product.</li>
									<li>Ask them what feelings they experience when interacting with your product.</li>
								</ul>
								<p>These questions will help you understand how your target audience perceives your brand. This translation maintains the intent and clarity of the original text while ensuring it’s natural in English.</p>
								<p><b>Here's the translation of your text:</b></p>
								<p>You ask MindPath users to describe the application and receive the following responses: helpful, caring, thoughtful, unique, surprising, truthful, technological, innovative, convenient, supportive.</p>
								<p>They mention that they use the application out of interest and when they want to focus and harmonize themselves. From their interaction with the product, users feel delighted because they experience unexpectedly positive changes.</p>
								<p>You conclude that MindPath is perceived as a caring coach and helper. You believe that the audience sees the archetypes of the "Sage," "Caregiver," and "Creator" in the application.</p>
							</div>
						</div>
						<div class="la-article__section la-article__section_double la-article__section_bottom-space">
							<div class="la-article__block">
								<h3 class="tg-h2 la-article__osh la-article__block-title_save">Identify Which Archetypes Your Competitors Are Using</h3>
								<p>Chances are, they’re sticking to no more than three archetypes, which is completely normal. Brands often go with what’s most recognizable and effective for their audience.</p>
								<p>If you’re looking to stand out from the competition, your goal is to avoid clichés and overused tropes. Consider choosing a secondary archetype to add more depth to your brand’s messaging. For example, Balenciaga doesn’t just rely on the “Lover” archetype; they also tap into the “Rebel.” This strategy allows the brand to stay unpredictable and break away from conventional standards.</p>
								<p>You analyze competitors of MindPath — an app for finding and selecting doctors. You discover that the “Sage” archetype is the most commonly used. You realize that competitors are not utilizing the “Caregiver” and “Creator” archetypes, which resonate with your target audience.</p>
							</div>
							<div class="la-article__block la-article_small-gap la-article__block_even la-article__block_img-set">
								<div class="la-article-img-set">
									<div class="img-wrap la-article-img-set__item">
										<div class="img-wrap__inner">
											<img src="@img/brand-archetypes/img-set_1.jpg" alt="Img set p1">
										</div>
									</div>
									<div class="img-wrap la-article-img-set__item">
										<div class="img-wrap__inner">
											<img src="@img/brand-archetypes/img-set_2.jpg" alt="Img set p2">
										</div>
									</div>
									<div class="img-wrap la-article-img-set__item">
										<div class="img-wrap__inner">
											<img src="@img/brand-archetypes/img-set_3.jpg" alt="Img set p3">
										</div>
									</div>
								</div>
							</div>
						</div>
						<section class="la-article-task la-article__section la-article__section_double la-article__section_bottom-space">
							<div class="la-article-task__inner la-article__block la-article__block_extend">
								<div class="la-article-task__header">
									<div class="la-article-task__title tg-h2">Task</div>
									<div class="la-article-task__task">Imagine you have launched a service to improve personal productivity and have chosen the “Creator” as its leading archetype. Which key message would be most suitable for the product?</div>
								</div>
								<div class="la-article-interactive la-article-task__interactive" data-component="article-interactive">
									<div class="tg-h3 la-article-interactive__prompt">Choose one of the options</div>
									<fieldset class="la-article-interactive__answers">
										<label class="la-article-interactive-answer la-article-interactive-answer_correct">
											<input type="radio" name="article-interactive-02" value="a" class="la-article-interactive-answer__radio">
											<div class="la-article-interactive-answer__text">«Create the perfect daily plan with our help 🎨»</div>
											<div class="disclosure la-article-interactive-answer__description" data-component="disclosure">
												<div class="disclosure__body">
													<div class="disclosure__inner" data-elem="disclosure.inner">
														<div class="la-article-interactive-answer__spacer">
															Yes, this key message aligns with the "Creator" archetype.
														</div>
													</div>
												</div>
											</div>
											<div class="icon-check-arrow la-article-interactive-answer__arrow"></div>
										</label>
										<label class="la-article-interactive-answer">
											<input type="radio" name="article-interactive-02" value="b" class="la-article-interactive-answer__radio">
											<div class="la-article-interactive-answer__text">«Boost your productivity with unique methods»</div>
											<div class="disclosure la-article-interactive-answer__description" data-component="disclosure">
												<div class="disclosure__body">
													<div class="disclosure__inner" data-elem="disclosure.inner">
														<div class="la-article-interactive-answer__spacer">
															this fits more with the “Sage” archetype, as the emphasis is on methods and knowledge.
														</div>
													</div>
												</div>
											</div>
											<div class="icon-check-arrow la-article-interactive-answer__arrow"></div>
										</label>
										<label class="la-article-interactive-answer">
											<input type="radio" name="article-interactive-02" value="c" class="la-article-interactive-answer__radio">
											<div class="la-article-interactive-answer__text">«Completely transform your approach to work — start creating! 💡»</div>
											<div class="disclosure la-article-interactive-answer__description" data-component="disclosure">
												<div class="disclosure__body">
													<div class="disclosure__inner" data-elem="disclosure.inner">
														<div class="la-article-interactive-answer__spacer">
															— this fits the “Creator” archetype, but the main focus is on transformation rather than the creative process. The “Magician” archetype focuses on transformations and creating something new and extraordinary.
														</div>
													</div>
												</div>
											</div>
											<div class="icon-check-arrow la-article-interactive-answer__arrow"></div>
										</label>
										<label class="la-article-interactive-answer">
											<input type="radio" name="article-interactive-02" value="d" class="la-article-interactive-answer__radio">
											<div class="la-article-interactive-answer__text">«We’ll show you how to be more productive by leveraging your unique abilities»</div>
											<div class="disclosure la-article-interactive-answer__description" data-component="disclosure">
												<div class="disclosure__body">
													<div class="disclosure__inner" data-elem="disclosure.inner">
														<div class="la-article-interactive-answer__spacer">
															this aligns more with the “Caregiver” archetype, as the focus is on support and personalization.
														</div>
													</div>
												</div>
											</div>
											<div class="icon-check-arrow la-article-interactive-answer__arrow"></div>
										</label>
									</fieldset>
									<div class="disclosure la-article-interactive__btn-area" data-component="disclosure">
										<div class="disclosure__body">
											<div class="disclosure__inner" data-elem="disclosure.inner">
												<button type="button" class="btn la-article-interactive__btn tg-service">
													Check
													<div class="ref-arrow-icon ref-arrow-icon_horizontal">
														<span class="icon-cubic-nav-arrow-right"></span>
														<span class="icon-cubic-nav-arrow-right"></span>
													</div>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<div class="la-article__section la-article__section_double la-article__section_bottom-space">
							<div class="la-article__block la-article_small-gap la-article__block_even">
								<h3 class="tg-h2 la-article__osh">Identify What Drives You</h3>
								<p>Focus on four aspects::</p>
								<ul class="la-article-ul">
									<li>Formulate your motto.</li>
									<li>Define the goal you’re striving for.</li>
									<li>Consider why you created the product.</li>
								</ul>
								<p>Once you answer these questions, you'll understand which archetype the company believes in.</p>
								<p>During an interview with the CEO of MindPath, you learn that for David, the most important things are helping people and being creative. That’s why he seeks out unconventional solutions and comes up with unique features. Mark aims to give everyone the opportunity to understand how to improve their health, as he believes this is crucial. He believes that, in the long run, DocFace will be able to raise the quality of life.</p>
								<p>After the interview, you conclude that the archetypes most fitting for David are the "Explorer," "Caregiver," "Creator," "Sage," and "Hero." He strives for new solutions, uses unconventional approaches, cares about people, and wants to help them live better lives.</p>
							</div>
						</div>
						<div class="la-article__section la-article__section_double la-article__section_bottom-space">
							<div class="la-article__block">
								<h3 class="tg-h2 la-article__osh la-article__block-title_save">Form Hypotheses and Experiment</h3>
								<p>Once you have completed the previous three steps, you can hypothesize which archetypes would best suit your brand. Narrow it down to two and start experimenting.</p>
								<p>Write five pieces of content in different styles and with different messages that align with each of the chosen archetypes. Create various ad creatives and test which ones perform best in an A/B test.</p>
								<p>As you experiment with both archetypes, you’ll be able to determine which one resonates more with your team and target audience. Which one drives better engagement and effectiveness. Then, you can choose the primary archetype that resonates the most.</p>
								<p>Let’s return to MindPath. After completing all the steps, you decide to focus on the “Caregiver” and “Creator” archetypes, as they align with your target audience, team, and are rarely used in the industry. Moving forward, you will begin experimenting specifically with these archetypes.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="la-dialog-case inverted-background">
				<div class="section-container section-container_decor section-container_inverted">
					<div class="section-container__inner la-dialog-case__inner">
						<div class="double-cubic-decor la-dialog-case__decor"></div>
						
						<div class="la-chat-reproduction la-dialog-case__chat" data-component="chat-reproduction">
							<div class="la-chat-reproduction__container">
								<div class="la-chat-reproduction__inner">
									<div class="la-article la-article_big-gap">
										<div class="tg-h2 la-article__title la-article__title_left">Nicole! is writing to you to find out if you managed to identify an archetype for MindPath:</div>
									</div>
									<div class="la-chat-reproduction__body">
										<img src="@img/cellphone-sketch.svg" alt="cellphone sketch" class="la-chat-reproduction__bg">
										<div class="la-chat-reproduction__body-inner">
											<div class="disclosure disclosure_visible la-chat-reproduction-msg la-chat-reproduction-msg_user" data-component="disclosure">
												<div class="disclosure__body">
													<div class="disclosure__inner" data-elem="disclosure.inner">
														<div class="la-chat-reproduction-msg__container">
															<div class="la-chat-reproduction-msg__inner">
																<div class="la-chat-reproduction-msg__info">
																	<img src="@img/brand-archetypes/contact-avatar.png" alt="Contact avatar" class="la-chat-reproduction-msg__avatar">
																	<div class="la-chat-reproduction-msg__name tg-regular">Nicole!</div>
																</div>
																<div class="la-chat-reproduction-msg__body tg-small">
																	So, were you able to determine the archetype?
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="disclosure disclosure_visible la-chat-reproduction-msg la-chat-reproduction-msg_set la-chat-reproduction-msg_contact" data-component="disclosure">
												<div class="disclosure__body">
													<div class="disclosure__inner" data-elem="disclosure.inner">
														<div class="la-chat-reproduction-msg__container">
															<div class="la-chat-reproduction-msg__inner">
																<div class="la-chat-reproduction-msg__body tg-small">
																	Yes. We narrowed it down to two — the ‘Caregiver’ and the ‘Creator.’ Now we’ll be testing which one fits better.
																</div>
																<div class="la-chat-reproduction-msg__info">
																	<img src="@img/brand-archetypes/user-avatar.png" alt="User avatar" class="la-chat-reproduction-msg__avatar">
																	<div class="la-chat-reproduction-msg__name tg-regular">Me</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="disclosure disclosure_visible la-chat-reproduction-msg la-chat-reproduction-msg_user" data-component="disclosure">
												<div class="disclosure__body">
													<div class="disclosure__inner" data-elem="disclosure.inner">
														<div class="la-chat-reproduction-msg__container">
															<div class="la-chat-reproduction-msg__inner">
																<div class="la-chat-reproduction-msg__info">
																	<img src="@img/brand-archetypes/contact-avatar.png" alt="Contact avatar" class="la-chat-reproduction-msg__avatar">
																	<div class="la-chat-reproduction-msg__name tg-regular">Nicole!</div>
																</div>
																<div class="la-chat-reproduction-msg__body tg-small">
																	Great, glad to hear it! Just remember, these are still hypotheses. It’s normal to make mistakes when choosing an archetype. The key is to listen to user feedback.
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="disclosure disclosure_visible la-chat-reproduction-msg la-chat-reproduction-msg_set la-chat-reproduction-msg_contact" data-component="disclosure">
												<div class="disclosure__body">
													<div class="disclosure__inner" data-elem="disclosure.inner">
														<div class="la-chat-reproduction-msg__container">
															<div class="la-chat-reproduction-msg__inner">
																<div class="la-chat-reproduction-msg__body tg-small">
																	Good advice, thanks again for your help!
																</div>
																<div class="la-chat-reproduction-msg__info">
																	<img src="@img/brand-archetypes/user-avatar.png" alt="User avatar" class="la-chat-reproduction-msg__avatar">
																	<div class="la-chat-reproduction-msg__name tg-regular">Me</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="la-article-summary">
				<div class="section-container section-container_decor">
					<div class="section-container__inner section-container__inner_space tg-h3">
						<div class="la-article-summary__section la-article-summary__section_bottom-space">
							<p>Defining an archetype is not enough. It doesn't matter if your company is rebellious or caring if you only stop at choosing an archetype.</p>
							<p>For there to be an effect, you need to think about how the archetype will affect the company's communications with the user. Our template will help with that.</p>
						</div>
						<div class="la-article-summary__section">
							<a href="" class="img-wrap la-article-img la-article-img_table-prev">
								<div class="img-wrap__inner">
									<img src="@img/brand-archetypes/table-preview.jpg" alt="Table preview">
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>
			<section class="la-article-task">
				<div class="section-container section-container_decor">
					<div class="section-container__inner section-container__inner_space tg-regular">
						<div class="la-article-task__header">
							<div class="la-article-task__title tg-h2">Task</div>
							<div class="la-article-task__task">Let's practice. Determine the appropriate archetype for ChatGPT.</div>
						</div>
						<div class="la-article-interactive la-article-task__interactive" data-component="article-interactive">
							<div class="tg-h3 la-article-interactive__prompt">Choose one of the options</div>
							<fieldset class="la-article-interactive__answers">
								<label class="la-article-interactive-answer">
									<input type="radio" name="article-interactive-03" value="a" class="la-article-interactive-answer__radio">
									<div class="la-article-interactive-answer__text">Rebel</div>
									<div class="disclosure la-article-interactive-answer__description" data-component="disclosure">
										<div class="disclosure__body">
											<div class="disclosure__inner" data-elem="disclosure.inner">
												<div class="la-article-interactive-answer__spacer">
													No. ChatGPT provides knowledge and helps people find information. The Rebel archetype is associated with breaking rules and striving for revolution, which does not align with ChatGPT’s primary role. The correct answer is: Sage.
												</div>
											</div>
										</div>
									</div>
									<div class="icon-check-arrow la-article-interactive-answer__arrow"></div>
								</label>
								<label class="la-article-interactive-answer">
									<input type="radio" name="article-interactive-03" value="b" class="la-article-interactive-answer__radio">
									<div class="la-article-interactive-answer__text">Jester</div>
									<div class="disclosure la-article-interactive-answer__description" data-component="disclosure">
										<div class="disclosure__body">
											<div class="disclosure__inner" data-elem="disclosure.inner">
												<div class="la-article-interactive-answer__spacer">
													No. While ChatGPT can interact with humor and lightness, its primary goal is to provide knowledge and information, which aligns more with the Sage archetype than the Jester. The correct answer is: Sage.
												</div>
											</div>
										</div>
									</div>
									<div class="icon-check-arrow la-article-interactive-answer__arrow"></div>
								</label>
								<label class="la-article-interactive-answer">
									<input type="radio" name="article-interactive-03" value="d" class="la-article-interactive-answer__radio">
									<div class="la-article-interactive-answer__text">Hero</div>
									<div class="disclosure la-article-interactive-answer__description" data-component="disclosure">
										<div class="disclosure__body">
											<div class="disclosure__inner" data-elem="disclosure.inner">
												<div class="la-article-interactive-answer__spacer">
													No. The Hero is associated with overcoming challenges and saving the day, but ChatGPT’s main function is to provide knowledge and assistance, which is more in line with the Sage archetype. The correct answer is: Sage.
												</div>
											</div>
										</div>
									</div>
									<div class="icon-check-arrow la-article-interactive-answer__arrow"></div>
								</label>
								<label class="la-article-interactive-answer la-article-interactive-answer_correct">
									<input type="radio" name="article-interactive-03" value="c" class="la-article-interactive-answer__radio">
									<div class="la-article-interactive-answer__text">Sage</div>
									<div class="disclosure la-article-interactive-answer__description" data-component="disclosure">
										<div class="disclosure__body">
											<div class="disclosure__inner" data-elem="disclosure.inner">
												<div class="la-article-interactive-answer__spacer">
													Yes. ChatGPT provides knowledge, helps people find information, and draws conclusions. The Sage archetype perfectly describes ChatGPT.
												</div>
											</div>
										</div>
									</div>
									<div class="icon-check-arrow la-article-interactive-answer__arrow"></div>
								</label>
							</fieldset>
							<div class="disclosure la-article-interactive__btn-area" data-component="disclosure">
								<div class="disclosure__body">
									<div class="disclosure__inner" data-elem="disclosure.inner">
										<button type="button" class="btn la-article-interactive__btn tg-service">
											Check
											<div class="ref-arrow-icon ref-arrow-icon_horizontal">
												<span class="icon-cubic-nav-arrow-right"></span>
												<span class="icon-cubic-nav-arrow-right"></span>
											</div>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="la-article">
				<div class="section-container section-container_decor">
					<div class="section-container__inner section-container__inner_space tg-regular">
						<div class="la-article__section la-article__section_double">
							<div class="la-article__block la-article__block_even">
								<h3 class="tg-h2">To summarize:</h3>
								<p>Choosing an archetype is an experiment where there is room for error. You won’t always be able to pick the right one on the first try, and that’s okay. That’s why it’s important to stay flexible: don’t be afraid to try new approaches and discard those that don’t work.</p>
								<p>An archetype is just a template from which you create something unique for your brand. Observing other brands and being open to experimentation will help you in this process.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			{{> ../../shared/partials/share-it}}
		</main>
		<div class="drawers-group" data-drawers-group="system">
			{{> ../../shared/partials/common-drawers}}
			{{> ../../shared/partials/archetypes-list-drawer}}
			{{> ../../shared/partials/archetype-drawers}}
		</div>
		{{> ../../shared/partials/common}}
		{{> ../../shared/partials/footer}}
	</body>
</html>