<!DOCTYPE html>
<html lang="en">
	{{> ../../shared/partials/head
		title='Brand archetypes'
	}}
	<body class="archetypes">
		{{> ../../shared/partials/header }}
		<main>
			<section class="hero">
				<div class="section-container section-container_decor hero__container">
					<h1>Point the<br>arrow to the<br>archetype to<br>learn more</h1>
				</div>
			</section>
			<section class="archetypes-index archetypes__index">
				<div class="section-container section-container_decor archetypes-index__container">
					<h2>Brand archetypes</h2>
					<nav class="archetypes-index__categories">
						<a href="#structure" class="archetype-category-ref archetype-category-ref_structure">
							<span class="icon-cubic-zip"></span>
							ROVIDE STRUCTURE
						</a>
						<a href="#paradise" class="archetype-category-ref archetype-category-ref_paradise">
							<span class="icon-cubic-zip"></span>
							SEEK PARADISE
						</a>
						<a href="#mark" class="archetype-category-ref archetype-category-ref_mark">
							<span class="icon-cubic-zip"></span>
							LEAVE A MARK
						</a>
						<a href="#connection" class="archetype-category-ref archetype-category-ref_connection">
							<span class="icon-cubic-zip"></span>
							Build CONNECTION
						</a>
					</nav>
					<div class="archetypes-slider archetypes-index__slider">
						<div id="archetypes-slider" class="archetypes-slider__inner">
							<div class="archetype-card archetype-card_structure keen-slider__slide archetypes-slider__slide" data-anchor="structure">
								<h4 class="archetype-card__name">Caregiver</h4>
								<div class="archetype-card__main-quality">Service</div>
								<img src="@img/brand-archetypes/card-character.png" alt="Brand archetype character">
								<div class="archetype-card__separator"></div>
								<div class="archetype-card__qualities">
									<span>Altruism</span><span>Compassion</span><span>Empathy</span><span>Patience</span>
								</div>
								<span class="icon-cubic-plus archetype-card__corner-icon"></span>
							</div>
							<div class="archetype-card archetype-card_structure keen-slider__slide archetypes-slider__slide">
								<h4 class="archetype-card__name">Ruler</h4>
								<div class="archetype-card__main-quality">Control</div>
								<img src="@img/brand-archetypes/card-character.png" alt="Brand archetype character">
								<div class="archetype-card__separator"></div>
								<div class="archetype-card__qualities">
									<span>Power</span><span>Confidence</span><span>Dominion</span><span>High status</span>
								</div>
								<span class="icon-cubic-plus archetype-card__corner-icon"></span>
							</div>
							<div class="archetype-card archetype-card_structure keen-slider__slide archetypes-slider__slide">
								<h4 class="archetype-card__name">Creator</h4>
								<div class="archetype-card__main-quality">Innovation</div>
								<img src="@img/brand-archetypes/card-character.png" alt="Brand archetype character">
								<div class="archetype-card__separator"></div>
								<div class="archetype-card__qualities">
									<span>Creativity</span><span>Imagination</span><span>Nonlinear</span><span>Nonconformity</span>
								</div>
								<span class="icon-cubic-plus archetype-card__corner-icon"></span>
							</div>
							<div class="archetype-card archetype-card_paradise keen-slider__slide archetypes-slider__slide" data-anchor="paradise">
								<h4 class="archetype-card__name">Sage</h4>
								<div class="archetype-card__main-quality">Wisdom</div>
								<img src="@img/brand-archetypes/card-character.png" alt="Brand archetype character">
								<div class="archetype-card__separator"></div>
								<div class="archetype-card__qualities">
									<span>Understanding</span><span>Intelligence</span><span>Truth-seeking</span><span>Clarity</span>
								</div>
								<span class="icon-cubic-plus archetype-card__corner-icon"></span>
							</div>
							<div class="archetype-card archetype-card_paradise keen-slider__slide archetypes-slider__slide">
								<h4 class="archetype-card__name">Explorer</h4>
								<div class="archetype-card__main-quality">Freedom</div>
								<img src="@img/brand-archetypes/card-character.png" alt="Brand archetype character">
								<div class="archetype-card__separator"></div>
								<div class="archetype-card__qualities">
									<span>Independence</span><span>Bravery</span><span>Nonconformity</span><span>Self-sufficiency</span>
								</div>
								<span class="icon-cubic-plus archetype-card__corner-icon"></span>
							</div>
							<div class="archetype-card archetype-card_paradise keen-slider__slide archetypes-slider__slide">
								<h4 class="archetype-card__name">Innocent</h4>
								<div class="archetype-card__main-quality">Safety</div>
								<img src="@img/brand-archetypes/card-character.png" alt="Brand archetype character">
								<div class="archetype-card__separator"></div>
								<div class="archetype-card__qualities">
									<span>Sense of Wonder</span><span>Trust</span><span>Purity</span><span>Honesty</span>
								</div>
								<span class="icon-cubic-plus archetype-card__corner-icon"></span>
							</div>
							<div class="archetype-card archetype-card_mark keen-slider__slide archetypes-slider__slide" data-anchor="mark">
								<h4 class="archetype-card__name">Hero</h4>
								<div class="archetype-card__main-quality">Mastery</div>
								<img src="@img/brand-archetypes/card-character.png" alt="Brand archetype character">
								<div class="archetype-card__separator"></div>
								<div class="archetype-card__qualities">
									<span>Self-sacrifice</span><span>Courage</span><span>Redemption</span><span>Strenght</span>
								</div>
								<span class="icon-cubic-plus archetype-card__corner-icon"></span>
							</div>
							<div class="archetype-card archetype-card_mark keen-slider__slide archetypes-slider__slide">
								<h4 class="archetype-card__name">Outlaw</h4>
								<div class="archetype-card__main-quality">Liberation</div>
								<img src="@img/brand-archetypes/card-character.png" alt="Brand archetype character">
								<div class="archetype-card__separator"></div>
								<div class="archetype-card__qualities">
									<span>Leadership</span><span>Risk taking</span><span>Progressive</span><span>Bravery</span>
								</div>
								<span class="icon-cubic-plus archetype-card__corner-icon"></span>
							</div>
							<div class="archetype-card archetype-card_mark keen-slider__slide archetypes-slider__slide">
								<h4 class="archetype-card__name">Magican</h4>
								<div class="archetype-card__main-quality">Power</div>
								<img src="@img/brand-archetypes/card-character.png" alt="Brand archetype character">
								<div class="archetype-card__separator"></div>
								<div class="archetype-card__qualities">
									<span>Intuition</span><span>Clverness</span><span>Charisma</span><span>Higly evolved</span>
								</div>
								<span class="icon-cubic-plus archetype-card__corner-icon"></span>
							</div>
							<div class="archetype-card archetype-card_connection keen-slider__slide archetypes-slider__slide" data-anchor="connection">
								<h4 class="archetype-card__name">Lover</h4>
								<div class="archetype-card__main-quality">Intimacy</div>
								<img src="@img/brand-archetypes/card-character.png" alt="Brand archetype character">
								<div class="archetype-card__separator"></div>
								<div class="archetype-card__qualities">
									<span>Faithfulness</span><span>Passion</span><span>Sensuality</span><span>Vitality</span>
								</div>
								<span class="icon-cubic-plus archetype-card__corner-icon"></span>
							</div>
							<div class="archetype-card archetype-card_connection keen-slider__slide archetypes-slider__slide">
								<h4 class="archetype-card__name">Jester</h4>
								<div class="archetype-card__main-quality">Enjoyment</div>
								<img src="@img/brand-archetypes/card-character.png" alt="Brand archetype character">
								<div class="archetype-card__separator"></div>
								<div class="archetype-card__qualities">
									<span>Humor</span><span>Originality</span><span>Irreverence</span><span>Awareness</span>
								</div>
								<span class="icon-cubic-plus archetype-card__corner-icon"></span>
							</div>
							<div class="archetype-card archetype-card_connection keen-slider__slide archetypes-slider__slide">
								<h4 class="archetype-card__name">Everyman</h4>
								<div class="archetype-card__main-quality">Belonging</div>
								<img src="@img/brand-archetypes/card-character.png" alt="Brand archetype character">
								<div class="archetype-card__separator"></div>
								<div class="archetype-card__qualities">
									<span>Stewardship</span><span>Altruism</span><span>Respect</span><span>Fairless</span>
								</div>
								<span class="icon-cubic-plus archetype-card__corner-icon"></span>
							</div>
						</div>
						<div class="archetypes-slider__controls">
							<button id="archetypes-slider-prev" type="button" class="archetypes-slider__prev-btn archetypes-slider-btn">
								<span class="icon-cubic-nav-arrow-left"></span>
							</button>
							<button id="archetypes-slider-next" type="button" class="archetypes-slider__next-btn archetypes-slider-btn">
								<span class="icon-cubic-nav-arrow-right"></span>
							</button>
						</div>
					</div>
				</div>
			</section>
			
		</main>
		<div class="drawers-group" data-drawers-group="system">
			{{> ../../shared/partials/common-drawers}}
		</div>
		{{> ../../shared/partials/common}}
		{{> ../../shared/partials/footer}}
	</body>
</html>