<!DOCTYPE html>
<html lang="en">
	{{> ../../shared/partials/head
		title='Cookies'
	}}
	<body class="cookies">
		{{> ../../shared/partials/header}}
		<div>
			<main>
				<section class="hero">
					<div class="section-container section-container_decor">
						<div class="section-container__inner hero__inner">
							<h1 class="tg-h1 hero__title">Cookies</h1>
						</div>
					</div>
				</section>
				<section>
					<div class="section-container section-container_decor">
						<div class="section-container__inner cookies__body">
							<div class="cookies-block cookies__about">
								<div class="tg-h4 cookies-block__title">Cookies on Site</div>
								<div class="tg-regular cookies-block__body">
									Cookies are text files containing small amounts of information which we download onto your computer or device when you visit our website. We can recognize these cookies on subsequent visits, and they allow us to remember you. We may use information obtained from cookies or similar technology to give you better functionality and to help us improve the performance of Ogilvy.com. Here are the main types and categories of cookies that are used on our site.
								</div>
								<div class="double-cubic-decor cookies-block__decor"></div>
							</div>
							<div class="cookies__settings">
								<div class="cookies-block">
									<div class="tg-h4 cookies-block__title">Necessary cookies</div>
									<div class="tg-regular cookies-block__body">
										These cookies are essential so that you can move around the website and use its features. Without these cookies services you have asked for cannot be provided. See list below.
									</div>
									<label class="tg-service uppercase on-off-switch cookies-block__switch">
										<input type="checkbox" name="">
										<div class="on-off-switch__body">
											<div class="on-off-switch__off">off<div class="cubic-underline on-off-switch__underline"></div></div>
											<div class="on-off-switch__on">on<div class="cubic-underline on-off-switch__underline"></div></div>
										</div>
									</label>
									<div class="double-cubic-decor cookies-block__decor"></div>
								</div>
								<div class="cookies-block">
									<div class="tg-h4 cookies-block__title">Functional cookies</div>
									<div class="tg-regular cookies-block__body">
										These cookies allow the website to remember choices you make to give you better functionality and personal features.See list below.
									</div>
									<label class="tg-service uppercase on-off-switch cookies-block__switch">
										<input type="checkbox" name="">
										<div class="on-off-switch__body">
											<div class="on-off-switch__off">off<div class="cubic-underline on-off-switch__underline"></div></div>
											<div class="on-off-switch__on">on<div class="cubic-underline on-off-switch__underline"></div></div>
										</div>
									</label>
									<div class="double-cubic-decor cookies-block__decor"></div>
								</div>
								<div class="cookies-block">
									<div class="tg-h4 cookies-block__title">Performance cookies</div>
									<div class="tg-regular cookies-block__body">
										These cookies help to improve the performance of Ogilvy.com. See list below.
									</div>
									<label class="tg-service uppercase on-off-switch cookies-block__switch">
										<input type="checkbox" name="">
										<div class="on-off-switch__body">
											<div class="on-off-switch__off">off<div class="cubic-underline on-off-switch__underline"></div></div>
											<div class="on-off-switch__on">on<div class="cubic-underline on-off-switch__underline"></div></div>
										</div>
									</label>
									<div class="double-cubic-decor cookies-block__decor"></div>
								</div>
							</div>
							<div class="cookies__desc">
								<div class="cookies-block">
									<div class="tg-h4 cookies-block__title">Necessary cookies</div>
									<div class="tg-regular cookies-block__body">
										<div class="cookies-table">
											<div class="cookies-table__header">
												<ul class=" cookies-table__row">
													<li class="cookies-table__col">Cookie</li>
													<li class="cookies-table__col">Business</li>
													<li class="cookies-table__col">Cookie name</li>
													<li class="cookies-table__col">Purpose</li>
												</ul>
											</div>
											<dl class="cookies-table__row">
												<div class="cookies-table__col">
													<dt>Cookie</dt>
													<dd>Drupal*</dd>
												</div>
												<div class="cookies-table__col">
													<dt>Business</dt>
													<dd>Content Management</dd>
												</div>
												<div class="cookies-table__col">
													<dt>Cookie name</dt>
													<dd>
														<ul>
															<li>cookie-agreed</li>
															<li>cookie-agreed-categories</li>
															<li>cookie_agreed_countries</li>
															<li>is_first_visit</li>
														</ul>
													</dd>
												</div>
												<div class="cookies-table__col">
													<dt>Purpose</dt>
													<dd>The purpose of the cookie is for the browser to remember that the user has accepted the website cookie policy.</dd>
												</div>
											</dl>
											<dl class="cookies-table__row">
												<div class="cookies-table__col">
													<dt>Cookie</dt>
													<dd>Ogilvy.com</dd>
												</div>
												<div class="cookies-table__col">
													<dt>Business</dt>
													<dd>Content Management Platform</dd>
												</div>
												<div class="cookies-table__col">
													<dt>Cookie name</dt>
													<dd>
														<ul>
															<li>SESS{ Ex:SESSbef46b564f3927931fbf68c1a81b27ed }</li>
														</ul>
													</dd>
												</div>
												<div class="cookies-table__col">
													<dt>Purpose</dt>
													<dd>The purpose of the cookie is to remember the user login session, which is a persistent cookie.</dd>
												</div>
											</dl>
										</div>
									</div>
								</div>
								<div class="cookies-block">
									<div class="tg-h4 cookies-block__title">Functional cookies</div>
									<div class="tg-regular cookies-block__body">
										<div class="cookies-table">
											<div class="cookies-table__header">
												<ul class=" cookies-table__row">
													<li class="cookies-table__col">Cookie</li>
													<li class="cookies-table__col">Business</li>
													<li class="cookies-table__col">Cookie name</li>
													<li class="cookies-table__col">Purpose</li>
												</ul>
											</div>
											<dl class="cookies-table__row">
												<div class="cookies-table__col">
													<dt>Cookie</dt>
													<dd>Drupal*</dd>
												</div>
												<div class="cookies-table__col">
													<dt>Business</dt>
													<dd>Content Management</dd>
												</div>
												<div class="cookies-table__col">
													<dt>Cookie name</dt>
													<dd>
														<ul>
															<li>is_form_submited</li>
														</ul>
													</dd>
												</div>
												<div class="cookies-table__col">
													<dt>Purpose</dt>
													<dd>Post the submission of the CRM Form, this cookie is set to allow the user to access gated content without submitting the form again for the subsequent visits.</dd>
												</div>
											</dl>
											<dl class="cookies-table__row">
												<div class="cookies-table__col">
													<dt>Cookie</dt>
													<dd>AddToAny</dd>
												</div>
												<div class="cookies-table__col">
													<dt>Business</dt>
													<dd>Publisher</dd>
												</div>
												<div class="cookies-table__col">
													<dt>Cookie name</dt>
													<dd>
														<ul>
															<li>_cfduid, uvc</li>
														</ul>
													</dd>
												</div>
												<div class="cookies-table__col">
													<dt>Purpose</dt>
													<dd>These cookies are set by AddToAny. The website uses these cookies for sharing content on social channels.</dd>
												</div>
											</dl>
										</div>
									</div>
								</div>
								<div class="cookies-block">
									<div class="tg-h4 cookies-block__title">Performance cookies</div>
									<div class="tg-regular cookies-block__body">
										<div class="cookies-table">
											<div class="cookies-table__header">
												<ul class=" cookies-table__row">
													<li class="cookies-table__col">Cookie</li>
													<li class="cookies-table__col">Business</li>
													<li class="cookies-table__col">Cookie name</li>
													<li class="cookies-table__col">Purpose</li>
												</ul>
											</div>
											<dl class="cookies-table__row">
												<div class="cookies-table__col">
													<dt>Cookie</dt>
													<dd>Google</dd>
												</div>
												<div class="cookies-table__col">
													<dt>Business</dt>
													<dd>Ad Network, Publisher</dd>
												</div>
												<div class="cookies-table__col">
													<dt>Cookie name</dt>
													<dd>
														<ul>
															<li>_ga, _gid</li>
														</ul>
													</dd>
												</div>
												<div class="cookies-table__col">
													<dt>Purpose</dt>
													<dd>These cookies allows to count page visits and traffic sources to facilitate measuring and improving the performance of our website. Google stores the information collected by the cookie on servers in the United States. Google may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Google's behalf. Google will not associate your IP address with any other data held by Google cookies.</dd>
												</div>
											</dl>
											<dl class="cookies-table__row">
												<div class="cookies-table__col">
													<dt>Cookie</dt>
													<dd>New Relic</dd>
												</div>
												<div class="cookies-table__col">
													<dt>Business</dt>
													<dd>Publisher</dd>
												</div>
												<div class="cookies-table__col">
													<dt>Cookie name</dt>
													<dd>
														<ul>
															<li>JSESSIONID</li>
														</ul>
													</dd>
												</div>
												<div class="cookies-table__col">
													<dt>Purpose</dt>
													<dd>These cookies are by New Relic to optimize performance of the website.</dd>
												</div>
											</dl>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="subscription">
					<div class="section-container section-container_decor subscription__container">
						<div class="subscription__separator"></div>
						<h2 class="tg-h1">Subscribe on our newsletter</h2>
						<button type="button" class="btn" data-drawer-open="sign-up">
							Subscribe
							<div class="ref-arrow-icon ref-arrow-icon_horizontal">
								<span class="icon-cubic-nav-arrow-right"></span>
								<span class="icon-cubic-nav-arrow-right"></span>
							</div>
						</button>
					</div>
				</section>
			</main>
		</div>
		<div class="drawers-group" data-drawers-group="system">
			{{> ../../shared/partials/sign-up-drawer}}
			{{> ../../shared/partials/common-drawers}}
		</div>
		{{> ../../shared/partials/common}}
		{{> ../../shared/partials/footer}}
	</body>
</html>