@import "../../../shared/styles/mixins.scss";
@import "../../../shared/styles/config.scss";
.hero__title {
	margin-bottom: 30px;
}
.hero__sub-title {
	text-align: center;
}
.about-us-card {
	--shadow-size: 100px;
	--shadow-v-shift: 4px;
	display: grid;
	width: 100%;
	max-width: 520px;
	background-color: var(--light-white);
	box-shadow: 0px var(--shadow-v-shift) var(--shadow-size) 0px var(--about-us-card-shadow-color);
	& > * {
		grid-row: 1/span 1;
		grid-column: 1/span 1;
	}
	&::before {
		content: "";
		grid-row: 1/span 1;
		grid-column: 1/span 1;
		width: 100%;
		//padding-top: 105.769230%;
	}
}

.about-us-card__container {
	display: flex;
	flex-direction: column;
	padding: 70px 50px;
	@media (max-width: $mbpM) {
		padding: 60px 40px;
	}
	@media (max-width: $mbpMM) {
		padding: 40px 30px;
	}
}
.about-us-card__inner {
	flex: 1 1 auto;
}
.about-us-card__title {
	font-weight: 500;
	line-height: 1.3;
	letter-spacing: -0.08em;
	@include aval(font-size, 24, 32, "both", 320, 1680);
}
.steps-animation {
	position: relative;
	left: 0;
	top: 0;
	&::before {
		content: "";
		display: inline-block;
		width: 100%;
		padding-top: 64%;
	}
}
.steps-animation__inner {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.falling-leaf-cards {
	@media (min-width: ($mbpT + 1px)) {
		height: 300vh;
	}
}
.falling-leaf-cards__sticky-wrap {
	display: flex;
	flex-wrap: wrap;
	position: sticky;
	top: 0;
	z-index: 0;
	& > * {
		flex: 1 1 auto;
	}
	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 200;
		background-color: var(--light-black);
		opacity: var(--overlay-opacity, 0);
	}
}
.falling-leaf-cards__container {
	position: static;
}
.falling-leaf-cards__bg {
	display: flex;
	align-items: flex-end;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	line-height: 0.75;
	font-weight: 500;
	letter-spacing: -0.08em;
	text-transform: uppercase;
	font-size: calc((100vh - var(--header-height, 92px)) / 2 * 1.35);
	overflow: hidden;
	//@include aval(font-size, 500, 600, "both", 320, 1680);
	padding-bottom: 1.2vh;
	html.is-mobile & {
		display: none;
	}
}
.falling-leaf-cards__inner {
	display: flex;
	align-items: center;
	justify-content: center;
	@media (max-width: $mbpT) {
		padding-top: 44px;
		padding-bottom: 44px;
	}
	@media (min-width: ($mbpT + 1px)) {
		height: 100vh;
	}
}
.falling-leaf-cards__cards {
	display: grid;
	grid-auto-rows: 1fr;
	@media (max-width: $mbpT) {
		gap: 24px;
	}
	@media (min-width: ($mbpT + 1px)) {
		& > * {
			grid-row: 1/span 1;
			grid-column: 1/span 1;
		}
	}
}

.about-us-card__body {
	position: relative;
	left: 0;
	top: 0;
	z-index: 0;
}

.about-us-card__star {
	--color: #0000FF;
	display: flex;
	width: 100%;
	height: 100%;
	z-index: -1;
	& > * {
		flex: 1 1 auto;
		width: 100%;
	}
}
.about-us-card_t3 .about-us-card__star {
	position: absolute;
	left: 0;
	top: 0;
	@media (max-width: $mbpMM) {
		width: calc(100% - 20px);
	}
}
.about-us-card__decor {
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: relative;
	left: 0;
	top: 0;
	width: 112px;
	@include aval(--height, 6, 10, "both", 320,  580);
	&::after, &::before {
		content: "";
		height: var(--height);
		background-color: var(--light-black);
	}
	&::after {
		margin-top: var(--height);
	}
}
:where(.about-us-card_t1, .about-us-card_t2) .about-us-card__inner {
	display: grid;
	align-content: space-between;
	gap: 20px;
}
.about-us-card_t1 :where(.star__shadow, .step__shadow, .card-animation-boxes) {
	opacity: 0;
}
.about-us-card_t3 .about-us-card__body {
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.about-us-card_t3 .about-us-card__container {
	@media (max-width: $mbpMM) {
		padding: 40px 10px 40px 30px;
	}
}

.about-us-card_t4 .about-us-card__container {
	padding-top: 100px;
}
.about-us-card_t4 .about-us-card__body {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.about-us-card_t4 .about-us-card__msg {
	margin-bottom: 62px;
}
.about-us-card_t4 .about-us-card__star {
	justify-content: center;
	height: 150px;
	width: 150px;
	margin-bottom: 24px;
}
.about-us-card_t4 {
	color: var(--light-white);
	background-color: var(--light-black);
}
.about-us-card_t4 .about-us-card__decor {
	&::after, &::before {
		background-color: var(--light-white);
	}
}
.agency-in-numbers__body {
	display: grid;
	grid-template-columns: 1fr 1fr;
	@include aval(padding-top, 88, 220, "both", 360,  1680);
	@include aval(padding-bottom, 100, 120, "both", 360,  1680);
	@media (max-width: $mbpM) {
		grid-template-columns: 1fr;
	}
}
.about-us-card_t4 {
	position: relative;
	z-index: 201;
	@media (max-width: $mbpT) {
		display: none;
	}
}
.agency-in-numbers__title {
	@include aval(margin-bottom, 24, 50, "both", 360,  768);
}
.our-awards {
	--award-card-bg-color: var(--about-us-avard-card-bg);
	--award-card-separator-color: var(--light-black);
}
.our-awards__header {
	@include aval(padding-bottom, 32, 70, "both", 360,  768);
}
.our-awards__div {
	border-bottom: 0.5px solid var(--light-container-border, rgba(11, 11, 11, 0.2));
}
.our-awards__body {
	// @include aval(padding-top, 32, 70, "both", 360,  768);
	@include aval(padding-bottom, 32, 70, "both", 360,  768);
}
.our-offer__inner {
	text-align: center;
	padding-bottom: 80px;
	@include aval(padding-top, 88, 180, "both", 360,  768);
	@media (max-width: $mbpM) {
		padding-bottom: 40px;
	}
	h2 {
		text-transform: uppercase;
		@include aval(margin-bottom, 44, 100, "both", 360, 768);
	}
}
.about-us-motto {
	color: var(--light-black);
	&__inner {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
	}
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__star-wrap {
		margin-bottom: 24px;
	}
	&__star {
		--stroke-color: #0000FF;
		--fill-color: #0000FF;
		height: 150px;
		width: 150px;
	}
	&__msg {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 62px;
	}
	&__decor {
		--save-space: 0px;
		--decor-color: var(--light-black);
		grid-template-columns: 1fr 1fr;
		width: 112px;
	}
}
.testimonials-btn {
	transition: transform 0.4s, opacity 0.4s;
	&__cap {
		font-size: 0;
	}
	&__logo {
		height: 100%;
		width: auto;
	}
	&:not(._active) {
		opacity: 0.3;
	}
	html[data-theme=dark] &:not(._active) {
		opacity: 0.3;
	}
	@media (any-hover: hover) {
		&:hover {
			transform: scale(1.1);
		}
		&:not(._active):hover {
			opacity: 0.65;
		}
		html[data-theme=dark] &:not(._active):hover {
			opacity: 0.7;
		}
	}
	html[data-theme=dark] &__logo {
		filter: invert(1);
	}
}
.testimonials {
	&__container {
		overflow: hidden;
	}
	&__wrap {
		position: relative;
		left: 0;
		top: 0;
		color: var(--light-white);
		background-color: var(--light-black);
	}
	&__inner {
		position: relative;
		left: 0;
		top: 0;
		padding: 40px;
	}
	&__decor {
		position: absolute;
		right: -0.15em;
		top: -0.18em;
		font-size: 700px;
		color: var(--light-white);
		pointer-events: none;
		opacity: 0.3;
		html[data-theme=dark] {
			opacity: 0.44;
		}
		@media (max-width: $mbpPC) {
			font-size: 500px;
		}
		@media (max-width: $mbpT) {
			display: none;
		}
	}
	&__header {
		display: flex;
		margin-top: -10px;
		margin-bottom: 150px;
		margin-right: 200px;
		padding: 10px 0;
		overflow: hidden;
		@media (max-width: $mbpPC) {
			margin-right: 150px;
			margin-bottom: 30px;
		}
		@media (max-width: $mbpT) {
			margin-right: 0;
			margin-bottom: 30px;
			overflow: visible;
		}
		// @media (max-width: $mbpM) {
		// 	margin-right: 0;
		// 	margin-bottom: 90px;
		// 	overflow: visible;
		// }
	}
	&__client {
		height: 44px;
		width: auto;
		@media (max-width: $mbpPC) {
			height: 40px;
		}
		@media (max-width: $mbpT) {
			height: 30px;
		}
		@media (max-width: $mbpM) {
			height: 45px;
		}
	}
	&__body {
		display: grid;
		& > * {
			grid-column: 1/span 1;
			grid-row: 1/span 1;
		}
	}
	&__header .keen-slider__slide {
		@media (max-width: $mbpM) {
			flex: 1 0 100%;
		}
	}
	&__pagination {
		position: absolute;
		left: 50%;
		top: calc(100% + 7px);
		transform: translate3d(-50%, 0, 0);
		@media (min-width: ($mbpM + 1px)) {
			display: none;
		}
	}
}
.testimonials-pagination {
	display: grid;
	grid-auto-flow: column;
	gap: 10px;
}
.testimonials-pagination-bullet {
	width: 5px;
	height: 5px;
	background-color: var(--light-black);
	transition: background-color 0.4s;
	&._active {
		background-color: var(--light-grey);
	}
}
.testimonials-card {
	--save-space: 0.1em;
	display: flex;
	flex-direction: column;
	@media (max-width: $mbpPC) {
		justify-content: center;
		padding: 60px 0 20px;
	}
	@media (max-width: $mbpT) {
		justify-content: unset;
		padding: 0;
	}
	&__inner {
		display: grid;
		grid-template-columns: 3.3fr 9.5fr;
		gap: 0px 30px;
		@media (max-width: $mbpT) {
			flex: 1 0 auto;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr auto;
			align-items: center;
		}
	}
	&__info {
		@media (max-width: $mbpT) {
			grid-row: 2/span 1;
		}
	}
	&__name {
		margin-bottom: 18px;
	}
	&__title {
		color: var(--light-white);
		opacity: 0.3;
		html[data-theme=dark] {
			opacity: 0.65;
		}
	}
	&__quote {
		position: relative;
		left: 0;
		top: -0.5em;
		max-width: 840px;
		margin-bottom: 80px;
		@media (max-width: $mbpPC) {
			margin-bottom: 0;
		}
		@media (max-width: $mbpT) {
			padding: 50px 0 30px;
		}
	}
}
.testimonials-quote {
	display: inline-block;
	position: relative;
}
.testimonials-quote-sign {
	display: inline-block;
	letter-spacing: -0.08em;
	line-height: 1.3;
	font-weight: 500;
	font-size: 64px;
	color: var(--light-white);
	opacity: 0.3;
	html[data-theme=dark] {
		opacity: 0.44;
	}
	&_open {
		position: absolute;
		left: -0.15em;
		bottom: calc(100% + 24px);
		& .reveal-wrap__item {
			height: 0.5em;
		}
	}
	&_close {
		display: inline-block;
		position: relative;
		top: 0.76em;
		margin: -1em auto 0 20px;
	}
}
.about-us {
	&__testimonials .testimonials__container {
		padding-bottom: 80px;
	}
}