<!DOCTYPE html>
<html lang="en">
	{{> ../../shared/partials/head
		title='Brand archetypes'
	}}
	<body class="archetypes">
		{{> ../../shared/partials/header}}
		<div>
			<main>
				<section class="hero">
				</section>
			</main>
		</div>
		<div class="drawers-group" data-drawers-group="system">
			{{> ../../shared/partials/common-drawers}}
		</div>
		{{> ../../shared/partials/common}}
		{{> ../../shared/partials/footer}}
	</body>
</html>