@use 'sass:math';
@import "../../../shared/styles/mixins.scss";
@import "../../../shared/styles/config.scss";

.cs-mob-tg-h1 {
	font-weight: 500;
	line-height: 1;
	letter-spacing: -0.08em;
	@include aval(font-size, 34, 100, "both", 320, 1680);
}
.cs-mob-tg-h2 {
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: -0.06em;
	@include aval(font-size, 32, 64, "both", 320, 1680);
}
.cs-mob-msg-01 {
	display: flex;
}
.cs-mob-animation {
	overflow: hidden;
}
.cs-mob-animation__padding-top {
	padding-top: 20vh;
}
.cs-mob-animation__inner {
	padding: 25vh 0;
	max-width: 1400px;
	width: 100%;
	margin: auto;
}
.cs-mob-animation__msg-01,
.cs-mob-animation__msg-02,
.cs-mob-animation__msg-03,
.cs-mob-animation__msg-04,
.cs-mob-animation__msg-05,
.cs-mob-animation__msg-06,
.cs-mob-animation__msg-07 {
	@include aval(padding-bottom, 60, 120, "both", 360, 768);
}
.cs-mob-animation__msg-08 {
	color: var(--light-white);
	@include aval(padding-top, 42, 60, "both", 360, 768);
	@include aval(padding-bottom, 42, 60, "both", 360, 768);
}
.cs-mob-animation__diagram {
	width: 100%;
	max-width: 480px;
	padding-bottom: 90px;
	margin: auto;
}

.cs-mob-animation__diagram .pie-diagram {
	&__label {
		&_a {
			@include aval(font-size, 110, 180, "both", 320, 768);
		}
		&_b {
			position: relative;
			left: 10%;
			top: 5%;
			@include aval(font-size, 50, 80, "both", 320, 768);
		}
	}
	&__name {
		@include aval(font-size, 20, 32, "both", 320, 768);
		html[data-theme=light] & {
			font-weight: 400;
		}
	}
	&__label_a .pie-diagram__name {
		position: relative;
		left: 1.4%;
		align-self: center;
	}
	&__label_b .pie-diagram_name {
		font-size: 0.8em;
	}
	@media (max-width: $mbpM) {
		&__label_a &__name {
			left: 0.8%;
		}
	}
}
.cs-mob-closing {
  margin-bottom: -100px;
  padding-bottom: 100px;
}