<section class="drawer drawer_right archetype-drawer" data-drawer="archetype-innocent">
	<div data-lenis-prevent class="drawer__panel archetype-drawer__panel archetype-drawer_blue" data-elem="drawer.panel" data-scrollable>
		<div class="section-container section-container_decor drawer__body">
			<div class="archetype-drawer__inner">
				<div class="archetype-drawer__header">
					<button class="drawer-close-btn archetype-drawer__close-btn" data-drawer-close="brand-archetypes"><div class="drawer-close-btn__inner">Close panel<span class="icon-cubic-plus"></span></div></button>
					<div class="archetype-drawer__title tg-h2"><b>Innocent</b></div>
					<div class="double-cubic-decor archetype-drawer__decor"></div>
					<div class="archetype-drawer__sub-title tg-h2"><b>Purity</b></div>
				</div>
				<div class="archetype-drawer__body la-article la-article_bottom-space">
					<div class="la-article__section la-article__section_double">
						<div class="la-article__block">
							<div class="img-wrap la-article-img la-article-img_book">
								<div class="img-wrap__inner">
									<img src="@img/brand-archetypes/book.jpg" alt="The Hero and the Outlaw Book">
								</div>
							</div>
						</div>
						<div class="la-article__block la-article__block_even">
							<h3 class="tg-h2 la-article__osh">Innocent</h3>
							<p>The Innocent archetype, above all else, wishes to avoid responsibility. They are more inclined to delay making decisions until the last moment, hoping that things will somehow work out on their own. The Innocent aspires to have the perfect job, the perfect spouse, the perfect home, perfect children, and a perfect life. The main promise of the Innocent is that life can be a Paradise.</p>
							<p><b>This archetype is suitable for your product if it:</b></p>
							<ul class="la-article-ul">
								<li>Offer a simple solution for an existing problem</li>
								<li>Associated with goodness, morality, nostalgia, childhood</li>
								<li>Low average price</li>
								<li>Aim to differentiate from brands with a bad reputation</li>
							</ul>
							<h4>Strengths</h4>
							<p>Trust and optimism, which endear them to others, thereby gaining assistance and support. Ability to maintain significant independence from the dominant society.</p>
							<h4>Challenges</h4>
							<p>They are afraid of being punished for something they did badly or wrongly. Boring due to naive innocence.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>