<section class="cookies-panel" data-drawer="cookies-agreement">
	<div class="cookies-panel__container" data-elem="drawer.panel" data-scrollable>
		<form id="cookies-approval" class="cookies-panel__form">
			<h2 class="tg-regular">This websites uses <a href="cookies.html" class="simple-text-link">cookies</a></h2>
			<div class="cookies-panel__group">
				<div class="cookies-panel__options">
					<label class="cookies-option">
						<span class="tg-service cookies-option__label">Strictly necessary</span>
						<span class="switch">
							<input type="checkbox" name="necessary" checked>
							<div class="switch__thumb"></div>
						</span>
					</label>
					<label class="cookies-option">
						<span class="tg-service cookies-option__label">Funcitionality</span>
						<span class="switch">
							<input type="checkbox" name="functionality" checked>
							<div class="switch__thumb"></div>
						</span>
					</label>
					<label class="cookies-option">
						<span class="tg-service cookies-option__label">Analytics</span>
						<span class="switch">
							<input type="checkbox" name="analytics" checked>
							<div class="switch__thumb"></div>
						</span>
					</label>
				</div>
				<div class="cookies-panel__actions">
					<button type="button" class="btn cookies-panel__accept-btn" data-drawer-close="cookies-agreement">Accept</button>
				</div>
			</div>
		</form>
	</div>
</section>