<section>
	<div class="section-container section-container_decor">
		<div class="section-container__inner share-it">
			<div class="share-it__inner">
				<h2>Like idea? Share&nbsp;it</h2>
				<div class="share-it__links">
					<a href="Facebook">Facebook</a>
					<a href="Twitter">Twitter</a>
					<a href="Linkedin">Linkedin</a>
					<a href="Link">Link</a>
				</div>
			</div>
		</div>
	</div>
</section>