@import "../../../shared/styles/mixins.scss";
@import "../../../shared/styles/config.scss";

.archetypes {
	position: relative;
	left: 0;
	top: 0;
	// &__cta-widget {
	// 	position: absolute;
	// 	right: 30px;
	// 	top: 840px;
	// 	@media (max-width: $mbpM) {
	// 		right: 10px;
	// 		top: 580px;
	// 	}
	// }
}
.hero {
	& h1 {
		font-size: 160px;
		font-weight: 500;
		line-height: 90%;
		letter-spacing: -0.06em;
		text-align: center;
		text-transform: uppercase;
		@include aval(font-size, 46, 160, "both", 360, 1680);
	}
}
.archetype-card {
	display: flex;
	flex-direction: column;
	position: relative;
	left: 0;
	top: 0;
	width: 300px!important;
	height: 370px;
	color: var(--light-black, #0B0B0B);
	font-size: 25px;
	font-weight: 500;
	line-height: 130%; /* 32.5px */
	background: var(--light-white, #FFF);
	padding: 20px;
	transition: color 0.4s, background-color 0.4s;
	user-select: none;
	&_structure {
		box-shadow: -2px 2px 0px 0px #0000FF;
	}
	&_paradise {
		box-shadow: -2px 2px 0px 0px #FFE071;
	}
	&_mark {
		box-shadow: -2px 2px 0px 0px #36D536;
	}
	&_connection {
		box-shadow: -2px 2px 0px 0px #FF0000;
	}
	&__name {
		display: flex;
		align-items: center;
		letter-spacing: -0.02em;
		&::after {
			content: "";
			flex: 1 1 auto;
			display: inline-block;
			position: relative;
			left: 0;
			top: -0.1em;
			height: 4px;
			margin-left: 3px;
			background-color: var(--light-black, #0B0B0B);
			transition: background-color 0.4s;
		}
	}
	&__main-quality {
		text-align: right;
		letter-spacing: -0.02em;
	}
	&__img {
		align-self: center;
		&_wisdom {
			position: relative;
			left: 0px;
			top: 20px;
			--height-ratio: 107.37%;
			width: 122px;
			margin-top: -9px;
		}
		&_freedom {
			position: relative;
			left: -34px;
			top: -15px;
			--height-ratio: 188%;
			width: 100px;
		}
		&_purity {
			position: relative;
			left: -5px;
			top: -25px;
			--height-ratio: 180.9%;
			width: 107px;
		}
		&_risk {
			position: relative;
			left: 0px;
			top: -15px;
			--height-ratio: 168.72%;
			width: 113.43px;
		}
		&_mysticism {
			position: relative;
			left: -24px;
			top: 0px;
			--height-ratio: 168.61%;
			width: 142px;
			margin: -21px 0 -42px;
		}
		&_leadership {
			position: relative;
			left: -24px;
			top: 0px;
			--height-ratio: 173.96%;
			width: 134px;
			margin: -45px 0 -14px;
		}
		&_romance {
			position: relative;
			left: 0px;
			top: 0px;
			--height-ratio: 65.38%;
			width: 208px;
			margin: 20px 0 0px;
		}
		&_humor {
			position: relative;
			left: 0px;
			top: 0px;
			--height-ratio: 130.50%;
			width: 118px;
			margin: 20px 0 0px;
		}
		&_belonging {
			position: relative;
			left: 0px;
			top: 0px;
			--height-ratio: 60%;
			width: 224.45px;
			margin: 30px 0 -20px;
		}
		&_compassion {
			position: relative;
			left: -5px;
			top: -5px;
			--height-ratio: 179.84%;
			width: 105.62px;
		}
		&_authority {
			position: relative;
			left: -5px;
			top: -5px;
			--height-ratio: 132.07%;
			width: 143.24px;
		}
		&_creativity {
			position: relative;
			left: 0px;
			top: 10px;
			--height-ratio: 143%;
			width: 122px;

		}
		html[data-theme=light] & {
			mix-blend-mode: multiply;
		}
		html[data-theme=dark] & {
			mix-blend-mode: difference;
			filter: invert(100%);
		}
	}
	&__separator {
		flex: 1 1 auto;
		display: flex;
		align-items: flex-end;
		margin-bottom: 20px;
		&::before, &::after {
			content: "";
			display: inline-block;
			flex: 1 1 50%;
			height: 2px;
			width: 50%;
			background-color: var(--light-black, #0B0B0B);
			transition: background-color 0.4s;
		}
		&::before {
			margin-bottom: 2px;
		}
	}
	&__qualities {
		display: flex;
		flex-wrap: wrap;
		font-size: 15px;
		font-weight: 400;
		line-height: 160%;
		& > *:not(:last-child)::after {
			content: "*";
			display: inline-block;
			margin: 0 0.54em;
		}
	}
	&__corner-icon {
		position: absolute;
		bottom: 5px;
		right: 5px;
		font-size: 24px;
		letter-spacing: 0;
	}
}
.archetypes-index {
	&__container {
		padding-bottom: 160px;
		// @media (min-width: ($mbpSM + 1px)) and (max-width: $mbpM) {
		// 	padding-bottom: 160px;
		// }
		@media (max-width: $mbpM) {
			padding-bottom: 62px;
		}
	}
	h2 {
		color: var(--light-black, #0B0B0B);
		font-size: 60px;
		text-align: center;
		font-weight: 500;
		line-height: 120%;
		letter-spacing: -0.048em;
		margin-bottom: 50px;
		@include aval(font-size, 32, 60, "both", 360, 768);
		@include aval(margin-bottom, 24, 50, "both", 360, 768);
	}
	&__categories {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 100px;
		margin-left: -50px;
		margin-top: -50px;
		& > * {
			margin-left: 50px;
			margin-top: 50px;
		}
		@media (max-width: $mbpM) {
			margin-bottom: 80px;
			margin-left: -24px;
			margin-top: -24px;
			& > * {
				margin-left: 24px;
				margin-top: 24px;
			}
		}
		@media (max-width: $mbpSM) {
			margin-bottom: 64px;
		}
	}
	&__slider {
		width: 100vw;
		margin-left: calc((100vw - 100%) / -2);
		overflow: hidden;
	}
}
.archetype-category-ref {
	display: grid;
	grid-auto-flow: column;
	font-size: 24px;
	font-weight: 500;
	line-height: 110%;
	letter-spacing: -0.055em;
	text-transform: uppercase;
	@include aval(font-size, 16, 24, "both", 360, 768);
	&_structure {
		color: #0000FF;
	}
	&_paradise {
		color: #FFE071;
	}
	&_mark {
		color: #36D536;
	}
	&_connection {
		color: #FF0000;
	}
	& > span {
		display: inline-block;
		font-size: 31px;
		margin-right: 0.25em;
		@include aval(font-size, 24, 31, "both", 360, 768);
	}
}
.archetypes-slider {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__inner {
		position: relative;
		left: 0;
		top: 0;
		margin-bottom: 73px;
		@media (max-width: $mbpSM) {
			margin-bottom: 64px;
		}
	}
	&__slide {
		will-change: transform;
		cursor: grab;
		&:not(:first-child) {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	&__controls {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__prev-btn {
		margin-right: 100%;
	}
	&__next-btn {
		margin-left: 100%;
	}
}
.archetypes-slider-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	width: 48px;
	height: 48px;
	border: 2px solid var(--light-black, #0B0B0B);
	transition: border-color 0.4s, color 0.4s, background-color 0.4s;
	@media (any-hover: hover) {
		&:hover {
			background-color: var(--light-black);
			color: var(--light-white);
		}
	}
}

.culture-lvls {
	&__layout {
		display: grid;
		grid-template-columns: 1fr 1fr;
		@media (max-width: $mbpM) {
			grid-template-columns: 1fr;
		}
	}
	&__fig {
		grid-row: 1/span 1;
		grid-column: 1/span 2;
		@media (max-width: 960px) {
			grid-row: 4/span 1;
			grid-column: 1/span 2;
		}
	}
	&__info {
		grid-row: 1/span 1;
		grid-column: 2/span 1;
		@media (max-width: 960px) {
			grid-column: 1/span 2;
		}
		@media (max-width: $mbpM) {
			grid-column: 1/span 1;
		}
	}
	&__fig-title {
		grid-row: auto;
		grid-column: 1/span 2;
		text-align: center;
		padding: 80px 0;
		@media (max-width: $mbpT) {
			padding: 60px 0;
		}
		@media (max-width: 960px) {
			grid-row: 2/span 1;
		}
		@media (max-width: $mbpM) {
			grid-column: 1/span 1;
			padding: 40px 0;
		}
	}
	&__text {
		grid-row: auto;
		grid-column: 2/span 1;
		@media (max-width: 960px) {
			grid-column: 1/span 2;
		}
	}
	&__text_prim {
		grid-row: auto;
		grid-column: 1/span 1;
		padding-right: 40px;
		@media (max-width: $mbpT) {
			grid-column: 1/span 2;
		}
		@media (max-width: 960px) {
			grid-row: 3/span 1;
		}
	}
	&__text-inner {
		display: grid;
		gap: 40px;
		max-width: 520px;
		@media (max-width: $mbpT) {
			max-width: unset;
		}
	}
	&__text_prim &__text-inner {
		@media (max-width: $mbpT) {
			padding-bottom: 40px;
		}
	}
}
.culture-lvls-info {
	&__inner {
		display: grid;
		gap: 35px;
		align-content: start;
		max-width: 520px;
		@media (max-width: 960px) {
			gap: 25px;
			max-width: unset;
		}
		@media (max-width: $mbpM) {
			gap: 15px;
		}
	}
	&__block {
		color: var(--light-white);
		text-align: center;
		background-color: var(--light-black);
		padding: 30px 20px;
		h3 {
			margin-bottom: 10px;
		}
	}
	&__arrows {
		display: grid;
		justify-content: center;
		grid-auto-flow: column;
		gap: 50px;
		font-size: 32px;
	}
}
.culture-lvls-fig {
	&__inner {
		display: flex;
		justify-content: center;
		@media (max-width: 960px) {
			padding-bottom: 40px;
		}
	}
	&__iceberg {
		max-width: 900px;
	}
}
.culture-lvls-fig-arrow {
	&_up {
		transform: rotateZ(-90deg) scale(1, -1);
	}
	&_down {
		transform: rotateZ(90deg) scale(1, -1);
	}
}

.la-archetypes-ideas {
	position: relative;
	left: 0;
	top: 0;
	height: 250vh;
	&__body {
		display: flex;
		width: 100%;
		@media (orientation: portrait) {
			margin-bottom: 120px;
		}
		@media (orientation: portrait) and (max-width: $mbpT) {
			margin-bottom: 60px;
		}
		@media (orientation: portrait) and (max-width: $mbpM) {
			margin-bottom: 30px;
		}
		@media (orientation: landscape) {
			margin-bottom: 8vh;
		}
	}
	&__slider	{
		display: grid;
		grid-auto-flow: column;
		gap: 15vw;
	}
	&__progress-bar {
	}
	&__slide {
		flex: 1 0 100%;
	}
	&__inner {
		@media (orientation: portrait) and (max-height: 800px) {
			margin: 30px auto auto;
		}
	}
	&__container {
		display: flex;
		align-items: start;
		position: sticky;
		left: 0;
		top: 0;
		min-height: 100vh;
		overflow: hidden;
	}
	&__decor {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
	}
}
.la-idea-frame {
	display: grid;
	grid-template-columns: 1fr 1fr;
	@media (max-width: $mbpM) {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
	}
	&__fig {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		@media (max-width: $mbpM) {
			justify-content: center;
		}
		& > * {
			flex: 0 0 90%;
		}
	}
	&:first-child &__fig > .la-animation {
		flex: 0 0 80%;
		@media (max-width: $mbpM) {
			flex-basis: 57.2%;
		}
	}
	&__text {
		h2 {
			@media (orientation: portrait) {
				margin-bottom: 70px;
			}
			@media (orientation: portrait) and (max-width: $mbpT) {
				margin-bottom: 60px;
			}
			@media (orientation: portrait) and (max-width: $mbpM) {
				margin-bottom: 30px;
			}
			@media (orientation: landscape) {
				margin-bottom: 6vh;
			}
		}
		p {
			max-width: 520px;
		}
		p:not(:last-child) {
			margin-bottom: 50px;
			@media (max-width: $mbpT) {
				margin-bottom: 40px;
			}
			@media (max-width: $mbpM) {
				margin-bottom: 20px;
			}
		}
	}
}
.slider-progress-bar {
	display: flex;
	--decor-height: 4px;
	&__thumb {
		flex: 0 0 max(100px, calc(100% / var(--slides-number, 3)));
		margin-left: var(--thumb-shift);
		transition: margin-left ease-in-out .3s;
	}
}
.la-dialog-case {
	color: var(--light-white);
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 100px;
		@media (max-width: $mbpM) {
			padding-top: 40px;
		}
	}
	&__decor {
		align-self: flex-start;
		--decor-color: var(--light-white);
		width: 375px;
		margin-bottom: 100px;	
		@media (max-width: $mbpM) {
			width: 157px;
		}
		@media (max-width: $mbpM) {
			margin-bottom: 40px;
		}
	}
	&__primary {
		margin-bottom: 100px;
	}
	&__secondary {
		max-width: 520px;
	}
}
.la-chat-reproduction {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 250vh;
	
	&__container {
		position: sticky;
		bottom: 0;
		overflow: hidden;
	}
	&__inner {
		display: grid;
	}
	&__body {
		justify-self: center;
		position: relative;
		left: 0;
		top: 0;
		width: 790px;
		max-width: 100%;
		@media (max-width: $mbpT) {
			width: 680px;
		}
		@media (max-width: $mbpM) {
			width: 600px;
		}
	}
	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top center;
		@media (max-width: $mbpM) {
			display: none;
		}
	}
	&__body-inner {
		display: grid;
		padding: 18% 10% 6%;
		@media (max-width: $mbpT) {
			padding: 18% 8% 8%;
		}
		@media (max-width: $mbpM) {
			padding: 0 0 8%;
		}
	}
}
.la-chat-reproduction-msg {
	visibility: hidden;
	opacity: 0;
	transform: translateY(40px);
	transition: visibility 0.4s, opacity 0.2s, transform 0.4s;
	&:not(:last-child) {
		margin-bottom: 35px;
		@media (max-width: $mbpT) {
			margin-bottom: 24px;
		}
		@media (max-width: $mbpM) {
			margin-bottom: 14px;
		}
	}
	&__set {
		
	}
	&.open {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}
	&__container {
		display: grid;
	}
	&__inner {
		display: grid;
		grid-template-columns: auto auto;
		align-items: start;
		gap: 18px;
		color: var(--deep-black);
		max-width: 80%;
		@media (max-width: $mbpM) {
			max-width: 100%;
		}
	}
	&_user {
	}
	&_contact &__inner {
		justify-self: end;
	}
	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: var(--light-white);
		margin-bottom: -100%;
		width: 85px;
		transition: transform 0.2s ease-out 0.2s;
		@media (max-width: $mbpM) {
			margin-bottom: 0;
		}
	}
	&.open &__info {
		transform: translateY(-30px);
		@media (max-width: $mbpM) {
			transform: translateY(0px);
		}
	}
	&__avatar {
		width: 80px;
		height: 80px;
		object-fit: contain;
		object-position: center;
		margin-bottom: 10px;
		@media (max-width: $mbpT) {
			width: 65px;
			height: 65px;
		}
	}
	&__name {
		position: relative;
		top: 0;
		left: 0.1em;
		text-align: center;
		word-break: break-all;
	}
	&__body {
		padding: 10px;
	}
	&__add-spacer {
		padding-top: 15px;
	}
	&_user &__body {
		background-color: var(--chat-reproduction-user-msg-bg);
		border-radius: 0px 12px 12px;
	}
	&_contact &__body {
		background-color: var(--chat-reproduction-contact-msg-bg);
		border-radius: 12px 0 12px 12px;
	}
}

.la-article-interactive {
	background-color: var(--light-black);
	padding: 50px 70px;
	@media (max-width: $mbpT) {
		padding: 30px 60px;
	}
	@media (max-width: $mbpM) {
		padding: 20px 20px;
	}
	&__prompt {
		color: var(--light-white);
		margin-bottom: 30px;
	}
	&__answers {
		display: grid;
		gap: 10px;
		margin-bottom: 30px;
		@media (max-width: $mbpM) {
			gap: 5px;
		}
	}
	&__btn {
		background: transparent;
		border: 1px solid var(--light-white);
	}
}
.la-article-interactive-answer {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 0 20px;
	position: relative;
	left: 0;
	top: 0;
	background-color: var(--article-interactive-answer-bg);
	padding: 20px 30px;
	@media (max-width: $mbpM) {
		padding: 20px;
	}
	&__radio {
		display: none;
	}
	&::before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 10px;
		transition: background-color 0.4s;
	}
	.la-article-interactive_checked &_selected#{&}_correct::before {
		background-color: #36D536;
	}
	.la-article-interactive_checked &_selected:not(&_correct)::before {
		background-color: #FF0000;
	}
	&__spacer {
		padding-top: 20px;
		@media (max-width: $mbpM) {
			padding-top: 10px;
		}
	}
	&__text {
		grid-column: 1/span 1;
	}
	&__description {
		grid-column: 1/span 1;
	}
	&__arrow {
		align-self: center;
		grid-column: 2/span 1;
		grid-row: 1/span 1;
		transition: color 0.4s;
		color: transparent;
	}
	.la-article-interactive:not(.la-article-interactive_checked) &_selected &__arrow {
		color: var(--deep-black);
	}
	.la-article-interactive_checked :not(&_correct):not(&_selected) &__arrow {
		color: transparent;
	}
	.la-article-interactive_checked &_correct:not(&_selected) &__arrow {
		color: #36D536;
	}
}
.la-iceberg {
	&__wave {
		mix-blend-mode: difference;
	}
}
.la-article-task {
	&__header	{
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: end;
		gap: 40px;
		margin-bottom: 50px;
		@media (max-width: $mbpM) {
			grid-template-columns: 1fr;
			gap: 16px;
			margin-bottom: 40px;
		}
	}
	&__tip {
		color: var(--light-white);
		margin-top: 50px;
		padding: 30px 45px;
		background-color: var(--light-black);
		@media (max-width: $mbpT) {
			margin-top: 40px;
			padding: 25px 35px;
		}
		@media (max-width: $mbpM) {
			margin-top: 20px;
			padding: 18px 20px;
		}
	}
}
.la-article-summary {
	p:not(:last-of-type) {
		margin-bottom: 40px;
	}
	&__section {
		&_bottom-space {
			padding-bottom: 100px;
			@media (max-width: $mbpT) {
				padding-bottom: 80px;
			}
			@media (max-width: $mbpM) {
				padding-bottom: 60px;
			}
		}
	}
}
.archetypes-list-drawer {
	z-index: 2000;
	&__panel {
	}
	&__body {
		min-height: 100%;
		padding-bottom: 60px;
	}
	&__header {
		display: grid;
		grid-template-columns: 1fr auto;
		position: relative;
		left: 0;
		top: 0;
		padding: 60px 0;
		@media (max-width: 1160px) {
			grid-template-columns: 1fr;
			padding: 40px 0;
		}
	}
	&__close-btn {
		position: absolute;
		right: 0;
		top: 40px;
		--color: var(--light-black);
	}
	&__snowflake {
		grid-column: 1/span 1;
		font-size: 44px;
		margin-bottom: 20px;
	}
	&__title {
		grid-column: 1/span 1;
		margin-bottom: 14px;
	}
	&__sub-title {
		grid-column: 1/span 1;
		@media (max-width: 1160px) {
			margin-bottom: 40px;
			max-width: 520px;
		}
	}
	&__download-btn {
		@media (max-width: 1160px) {
			justify-self: end;
		}
	}
	&__list {
		
	}
}
.archetypes-list {
	padding: 40px 50px;
	background-color: var(--table-set-bg-color);
	@media (max-width: $mbpPC) {
		padding: 20px;
	}
	@media (max-width: $mbpM) {
		padding: 8px;
	}
	@media (max-width: $mbpMM) {
		padding: 0;
	}
}
.archetypes-table {
	display: grid;
	grid-template-columns: 200px 1fr 24px 200px 1fr;
	grid-template-rows: repeat(8, auto);
	grid-auto-flow: row;
	gap: 5px 10px;
	@media (max-width: $mbpPC) {
		grid-template-columns: 200px 1fr 5px 200px 1fr;
	}
	@media (max-width: 1200px) {
		grid-template-columns: auto 1fr;
	}
	@media (max-width: $mbpM) {
		gap: 4.2px;
	}
	&::after {
		content: "";
		grid-column: 3/span 1;
		grid-row: 1/span 8;
		@media (max-width: 1200px) {
			display: none;
		}
	}
	&__th {
		background-color: var(--table-header-bg-color);
		padding: 34px 22px;
		&_second {
			@media (max-width: 1200px) {
				display: none;
			}
		}
	}
	&__td {
		display: flex;
		align-items: center;
		background-color: var(--light-white);
	}
	&__th, &__td {
		text-align: center;
		padding: 34px 22px;
		@media (max-width: $mbpM) {
			padding: 24px 10px;
		}
	}
	&__td:nth-child(2n + 1) {
		justify-content: center;
	}
	&__td:nth-child(2n + 2) {
		text-align: left;
	}
}
.archetype-drawer {
	z-index: 22222;
	&__close-btn {
		position: absolute;
		right: 0;
		top: 40px;
		--color: var(--light-black);
	}
	&__inner {
		padding: 60px 0;
	}
	&__header {
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
		gap: 0 10px;
	}
	&__decor {
		--decor-height: 4px;
	}
	&_blue &__decor {
		--decor-color: #0000FF;
	}
	&_yellow &__decor {
		--decor-color: #FFE071;
	}
	&_green &__decor {
		--decor-color: #36D536;
	}
	&_red &__decor {
		--decor-color: #FF0000;
	}
	&__sub-title {
		grid-column: 2/span 1;
		justify-self: end;
	}
}