@import "../../../shared/styles/mixins.scss";
@import "../../../shared/styles/config.scss";

.archetypes {
	position: relative;
	left: 0;
	top: 0;
	// &__cta-widget {
	// 	position: absolute;
	// 	right: 30px;
	// 	top: 840px;
	// 	@media (max-width: $mbpM) {
	// 		right: 10px;
	// 		top: 580px;
	// 	}
	// }
}
.hero {
	& h1 {
		font-size: 160px;
		font-weight: 500;
		line-height: 90%;
		letter-spacing: -0.06em;
		text-align: center;
		text-transform: uppercase;
		@include aval(font-size, 46, 160, "both", 360, 1680);
	}
}
.archetype-card {
	display: flex;
	flex-direction: column;
	position: relative;
	left: 0;
	top: 0;
	width: 300px!important;
	height: 370px;
	color: var(--light-black, #0B0B0B);
	font-size: 25px;
	font-weight: 500;
	line-height: 130%; /* 32.5px */
	background: var(--light-white, #FFF);
	padding: 20px;
	transition: color 0.4s, background-color 0.4s;
	&_structure {
		box-shadow: -2px 0px 0px 0px #BA0000;
	}
	&_paradise {
		box-shadow: -2px 0px 0px 0px #008000;
	}
	&_mark {
		box-shadow: -2px 0px 0px 0px #00F;
	}
	&_connection {
		box-shadow: -2px 0px 0px 0px #EA33F7;
	}
	&__name {
		display: flex;
		align-items: center;
		letter-spacing: -0.02em;
		&::after {
			content: "";
			flex: 1 1 auto;
			display: inline-block;
			position: relative;
			left: 0;
			top: -0.1em;
			height: 4px;
			margin-left: 3px;
			background-color: var(--light-black, #0B0B0B);
			transition: background-color 0.4s;
		}
	}
	&__main-quality {
		text-align: right;
		letter-spacing: -0.02em;
	}
	& img {
		align-self: center;
		width: 133px;
		height: 159px;
		
		margin-top: -9px;
		html[data-theme=light] & {
			mix-blend-mode: multiply;
		}
		html[data-theme=dark] & {
			mix-blend-mode: difference;
			filter: invert(100%);
		}
	}
	&__separator {
		flex: 1 1 auto;
		display: flex;
		align-items: flex-end;
		margin-bottom: 20px;
		&::before, &::after {
			content: "";
			display: inline-block;
			flex: 1 1 50%;
			height: 2px;
			width: 50%;
			background-color: var(--light-black, #0B0B0B);
			transition: background-color 0.4s;
		}
		&::before {
			margin-bottom: 2px;
		}
	}
	&__qualities {
		display: flex;
		flex-wrap: wrap;
		font-size: 15px;
		font-weight: 400;
		line-height: 160%;
		& > *:not(:last-child)::after {
			content: "*";
			display: inline-block;
			margin: 0 0.54em;
		}
	}
	&__corner-icon {
		position: absolute;
		bottom: 5px;
		right: 5px;
		font-size: 24px;
		letter-spacing: 0;
	}
}
.archetypes-index {
	&__container {
		padding-bottom: 160px;
		// @media (min-width: ($mbpSM + 1px)) and (max-width: $mbpM) {
		// 	padding-bottom: 160px;
		// }
		@media (max-width: $mbpM) {
			padding-bottom: 62px;
		}
	}
	h2 {
		color: var(--light-black, #0B0B0B);
		font-size: 60px;
		text-align: center;
		font-weight: 500;
		line-height: 120%;
		letter-spacing: -0.048em;
		margin-bottom: 50px;
		@include aval(font-size, 32, 60, "both", 360, 768);
		@include aval(margin-bottom, 24, 50, "both", 360, 768);
	}
	&__categories {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 100px;
		margin-left: -50px;
		margin-top: -50px;
		& > * {
			margin-left: 50px;
			margin-top: 50px;
		}
		@media (max-width: $mbpM) {
			margin-bottom: 80px;
			margin-left: -24px;
			margin-top: -24px;
			& > * {
				margin-left: 24px;
				margin-top: 24px;
			}
		}
		@media (max-width: $mbpSM) {
			margin-bottom: 64px;
		}
	}
	&__slider {
		width: 100vw;
		margin-left: calc((100vw - 100%) / -2);
		overflow: hidden;
	}
}
.archetype-category-ref {
	font-size: 24px;
	font-weight: 500;
	line-height: 110%;
	letter-spacing: -0.055em;
	text-transform: uppercase;
	@include aval(font-size, 16, 24, "both", 360, 768);
	&_structure {
		color: var(--red, #BA0000);
	}
	&_paradise {
		color: var(--green, #008000);
	}
	&_mark {
		color: var(--blue, #00F);
	}
	&_connection {
		color: var(--purple-light, #EA33F7);
	}
	& > span {
		display: inline-block;
		font-size: 31px;
		margin-right: 0.25em;
		@include aval(font-size, 24, 31, "both", 360, 768);
	}
}
.archetypes-slider {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__inner {
		position: relative;
		left: 0;
		top: 0;
		margin-bottom: 73px;
		@media (max-width: $mbpSM) {
			margin-bottom: 64px;
		}
	}
	&__slide {
		will-change: transform;
		cursor: grab;
		&:not(:first-child) {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	&__controls {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__prev-btn {
		margin-right: 100%;
	}
	&__next-btn {
		margin-left: 100%;
	}
}
.archetypes-slider-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	width: 48px;
	height: 48px;
	border: 2px solid var(--light-black, #0B0B0B);
	transition: border-color 0.4s, color 0.4s, background-color 0.4s;
	@media (any-hover: hover) {
		&:hover {
			background-color: var(--light-black);
			border: 2px solid var(--light-white);
			color: var(--light-white);
		}
	}
}

.culture-lvls {
	&__layout {
		display: grid;
		grid-template-columns: 1fr 1fr;
		@media (max-width: $mbpM) {
			grid-template-columns: 1fr;
		}
	}
	&__fig {
		grid-row: 1/span 1;
		grid-column: 1/span 2;
		@media (max-width: 960px) {
			grid-row: 4/span 1;
			grid-column: 1/span 2;
		}
	}
	&__info {
		grid-row: 1/span 1;
		grid-column: 2/span 1;
		@media (max-width: 960px) {
			grid-column: 1/span 2;
		}
		@media (max-width: $mbpM) {
			grid-column: 1/span 1;
		}
	}
	&__fig-title {
		grid-row: auto;
		grid-column: 1/span 2;
		text-align: center;
		padding: 80px 0;
		@media (max-width: $mbpT) {
			padding: 60px 0;
		}
		@media (max-width: 960px) {
			grid-row: 2/span 1;
		}
		@media (max-width: $mbpM) {
			grid-column: 1/span 1;
			padding: 40px 0;
		}
	}
	&__text {
		grid-row: auto;
		grid-column: 2/span 1;
		@media (max-width: 960px) {
			grid-column: 1/span 2;
		}
	}
	&__text_prim {
		grid-row: auto;
		grid-column: 1/span 1;
		padding-right: 40px;
		@media (max-width: $mbpT) {
			grid-column: 1/span 2;
		}
		@media (max-width: 960px) {
			grid-row: 3/span 1;
		}
	}
	&__text-inner {
		display: grid;
		gap: 40px;
		max-width: 520px;
		@media (max-width: $mbpT) {
			max-width: unset;
		}
	}
	&__text_prim &__text-inner {
		@media (max-width: $mbpT) {
			padding-bottom: 40px;
		}
	}
}
.culture-lvls-info {
	&__inner {
		display: grid;
		gap: 35px;
		align-content: start;
		max-width: 520px;
		@media (max-width: 960px) {
			gap: 25px;
			max-width: unset;
		}
		@media (max-width: $mbpM) {
			gap: 15px;
		}
	}
	&__block {
		color: var(--light-white);
		text-align: center;
		background-color: var(--light-black);
		padding: 30px 20px;
		h3 {
			margin-bottom: 10px;
		}
	}
	&__arrows {
		display: grid;
		justify-content: center;
		grid-auto-flow: column;
		gap: 50px;
		font-size: 32px;
	}
}
.culture-lvls-fig {
	&__inner {
		display: flex;
		justify-content: center;
		@media (max-width: 960px) {
			padding-bottom: 40px;
		}
	}
	&__iceberg {
		max-width: 900px;
	}
}
.culture-lvls-fig-arrow {
	&_up {
		transform: rotateZ(-90deg) scale(1, -1);
	}
	&_down {
		transform: rotateZ(90deg) scale(1, -1);
	}
}

.la-archetypes-ideas {
	position: relative;
	left: 0;
	top: 0;
	height: 250vh;
	&__body {
		display: flex;
		margin-bottom: 120px;
		width: 100%;
		@media (max-width: $mbpT) {
			margin-bottom: 60px;
		}
		@media (max-width: $mbpM) {
			margin-bottom: 30px;
		}
	}
	&__slider	{
		display: grid;
		grid-auto-flow: column;
		gap: 15vw;
	}
	&__progress-bar {
	}
	&__slide {
		flex: 1 0 100%;
	}
	&__inner {

	}
	&__container {
		display: flex;
		align-items: center;
		position: sticky;
		left: 0;
		top: 0;
		min-height: 100vh;
		overflow: hidden;
	}
	&__decor {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
	}
}
.la-idea-frame {
	display: grid;
	grid-template-columns: 1fr 1fr;
	@media (max-width: $mbpM) {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
	&__fig {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		@media (max-width: $mbpM) {
			justify-content: center;
		}
		& > * {
			flex: 0 0 100%;
		}
	}
	&:first-child &__fig > .la-animation {
		flex: 0 0 90%;
		@media (max-width: $mbpM) {
			flex-basis: 72%;
		}
	}
	&__text {
		h2 {
			margin-bottom: 70px;
			@media (max-width: $mbpT) {
				margin-bottom: 60px;
			}
			@media (max-width: $mbpM) {
				margin-bottom: 40px;
			}
		}
		p {
			max-width: 520px;
		}
		p:not(:last-child) {
			margin-bottom: 50px;
			@media (max-width: $mbpT) {
				margin-bottom: 40px;
			}
			@media (max-width: $mbpM) {
				margin-bottom: 20px;
			}
		}
	}
}
.slider-progress-bar {
	display: flex;
	--decor-height: 4px;
	&__thumb {
		flex: 0 0 max(100px, calc(100% / var(--slides-number, 3)));
		margin-left: var(--thumb-shift);
		transition: margin-left ease-in-out .3s;
	}
}
.la-article {
	counter-reset: section;
	--int-paragraph-gap: var(--paragraph-gap, 50px);
	@media (max-width: $mbpT) {
		--int-paragraph-gap: var(--paragraph-gap, 40px);
	}
	@media (max-width: $mbpM) {
		--int-paragraph-gap: var(--paragraph-gap, 20px);
	}
	&_big-gap {
		--int-paragraph-gap: var(--paragraph-gap, 120px);
		@media (max-width: $mbpT) {
			--int-paragraph-gap: var(--paragraph-gap, 80px);
		}
		@media (max-width: $mbpM) {
			--int-paragraph-gap: var(--paragraph-gap, 60px);
		}
	}
	&_small-gap {
		--int-paragraph-gap: var(--paragraph-gap, 40px);
		@media (max-width: $mbpM) {
			--int-paragraph-gap: var(--paragraph-gap, 20px);
		}
	}
	&_bottom-space, &_space {
		padding-bottom: 120px;
		@media (max-width: $mbpT) {
			padding-bottom: 80px;
		}
		@media (max-width: $mbpM) {
			padding-bottom: 60px;
		}
	}
	&_space {
		padding-top: 120px;
		@media (max-width: $mbpT) {
			padding-top: 80px;
		}
		@media (max-width: $mbpM) {
			padding-top: 60px;
		}
	}
	&__title {
		margin-bottom: 70px;
		@media (max-width: $mbpT) {
			margin-bottom: 60px;
		}
		@media (max-width: $mbpM) {
			margin-bottom: 40px;
		}
	}
	h3 {
		margin-bottom: 50px;
		@media (max-width: $mbpT) {
			margin-bottom: 40px;
		}
	}
	&__osh::before {
		content: counter(section) ".\00a0";
	}
	p, ul {
		@media (min-width: ($mbpM + 1px)) {
			max-width: 520px;
		}
	}
	p:not(:last-child), ul:not(:last-child) {
		margin-bottom:  var(--int-paragraph-gap, 50px);
	}
	ul > li {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 1em;
	}
	ul > li::before {
		content: "■";
		position: relative;
		left: 0;
		top: -0.1em;
	}
	&__title {
		&_left {
			text-align: left;
		}
	}
	&__section {
		counter-increment: section;
		display: grid;
		grid-template-columns: 50% 50%;
		@media (max-width: $mbpM) {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			gap: 40px;
		}
	}
	&__block {
		&_align-end {
			display: flex;
			align-items: end;
		}
		&_even {
			grid-column: 2/span 1;
			@media (max-width: $mbpM) {
				grid-column: 1/span 1;
			}
		}
		html[data-theme="dark"] &_light {
			display: none;
		}
		html[data-theme="light"] &_dark {
			display: none;
		}
		&_doc, &_book {
			display: flex;
			justify-content: center;
		}
		&_img-set {
			display: flex;
			align-items: flex-start;
			grid-row: 1/ span 1;
			& > * {
				flex: 1 1 500px;
			}
			@media (max-width: $mbpM) {
				justify-content: center;
			}
		}
	}
	&__block:not(&__block_even) &__block-title_save {
		padding-right: 80px;
	}
	&__block:not(&__block_even) {
		padding-right: 30px;
	}
}

.la-dialog-case {
	color: var(--light-white);
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 100px;
		@media (max-width: $mbpM) {
			padding-top: 40px;
		}
	}
	&__decor {
		align-self: flex-start;
		--decor-color: var(--light-white);
		width: 375px;
		margin-bottom: 100px;	
		@media (max-width: $mbpM) {
			width: 157px;
		}
		@media (max-width: $mbpM) {
			margin-bottom: 40px;
		}
	}
	&__primary {
		margin-bottom: 100px;
	}
	&__secondary {
		max-width: 520px;
	}
	&__chat {
		width: 790px;
		max-width: 100%;
		@media (max-width: $mbpT) {
			width: 680px;
		}
		@media (max-width: $mbpM) {
			width: 600px;
		}
	}
}
.la-chat-reproduction {
	position: relative;
	left: 0;
	top: 0;
	overflow: hidden;
	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top center;
		@media (max-width: $mbpM) {
			display: none;
		}
	}
	&__body {
		display: grid;
		grid-auto-flow: row;
		gap: 35px;
		padding: 18% 10% 6%;
		@media (max-width: $mbpT) {
			gap: 24px;
			padding: 18% 8% 8%;
		}
		@media (max-width: $mbpM) {
			gap: 14px;
			padding: 0 0 8%;
		}
	}
}
.la-chat-reproduction-msg {
	display: grid;
	grid-template-columns: auto auto;
	align-items: start;
	gap: 18px;
	color: var(--deep-black);
	max-width: 80%;
	@media (max-width: $mbpM) {
		max-width: 100%;
	}
	&_user {
	}
	&_contact {
		justify-self: end;;
	}
	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		top: -30px;
		left: 0;
		color: var(--light-white);
		margin-bottom: -100%;
		max-width: 85px;
		@media (max-width: $mbpM) {
			margin-bottom: 0;
			top: 0;
		}
	}
	&__avatar {
		width: 80px;
		height: 80px;
		object-fit: contain;
		object-position: center;
		margin-bottom: 10px;
		@media (max-width: $mbpT) {
			width: 65px;
			height: 65px;
		}
	}
	&__name {
		position: relative;
		top: 0;
		left: 0.1em;
		text-align: center;
		word-break: break-all;
	}
	&__body {
		padding: 10px;
	}
	&_user &__body {
		background-color: var(--chat-reproduction-user-msg-bg);
		border-radius: 0px 12px 12px;
	}
	&_contact &__body {
		background-color: var(--chat-reproduction-contact-msg-bg);
		border-radius: 12px 0 12px 12px;
	}
}
.la-article-quote {
	display: grid;
	gap: 24px;
	grid-template-columns: auto 1fr;
	&::before {
		content: "“";
		display: inline-block;
		position: relative;
		left: 0;
		top: -0.23em;
		font-size: 3.8em;
		margin: 0 -0.15em -4em;
	}
}
.la-artice-img {
	&_doc {
		flex: 1 1 100%;
		--height-ratio: 126%;
		margin: -10% 10% -6% 5%;
		@media (max-width: $mbpM) {
			flex: 0 0 60%;
			margin: 0;
		}
	}
	&_book {
		flex: 0 0 280px;
		--height-ratio: 143.56%;
		@media (max-width: $mbpM) {
			flex: 0 0 100%;
			max-width: 380px;
		}
	}
}
.la-article-img-set {
	display: inline-grid;
	grid-template-columns: 2.2fr 1.65fr 2.6fr;
	grid-template-rows: 1.2fr 1.5fr 0.42fr 2.45fr 0.66fr;
	max-width: 100%;
	@media (max-width: $mbpM) {
		grid-template-columns: 1.1fr 1.1fr 1.65fr 1.3fr 1.3fr;
		grid-template-rows: 1.2fr 1.5fr 0.42fr 2.45fr 0.66fr;
	}
	&__item {
		width: 100%;
		&:nth-child(1) {
			grid-column: 1/span 1;
			grid-row: 1/span 2;
			--height-ratio: 120%;
			align-self: start;
			justify-self: start;
			position: relative;
			left: -50%;
			top: 0;
			z-index: 2;
			@media (max-width: $mbpM) {
				grid-column: 1/span 2;
				left: 0;
			}
		}
		&:nth-child(2) {
			--height-ratio: 86.22%;
			grid-column: 1/span 3;
			grid-row: 2/span 3;
			@media (max-width: $mbpM) {
				grid-column: 2/span 3;
				left: 0;
			}
		}
		&:nth-child(3) {
			--height-ratio: 119.15%;
			grid-column: 3/span 1;
			grid-row: 4/span 2;
			align-self: end;
			justify-self: end;
			position: relative;
			left: 50%;
			top: 0;
			@media (max-width: $mbpM) {
				grid-column: 4/span 2;
				left: 0;
			}
		}
	}
}
.la-article-interactive {
	background-color: var(--light-black);
	padding: 50px 70px;
	&__prompt {
		color: var(--light-white);
		margin-bottom: 30px;
	}
	&__answers {
		display: grid;
		gap: 10px;
	}
}
.la-article-interactive-answer {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 20px;
	position: relative;
	left: 0;
	top: 0;
	background-color: var(--article-interactive-answer-bg);
	padding: 20px 30px;
	&::before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 10px;
		transition: background-color 0.4s;
	}
	.la-article-interactive_checked &_selected#{&}_correct::before {
		background-color: #36D536;
	}
	.la-article-interactive_checked &_selected:not(&_correct)::before {
		background-color: #FF0000;
	}
	&__text {
		grid-column: 1/span 1;
	}
	&__description {
		grid-column: 1/span 1;
	}
	&__arrow {
		align-self: center;
		grid-column: 2/span 1;
		grid-row: 1/span 1;
		transition: color 0.4s;
	}
	.la-article-interactive_checked :not(&_correct):not(&_selected) &__arrow {
		color: transparent;
	}
	.la-article-interactive_checked &_correct:not(&_selected) &__arrow {
		color: #36D536;
	}
}