@import "../../../shared/styles/mixins.scss";
@import "../../../shared/styles/config.scss";


.hero__inner {
	@include aval(padding-top, 102, 214, "both", 360, 768);
	@include aval(padding-bottom, 88, 100, "both", 360, 768);
}
.hero__title {
	text-align: left;
	@media (max-width: $mbpT) {
		text-align: center;
	}
}
.cookies-block__title {
	margin-bottom: 44px;
}
.cookies-block__switch {
	display: block;
	margin-top: 30px;
}
.cookies-block__decor {
	margin-top: 44px;
	@media (max-width: $mbpM) {
		margin-top: 88px;
	}
}
.cookies__body {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 88px 50px;
	padding-bottom: 240px;
	@media (max-width: $mbpT) {
		grid-template-columns: 1fr;
	}
	@media (max-width: $mbpM) {
		gap: 88px 0;
		padding-bottom: 120px;
	}
	@media (max-width: $mbpMM) {
		padding-bottom: 88px;
	}
}
.cookies__about .cookies-block__decor {
	@media (min-width: ($mbpT + 1px)) {
		display: none;
	}
}
.cookies__settings {
	display: grid;
	gap: 88px;
	@media (max-width: $mbpM) {
		gap: 88px 0;
	}
}
.cookies__desc {
	grid-column: auto/span 2;
	display: grid;
	gap: 88px;
	@media (max-width: $mbpT) {
		grid-column: auto/span 1;
	}
}

.cookies-table {
	@media (max-width: $mbpT) {
		display: grid;
		gap: 44px;
	}
}
.cookies-table__header {
	padding-bottom: 34px;
	border-bottom: 1px solid var(--light-black);
	@media (max-width: $mbpT) {
		display: none;
	}
}
.cookies-table__row {
	display: grid;
	grid-template-columns: 2.9fr 2.9fr 2.9fr 4fr;
	gap: 20px;
	padding: 34px 0px;
	border-bottom: 1px solid var(--light-grey);
	@media (max-width: $mbpT) {
		grid-template-columns: 1fr;
		gap: 0;
		padding: 0px;
		border-bottom: none;
	}
	.cookies-table__header & {
		border-bottom: none;
	}
}
.cookies-table__col {
	.cookies-table__row &:nth-child(3) {
		word-break: break-word;
	}
	@media (max-width: $mbpT) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		border-bottom: 1px solid var(--light-grey);
		padding: 30px 0px;
		&:first-child {
			border-bottom: 1px solid var(--light-black);
		}
	}
	dt {
		@media (min-width: ($mbpT + 1px)) {
			display: none;
		}
	}
	dt, dd {
		padding-right: 10px;
	}
}