@import "../../../shared/styles/mixins.scss";
@import "../../../shared/styles/config.scss";

.request__body {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: min-content;
	@media (max-width: 1200px) {
		grid-template-columns: 1fr;
		gap: 100px;
	}
	@media (max-width: $mbpM) {
		gap: 60px;
	}
}
.request-form {
	--messages-bg: var(--light-black);
	@include aval(padding-top, 144, 214, "both", 360, 1680);
}
.request-form__header {
	padding-right: 40px;
	@media (max-width: 1200px) {
		padding-right: 0;
	}
}
.request-form__category-select {
	padding-right: 40px;
	margin-bottom: 100px;
	@media (max-width: 1200px) {
		padding-right: 0;
		margin-bottom: 60px;
	}
}
.request-form__title {
	text-align-last: left;
	@include aval(margin-bottom, 32, 70, "both", 360, 768);
}
.request-form__msg {
	@include aval(margin-bottom, 60, 100, "both", 360, 1024);
}
.request-form__footer {
	padding-top: 25px;
	margin-bottom:  30px;
	padding-right: 40px;
	@media (max-width: 1200px) {
		padding-right: 0;
	}
	@media (max-width: $mbpM) {
		margin-bottom:  40px;
	}
}
.request-form__attachments {
	--gap: 20px;
	margin-bottom: 30px;
}
.request-form__banner {
	position: sticky;
	top: 0;
	margin-right: calc(var(--container-margin) * -1);
	margin-top: 92px;
	@media (max-width: 1200px) {
		display: none;
		//margin-left: calc(var(--container-margin) * -1);
	}
	// @media (max-width: 600px) {
	// 	margin-top: 62px;
	// }
}
.request-form__separator {
	&_desc {
		@media (min-width: 768px) and (max-width: 1200px) {
			display: none;
		}
	}
}
.request-form__row {
	&_col2 {
		@media (max-width: 1200px) {
			grid-template-columns: 1fr 1fr;
		}
	}
}
.request-drawer-banner {
	left: 0;
	top: 0;
	height: 100vh;
	--height-ratio: 100%;
	overflow: hidden;
	padding-top: 100%;
	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: black;
		opacity: 0.3;
	}
	&__inner {
		position: absolute;
		top: 0;
		left: 0;
		width: 233.333%;
		height: 100%;
		margin-right: -133.333%;
		animation: request-banner-move 80s linear infinite;
		@keyframes request-banner-move {
			from { transform: translateX(0%); };
			to { transform: translateX(-57.143%); };
		}
	}
}